#sport-simple-east {
  --bodyBg: #242424;
  --bodyBg2: #7a7a7a;
  --bodyTxt: #fff;
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);

  --headerBg: #2b2b2b;
  --headerTxt: #fff;

  --tabActiveBg: #1d1d1d;
  --tabActiveTxt: #fff;

  --oddBg: #ca8c00;
  --oddTxt: #fff;

  --oddActiveBg: #d7a94f;
  --oddActiveTxt: #000;

  --oddBg2: #a97c09;
  --oddActiveBg2: #73c0ff;

  --inputBg: #fff;
  --inputTxt: #000;

  --dominantBg: #242424;
  --dominantTxt: #fff;

  /* - - - Skinning Update - - - */

  --modalBg: #242424;
  --modalBg2: #2b2b2b;
  --modalTxt: #fff;

  --eventBg: #fff;
  --eventBg2: #efefef;
  --eventBg3: #dadada;
  --eventTxt: #000;
  --eventTxt2: rgba(0, 0, 0, 0.6);
  --eventBorder: #000;
  --eventAccent: #fdb510;

  --subHeaderBg: #242424;
  --subHeaderTxt: #fff;

  --buttonBg: #d9d9d9;
  --buttonTxt: #000;
  --buttonAccent: #fdb510;
  --buttonAccentTxt: #000;

  --showMoreBg: transparent;
  --showMoreTxt: var(--error);
  --showMoreAccent: #e46e1c;

  --accentBg: #e46e1c;
  --accentTxt: #fff;

  --bodyBg3: #4a4a4a;
  --bodyBgHover: #2c2c2c;
  --bodyBg2Hover: #454545;
  --bodyBg3Hover: #525252;
  --bodyRGBA: rgba(36, 36, 36, 0.7);
  --bodyRGBA2: rgba(36, 36, 36, 0.5);
  --bodyRGBA3: rgba(36, 36, 36, 0.3);
  --bodyAccent: #e46e1c;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyBorder: #242424;
  --bodyRadius: 0px;

  --dominantRGBA: rgba(36, 36, 36, 0.7);
  --dominantRGBA2: rgba(36, 36, 36, 0.5);
  --dominantRGBA3: rgba(36, 36, 36, 0.3);
  --dominantBg2: #3d3d3d;
  --dominantBg3: #4a4a4a;
  --dominantBgHover: #2c2c2c;
  --dominantBg2Hover: #454545;
  --dominantBg3Hover: #525252;
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg2: #e98b4a;
  --accentBg3: #ec9a60;
  --accentBgHover: #e6772a;
  --accentBg2Hover: #eb9458;
  --accentBg3Hover: #eea36e;
  --accentTxt2: rgba(255, 255, 255, 0.6);
  --accentTxt3: rgba(255, 255, 255, 0.4);

  --buttonBg2: #f2f2f2;
  --buttonBg3: #ffffff;
  --buttonBgHover: #e1e1e1;
  --buttonBg2Hover: #fafafa;
  --buttonBg3Hover: #ffffff;
  --buttonTxt2: rgba(0, 0, 0, 0.6);
  --buttonTxt3: rgba(0, 0, 0, 0.4);
  --buttonBorder: #242424;
  --buttonRadius: 0px;

  --buttonSecondaryG: #525252;
  --buttonSecondaryBg: #525252;
  --buttonSecondaryBg2: #6b6b6b;
  --buttonSecondaryBg3: #787878;
  --buttonSecondaryBgHover: #5a5a5a;
  --buttonSecondaryBg2Hover: #737373;
  --buttonSecondaryBg3Hover: #808080;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #e46e1c;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryBorder: #242424;
  --buttonSecondaryRadius: 0px;

  --inputBg2: #ffffff;
  --inputBg3: #ffffff;
  --inputBgHover: #ffffff;
  --inputBg2Hover: #ffffff;
  --inputBg3Hover: #ffffff;
  --inputTxt2: rgba(0, 0, 0, 0.6);
  --inputTxt3: rgba(0, 0, 0, 0.4);
  --inputAccent: #e46e1c;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRadius: 0px;
  --inputBorder: #242424;

  --inputSecondaryG: #ffffff;
  --inputSecondaryBg: #ffffff;
  --inputSecondaryBg2: #ffffff;
  --inputSecondaryBg3: #ffffff;
  --inputSecondaryBgHover: #ffffff;
  --inputSecondaryBg2Hover: #ffffff;
  --inputSecondaryBg3Hover: #ffffff;
  --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
  --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
  --inputSecondaryAccent: #e46e1c;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #242424;

  --headerBg2: #444444;
  --headerBg3: #515151;
  --headerBgHover: #333333;
  --headerBg2Hover: #4c4c4c;
  --headerBg3Hover: #595959;
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #e46e1c;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerBorder: #242424;
  --headerRadius: 0px;

  --subHeaderBg2: #3d3d3d;
  --subHeaderBg3: #4a4a4a;
  --subHeaderBgHover: #2c2c2c;
  --subHeaderBg2Hover: #454545;
  --subHeaderBg3Hover: #525252;
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #e46e1c;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderBorder: #242424;
  --subHeaderRadius: 0px;

  --eventBgHover: #ffffff;
  --eventBg2Hover: #ffffff;
  --eventBg3Hover: #ffffff;
  --eventTxt3: rgba(0, 0, 0, 0.4);
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventRadius: 0px;

  --modalBg2: #3d3d3d;
  --modalBg3: #4a4a4a;
  --modalBgHover: #2c2c2c;
  --modalBg2Hover: #454545;
  --modalBg3Hover: #525252;
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #e46e1c;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRadius: 0px;
  --modalBorder: #242424;

  --oddBg3: #ffb817;
  --oddBgHover: #d99700;
  --oddBg2Hover: #ffb40d;
  --oddBg3Hover: #ffbd26;
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #e46e1c;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRadius: 0px;
  --oddBorder: #242424;

  --oddActiveBg3: #e5c78d;
  --oddActiveBgHover: #daaf5b;
  --oddActiveBg2Hover: #e3c385;
  --oddActiveBg3Hover: #e8cd99;
  --oddActiveTxt: rgba(0, 0, 0, 0.9);
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #e46e1c;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #242424;

  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #242424;

  --tabG: #3d3d3d;
  --tabBg: #3d3d3d;
  --tabBg2: #565656;
  --tabBg3: #636363;
  --tabBgHover: #454545;
  --tabBg2Hover: #5e5e5e;
  --tabBg3Hover: #6b6b6b;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #e46e1c;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRadius: 0px;
  --tabBorder: #242424;

  --tabActiveBg2: #363636;
  --tabActiveBg3: #434343;
  --tabActiveBgHover: #252525;
  --tabActiveBg2Hover: #3e3e3e;
  --tabActiveBg3Hover: #4b4b4b;
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #e46e1c;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #242424;

  --tabSecondaryActiveG: #454545;
  --tabSecondaryActiveBg: #454545;
  --tabSecondaryActiveBg2: #5e5e5e;
  --tabSecondaryActiveBg3: #6b6b6b;
  --tabSecondaryActiveBgHover: #4d4d4d;
  --tabSecondaryActiveBg2Hover: #666666;
  --tabSecondaryActiveBg3Hover: #737373;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #e46e1c;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #242424;

  --filterG: #ffffff;
  --filterBg: #ffffff;
  --filterBg2: #ffffff;
  --filterBg3: #ffffff;
  --filterBgHover: #ffffff;
  --filterBg2Hover: #ffffff;
  --filterBg3Hover: #ffffff;
  --filterTxt: rgba(0, 0, 0, 0.9);
  --filterTxt2: rgba(0, 0, 0, 0.6);
  --filterTxt3: rgba(0, 0, 0, 0.4);
  --filterAccent: #e46e1c;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRadius: 0px;
  --filterBorder: #242424;

  --menu_1G: #3d3d3d;
  --menu_1Bg: #3d3d3d;
  --menu_1Bg2: #565656;
  --menu_1Bg3: #636363;
  --menu_1BgHover: #454545;
  --menu_1Bg2Hover: #5e5e5e;
  --menu_1Bg3Hover: #6b6b6b;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #e46e1c;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #242424;

  --menu_2G: #454545;
  --menu_2Bg: #454545;
  --menu_2Bg2: #5e5e5e;
  --menu_2Bg3: #6b6b6b;
  --menu_2BgHover: #4d4d4d;
  --menu_2Bg2Hover: #666666;
  --menu_2Bg3Hover: #737373;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #e46e1c;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #242424;

  --menu_3G: #4a4a4a;
  --menu_3Bg: #4a4a4a;
  --menu_3Bg2: #636363;
  --menu_3Bg3: #707070;
  --menu_3BgHover: #525252;
  --menu_3Bg2Hover: #6b6b6b;
  --menu_3Bg3Hover: #787878;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #e46e1c;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #242424;

  --tooltipG: #3d3d3d;
  --tooltipBg: #3d3d3d;
  --tooltipBg2: #565656;
  --tooltipBg3: #636363;
  --tooltipBgHover: #454545;
  --tooltipBg2Hover: #5e5e5e;
  --tooltipBg3Hover: #6b6b6b;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #e46e1c;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #242424;

  /* Old betslip */
  --betSlipBg: #3d3d3d;
  --betSlipBg2: #565656;
  --betSlipBorder: #242424;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipTxt2: rgba(255, 255, 255, 0.6);

  --betSlipStakeG: #454545;
  --betSlipStakeBg: #454545;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipInputG: #454545;
  --betSlipInputTxt: rgba(255, 255, 255, 0.9);

  --betSlipButtonG: #454545;
  --betSlipButtonBg2: #5e5e5e;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
  --betSlipButtonRadius: 0px;

  --spritePositionX: 0px;
}

.mainPageContentWrapper {
  height: calc(100% - 46px);
}

.bonuses_container > div::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.bonuses_container > div::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

.bonuses_container > div::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}

.mt_event_details_market_row .mt_event_details_stakes_wrapper .mt_stake {
  color: #000;
  background-color: #fff;
}
