#sport-simple-east {
  /*Background Colors*/

  --bodyBg: #585858;
  --headerBg: #242424;

  --bodyTxt: #ffffff;
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);

  /*Navbar tabs*/

  --tabActiveBg: #1d1d1d;
  --tabActiveTxt: #fff;

  /*Odd Colors*/

  --oddBg: #cd7b10;
  --oddTxt: #ffffff;

  --oddActiveBg: #d7a94f;
  --oddActiveTxt: #000;

  --oddBg2: #d7a94f;
  --oddActiveBg2: #d7a94f;

  --headerTxt: #fff;

  --inputBg: #fff;
  --inputTxt: #000;

  --dominantBg: #1a1a1a;
  --dominantTxt: #fff;

  /* - - - Skinning Update - - - */

  --modalBg: #242424;
  --modalBg2: #2b2b2b;
  --modalTxt: #fff;

  --eventBg: #fff;
  --eventBg2: #efefef;
  --eventBg3: #dadada;
  --eventTxt: #000;
  --eventTxt2: rgba(0, 0, 0, 0.6);
  --eventBorder: #000;
  --eventAccent: #fdb510;

  --subHeaderBg: #2c2c2c;
  --subHeaderTxt: #fff;

  --buttonBg: #d9d9d9;
  --buttonTxt: #000;
  --buttonAccent: #ca8c00;
  --buttonAccentTxt: #fff;

  --showMoreBg: transparent;
  --showMoreTxt: #ca8c00;
  --showMoreAccent: #ca8c00;

  --accentBg: #fec401;
  --accentTxt: #000;

  --bodyBg2: #717171;
  --bodyBg3: #7e7e7e;
  --bodyBgHover: #606060;
  --bodyBg2Hover: #797979;
  --bodyBg3Hover: #868686;
  --bodyRGBA: rgba(88, 88, 88, 0.7);
  --bodyRGBA2: rgba(88, 88, 88, 0.5);
  --bodyRGBA3: rgba(88, 88, 88, 0.3);
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);
  --bodyAccent: #fec401;
  --bodyAccentTxt: rgba(0, 0, 0, 0.9);
  --bodyBorder: #585858;
  --bodyRadius: 0px;

  --dominantRGBA: rgba(26, 26, 26, 0.7);
  --dominantRGBA2: rgba(26, 26, 26, 0.5);
  --dominantRGBA3: rgba(26, 26, 26, 0.3);
  --dominantBg2: #333333;
  --dominantBg3: #404040;
  --dominantBgHover: #222222;
  --dominantBg2Hover: #3b3b3b;
  --dominantBg3Hover: #484848;
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg2: #fed034;
  --accentBg3: #fed64d;
  --accentBgHover: #fec810;
  --accentBg2Hover: #fed443;
  --accentBg3Hover: #feda5c;
  --accentTxt2: rgba(0, 0, 0, 0.6);
  --accentTxt3: rgba(0, 0, 0, 0.4);

  --buttonBg2: #f2f2f2;
  --buttonBg3: #ffffff;
  --buttonBgHover: #e1e1e1;
  --buttonBg2Hover: #fafafa;
  --buttonBg3Hover: #ffffff;
  --buttonTxt2: rgba(0, 0, 0, 0.6);
  --buttonTxt3: rgba(0, 0, 0, 0.4);
  --buttonBorder: #585858;
  --buttonRadius: 0px;

  --buttonSecondaryG: #868686;
  --buttonSecondaryBg: #868686;
  --buttonSecondaryBg2: #9f9f9f;
  --buttonSecondaryBg3: #acacac;
  --buttonSecondaryBgHover: #8e8e8e;
  --buttonSecondaryBg2Hover: #a7a7a7;
  --buttonSecondaryBg3Hover: #b4b4b4;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #fec401;
  --buttonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --buttonSecondaryBorder: #585858;
  --buttonSecondaryRadius: 0px;

  --inputBg2: #ffffff;
  --inputBg3: #ffffff;
  --inputBgHover: #ffffff;
  --inputBg2Hover: #ffffff;
  --inputBg3Hover: #ffffff;
  --inputTxt2: rgba(0, 0, 0, 0.6);
  --inputTxt3: rgba(0, 0, 0, 0.4);
  --inputAccent: #fec401;
  --inputAccentTxt: rgba(0, 0, 0, 0.9);
  --inputRadius: 0px;
  --inputBorder: #585858;

  --inputSecondaryG: #ffffff;
  --inputSecondaryBg: #ffffff;
  --inputSecondaryBg2: #ffffff;
  --inputSecondaryBg3: #ffffff;
  --inputSecondaryBgHover: #ffffff;
  --inputSecondaryBg2Hover: #ffffff;
  --inputSecondaryBg3Hover: #ffffff;
  --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
  --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
  --inputSecondaryAccent: #fec401;
  --inputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #585858;

  --headerBg2: #3d3d3d;
  --headerBg3: #4a4a4a;
  --headerBgHover: #2c2c2c;
  --headerBg2Hover: #454545;
  --headerBg3Hover: #525252;
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #fec401;
  --headerAccentTxt: rgba(0, 0, 0, 0.9);
  --headerBorder: #585858;
  --headerRadius: 0px;

  --subHeaderBg2: #454545;
  --subHeaderBg3: #525252;
  --subHeaderBgHover: #343434;
  --subHeaderBg2Hover: #4d4d4d;
  --subHeaderBg3Hover: #5a5a5a;
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #fec401;
  --subHeaderAccentTxt: rgba(0, 0, 0, 0.9);
  --subHeaderBorder: #585858;
  --subHeaderRadius: 0px;

  --eventBgHover: #ffffff;
  --eventBg2Hover: #ffffff;
  --eventBg3Hover: #ffffff;
  --eventTxt3: rgba(0, 0, 0, 0.4);
  --eventAccentTxt: rgba(0, 0, 0, 0.9);
  --eventRadius: 0px;

  --modalBg3: #4a4a4a;
  --modalBgHover: #2c2c2c;
  --modalBg2Hover: #454545;
  --modalBg3Hover: #525252;
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #fec401;
  --modalAccentTxt: rgba(0, 0, 0, 0.9);
  --modalRadius: 0px;
  --modalBorder: #585858;

  --oddBg3: #f0a13a;
  --oddBgHover: #db8411;
  --oddBg2Hover: #ef9c30;
  --oddBg3Hover: #f1a848;
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #fec401;
  --oddAccentTxt: rgba(0, 0, 0, 0.9);
  --oddRadius: 0px;
  --oddBorder: #585858;

  --oddActiveBg3: #e5c78d;
  --oddActiveBgHover: #daaf5b;
  --oddActiveBg2Hover: #e3c385;
  --oddActiveBg3Hover: #e8cd99;
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #fec401;
  --oddActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #585858;

  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccentTxt: rgba(0, 0, 0, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #585858;

  --tabG: #333333;
  --tabBg: #333333;
  --tabBg2: #4d4d4d;
  --tabBg3: #595959;
  --tabBgHover: #3b3b3b;
  --tabBg2Hover: #555555;
  --tabBg3Hover: #616161;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #fec401;
  --tabAccentTxt: rgba(0, 0, 0, 0.9);
  --tabRadius: 0px;
  --tabBorder: #585858;

  --tabActiveBg2: #363636;
  --tabActiveBg3: #434343;
  --tabActiveBgHover: #252525;
  --tabActiveBg2Hover: #3e3e3e;
  --tabActiveBg3Hover: #4b4b4b;
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #fec401;
  --tabActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #585858;

  --tabSecondaryActiveG: #3b3b3b;
  --tabSecondaryActiveBg: #3b3b3b;
  --tabSecondaryActiveBg2: #545454;
  --tabSecondaryActiveBg3: #616161;
  --tabSecondaryActiveBgHover: #434343;
  --tabSecondaryActiveBg2Hover: #5c5c5c;
  --tabSecondaryActiveBg3Hover: #696969;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #fec401;
  --tabSecondaryActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #585858;

  --filterG: #ffffff;
  --filterBg: #ffffff;
  --filterBg2: #ffffff;
  --filterBg3: #ffffff;
  --filterBgHover: #ffffff;
  --filterBg2Hover: #ffffff;
  --filterBg3Hover: #ffffff;
  --filterTxt: rgba(0, 0, 0, 0.9);
  --filterTxt2: rgba(0, 0, 0, 0.6);
  --filterTxt3: rgba(0, 0, 0, 0.4);
  --filterAccent: #fec401;
  --filterAccentTxt: rgba(0, 0, 0, 0.9);
  --filterRadius: 0px;
  --filterBorder: #585858;

  --menu_1G: #333333;
  --menu_1Bg: #333333;
  --menu_1Bg2: #4d4d4d;
  --menu_1Bg3: #595959;
  --menu_1BgHover: #3b3b3b;
  --menu_1Bg2Hover: #555555;
  --menu_1Bg3Hover: #616161;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #fec401;
  --menu_1AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #585858;

  --menu_2G: #3b3b3b;
  --menu_2Bg: #3b3b3b;
  --menu_2Bg2: #545454;
  --menu_2Bg3: #616161;
  --menu_2BgHover: #434343;
  --menu_2Bg2Hover: #5c5c5c;
  --menu_2Bg3Hover: #696969;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #fec401;
  --menu_2AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #585858;

  --menu_3G: #404040;
  --menu_3Bg: #404040;
  --menu_3Bg2: #595959;
  --menu_3Bg3: #666666;
  --menu_3BgHover: #484848;
  --menu_3Bg2Hover: #616161;
  --menu_3Bg3Hover: #6e6e6e;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #fec401;
  --menu_3AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #585858;

  --tooltipG: #333333;
  --tooltipBg: #333333;
  --tooltipBg2: #4d4d4d;
  --tooltipBg3: #595959;
  --tooltipBgHover: #3b3b3b;
  --tooltipBg2Hover: #555555;
  --tooltipBg3Hover: #616161;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #fec401;
  --tooltipAccentTxt: rgba(0, 0, 0, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #585858;

  /* Old betslip */
  --betSlipBg: #333333;
  --betSlipBg2: #4d4d4d;
  --betSlipBorder: #585858;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipTxt2: rgba(255, 255, 255, 0.6);

  --betSlipStakeG: #3b3b3b;
  --betSlipStakeBg: #3b3b3b;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipInputG: #3b3b3b;
  --betSlipInputTxt: rgba(255, 255, 255, 0.9);

  --betSlipButtonG: #3b3b3b;
  --betSlipButtonBg2: #545454;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
  --betSlipButtonRadius: 0px;

  --spritePositionX: 0px;
}

.mt_event_details_market_row .mt_event_details_stakes_wrapper .mt_stake {
  color: #000;
  background-color: #fff;
}
