#sport-simple-east {
  /*Background Colors*/

  --bodyBg: #000000;
  --headerBg: #3b3b3a;

  --bodyTxt: #cad3ef;
  --bodyTxt2: rgba(202, 211, 239, 0.6);
  --bodyTxt3: rgba(202, 211, 239, 0.4);

  /*Navbar tabs*/

  --tabActiveBg: #323230;
  --tabActiveTxt: #fff;

  /*Odd Colors*/

  --oddBg: #535353;
  --oddTxt: #ffffff;

  --oddActiveBg: #b6a339;
  --oddActiveTxt: #000;

  --oddBg2: #d7a94f;
  --oddActiveBg2: #d7a94f;

  --headerTxt: #fff;

  --inputBg: #fff;
  --inputTxt: #000;

  --dominantBg: #131928;
  --dominantTxt: #fff;

  --bg-color-4: #222222;
  --txt-green: #cbb640;

  /* - - - Skinning Update - - - */

  --modalBg: #242424;
  --modalBg2: #2b2b2b;
  --modalTxt: #fff;

  --eventBg: #fff;
  --eventBg2: #efefef;
  --eventBg3: #dadada;
  --eventTxt: #000;
  --eventTxt2: rgba(0, 0, 0, 0.6);
  --eventBorder: #000;
  --eventAccent: #cbb640;

  --subHeaderBg: #565656;
  --subHeaderTxt: #fff;

  --buttonBg: #d9d9d9;
  --buttonTxt: #000;
  --buttonAccent: #cbb640;
  --buttonAccentTxt: #000;

  --showMoreBg: #000000;
  --showMoreTxt: #cbb640;
  --showMoreAccent: transparent;

  --accentBg: #cbb640;
  --accentTxt: #000;

  --bodyBg2: #1a1a1a;
  --bodyBg3: #262626;
  --bodyBgHover: #080808;
  --bodyBg2Hover: #222222;
  --bodyBg3Hover: #2e2e2e;
  --bodyRGBA: rgba(0, 0, 0, 0.7);
  --bodyRGBA2: rgba(0, 0, 0, 0.5);
  --bodyRGBA3: rgba(0, 0, 0, 0.3);
  --bodyAccent: #cbb640;
  --bodyAccentTxt: rgba(0, 0, 0, 0.9);
  --bodyBorder: #000000;
  --bodyRadius: 0px;

  --dominantRGBA: rgba(19, 25, 40, 0.7);
  --dominantRGBA2: rgba(19, 25, 40, 0.5);
  --dominantRGBA3: rgba(19, 25, 40, 0.3);
  --dominantBg2: #232f4b;
  --dominantBg3: #2c395c;
  --dominantBgHover: #181f32;
  --dominantBg2Hover: #283655;
  --dominantBg3Hover: #313f66;
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg2: #d6c568;
  --accentBg3: #dbcd7c;
  --accentBgHover: #cebb4c;
  --accentBg2Hover: #d9ca74;
  --accentBg3Hover: #ded288;
  --accentTxt2: rgba(0, 0, 0, 0.6);
  --accentTxt3: rgba(0, 0, 0, 0.4);

  --buttonBg2: #f2f2f2;
  --buttonBg3: #ffffff;
  --buttonBgHover: #e1e1e1;
  --buttonBg2Hover: #fafafa;
  --buttonBg3Hover: #ffffff;
  --buttonTxt2: rgba(0, 0, 0, 0.6);
  --buttonTxt3: rgba(0, 0, 0, 0.4);
  --buttonBorder: #000000;
  --buttonRadius: 0px;

  --buttonSecondaryG: #2e2e2e;
  --buttonSecondaryBg: #2e2e2e;
  --buttonSecondaryBg2: #474747;
  --buttonSecondaryBg3: #545454;
  --buttonSecondaryBgHover: #363636;
  --buttonSecondaryBg2Hover: #4f4f4f;
  --buttonSecondaryBg3Hover: #5c5c5c;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #cbb640;
  --buttonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --buttonSecondaryBorder: #000000;
  --buttonSecondaryRadius: 0px;

  --inputBg2: #ffffff;
  --inputBg3: #ffffff;
  --inputBgHover: #ffffff;
  --inputBg2Hover: #ffffff;
  --inputBg3Hover: #ffffff;
  --inputTxt2: rgba(0, 0, 0, 0.6);
  --inputTxt3: rgba(0, 0, 0, 0.4);
  --inputAccent: #cbb640;
  --inputAccentTxt: rgba(0, 0, 0, 0.9);
  --inputRadius: 0px;
  --inputBorder: #000000;

  --inputSecondaryG: #ffffff;
  --inputSecondaryBg: #ffffff;
  --inputSecondaryBg2: #ffffff;
  --inputSecondaryBg3: #ffffff;
  --inputSecondaryBgHover: #ffffff;
  --inputSecondaryBg2Hover: #ffffff;
  --inputSecondaryBg3Hover: #ffffff;
  --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
  --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
  --inputSecondaryAccent: #cbb640;
  --inputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #000000;

  --headerBg2: #555553;
  --headerBg3: #626260;
  --headerBgHover: #434342;
  --headerBg2Hover: #5d5d5b;
  --headerBg3Hover: #6a6a68;
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #cbb640;
  --headerAccentTxt: rgba(0, 0, 0, 0.9);
  --headerBorder: #000000;
  --headerRadius: 0px;

  --subHeaderBg2: #6f6f6f;
  --subHeaderBg3: #7c7c7c;
  --subHeaderBgHover: #5e5e5e;
  --subHeaderBg2Hover: #777777;
  --subHeaderBg3Hover: #848484;
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #cbb640;
  --subHeaderAccentTxt: rgba(0, 0, 0, 0.9);
  --subHeaderBorder: #000000;
  --subHeaderRadius: 0px;

  --eventBgHover: #ffffff;
  --eventBg2Hover: #ffffff;
  --eventBg3Hover: #ffffff;
  --eventTxt3: rgba(0, 0, 0, 0.4);
  --eventAccentTxt: rgba(0, 0, 0, 0.9);
  --eventRadius: 0px;

  --modalBg3: #4a4a4a;
  --modalBgHover: #2c2c2c;
  --modalBg2Hover: #454545;
  --modalBg3Hover: #525252;
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #cbb640;
  --modalAccentTxt: rgba(0, 0, 0, 0.9);
  --modalRadius: 0px;
  --modalBorder: #000000;

  --oddBg3: #797979;
  --oddBgHover: #5b5b5b;
  --oddBg2Hover: #747474;
  --oddBg3Hover: #818181;
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #cbb640;
  --oddAccentTxt: rgba(0, 0, 0, 0.9);
  --oddRadius: 0px;
  --oddBorder: #000000;

  --oddActiveBg3: #d1c16b;
  --oddActiveBgHover: #c2ad3d;
  --oddActiveBg2Hover: #cfbe63;
  --oddActiveBg3Hover: #d5c677;
  --oddActiveTxt: rgba(0, 0, 0, 0.9);
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #cbb640;
  --oddActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #000000;

  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccentTxt: rgba(0, 0, 0, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #000000;

  --tabG: #232f4b;
  --tabBg: #232f4b;
  --tabBg2: #33456e;
  --tabBg3: #3b507f;
  --tabBgHover: #283655;
  --tabBg2Hover: #384c78;
  --tabBg3Hover: #405789;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #cbb640;
  --tabAccentTxt: rgba(0, 0, 0, 0.9);
  --tabRadius: 0px;
  --tabBorder: #000000;

  --tabActiveBg2: #4c4c49;
  --tabActiveBg3: #595955;
  --tabActiveBgHover: #3a3a37;
  --tabActiveBg2Hover: #545450;
  --tabActiveBg3Hover: #61615c;
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #cbb640;
  --tabActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #000000;

  --tabSecondaryActiveG: #283655;
  --tabSecondaryActiveBg: #283655;
  --tabSecondaryActiveBg2: #384c78;
  --tabSecondaryActiveBg3: #405789;
  --tabSecondaryActiveBgHover: #2d3d5f;
  --tabSecondaryActiveBg2Hover: #3d5382;
  --tabSecondaryActiveBg3Hover: #455e93;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #cbb640;
  --tabSecondaryActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #000000;

  --filterG: #ffffff;
  --filterBg: #ffffff;
  --filterBg2: #ffffff;
  --filterBg3: #ffffff;
  --filterBgHover: #ffffff;
  --filterBg2Hover: #ffffff;
  --filterBg3Hover: #ffffff;
  --filterTxt: rgba(0, 0, 0, 0.9);
  --filterTxt2: rgba(0, 0, 0, 0.6);
  --filterTxt3: rgba(0, 0, 0, 0.4);
  --filterAccent: #cbb640;
  --filterAccentTxt: rgba(0, 0, 0, 0.9);
  --filterRadius: 0px;
  --filterBorder: #000000;

  --menu_1G: #232f4b;
  --menu_1Bg: #232f4b;
  --menu_1Bg2: #33456e;
  --menu_1Bg3: #3b507f;
  --menu_1BgHover: #283655;
  --menu_1Bg2Hover: #384c78;
  --menu_1Bg3Hover: #405789;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #cbb640;
  --menu_1AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #000000;

  --menu_2G: #283655;
  --menu_2Bg: #283655;
  --menu_2Bg2: #384c78;
  --menu_2Bg3: #405789;
  --menu_2BgHover: #2d3d5f;
  --menu_2Bg2Hover: #3d5382;
  --menu_2Bg3Hover: #455e93;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #cbb640;
  --menu_2AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #000000;

  --menu_3G: #2c395c;
  --menu_3Bg: #2c395c;
  --menu_3Bg2: #3c4e7e;
  --menu_3Bg3: #455990;
  --menu_3BgHover: #313f66;
  --menu_3Bg2Hover: #415488;
  --menu_3Bg3Hover: #4a5f9a;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #cbb640;
  --menu_3AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #000000;

  --tooltipG: #232f4b;
  --tooltipBg: #232f4b;
  --tooltipBg2: #33456e;
  --tooltipBg3: #3b507f;
  --tooltipBgHover: #283655;
  --tooltipBg2Hover: #384c78;
  --tooltipBg3Hover: #405789;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #cbb640;
  --tooltipAccentTxt: rgba(0, 0, 0, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #000000;

  /* Old betslip */
  --betSlipBg: #232f4b;
  --betSlipBg2: #33456e;
  --betSlipBorder: #000000;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipTxt2: rgba(255, 255, 255, 0.6);

  --betSlipStakeG: #283655;
  --betSlipStakeBg: #283655;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipInputG: #283655;
  --betSlipInputTxt: rgba(255, 255, 255, 0.9);

  --betSlipButtonG: #283655;
  --betSlipButtonBg2: #384c78;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
  --betSlipButtonRadius: 0px;

  --spritePositionX: 0px;
}

.mt_event_details_market_row .mt_event_details_stakes_wrapper .mt_stake {
  color: #000;
  background-color: #fff;
}
