#sport-simple-east {
  /*Background Colors*/

  --bodyBg: #1a1a1a;
  --headerBg: #1a1a1a;

  --bodyTxt: #ffffff;
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);

  /*Navbar tabs*/

  --tabActiveBg: #151515;
  --tabActiveTxt: #fff;

  /*Odd Colors*/

  --oddBg: #fec705;
  --oddTxt: #1a1a13;

  --oddActiveBg: #d7a94f;
  --oddActiveTxt: #000;

  --oddBg2: #d7a94f;
  --oddActiveBg2: #d7a94f;

  --headerTxt: #fff;

  --inputBg: #fff;
  --inputTxt: #000;

  --dominantBg: #010101;
  --dominantTxt: #fff;
  /* - - - Skinning Update - - - */

  --modalBg: #242424;
  --modalBg2: #2b2b2b;
  --modalTxt: #fff;

  --eventBg: #fff;
  --eventBg2: #efefef;
  --eventBg3: #dadada;
  --eventTxt: #000;
  --eventTxt2: rgba(0, 0, 0, 0.6);
  --eventBorder: #000;
  --eventAccent: #fdb510;

  --subHeaderBg: #242424;
  --subHeaderTxt: #f58d01;

  --buttonBg: #d9d9d9;
  --buttonTxt: #000;
  --buttonAccent: #f8a536;
  --buttonAccentTxt: #fff;

  --showMoreBg: transparent;
  --showMoreTxt: var(--error);
  --showMoreAccent: #e46e1c;

  --accentBg: #e46e1c;
  --accentTxt: #fff;

  --bodyBg2: #333333;
  --bodyBg3: #404040;
  --bodyBgHover: #222222;
  --bodyBg2Hover: #3b3b3b;
  --bodyBg3Hover: #484848;
  --bodyRGBA: rgba(26, 26, 26, 0.7);
  --bodyRGBA2: rgba(26, 26, 26, 0.5);
  --bodyRGBA3: rgba(26, 26, 26, 0.3);
  --bodyAccent: #e46e1c;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyBorder: #1a1a1a;
  --bodyRadius: 0px;

  --dominantRGBA: rgba(1, 1, 1, 0.7);
  --dominantRGBA2: rgba(1, 1, 1, 0.5);
  --dominantRGBA3: rgba(1, 1, 1, 0.3);
  --dominantBg2: #1a1a1a;
  --dominantBg3: #272727;
  --dominantBgHover: #090909;
  --dominantBg2Hover: #222222;
  --dominantBg3Hover: #2f2f2f;
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg2: #e98b4a;
  --accentBg3: #ec9a60;
  --accentBgHover: #e6772a;
  --accentBg2Hover: #eb9458;
  --accentBg3Hover: #eea36e;
  --accentTxt2: rgba(255, 255, 255, 0.6);
  --accentTxt3: rgba(255, 255, 255, 0.4);

  --buttonBg2: #f2f2f2;
  --buttonBg3: #ffffff;
  --buttonBgHover: #e1e1e1;
  --buttonBg2Hover: #fafafa;
  --buttonBg3Hover: #ffffff;
  --buttonTxt2: rgba(0, 0, 0, 0.6);
  --buttonTxt3: rgba(0, 0, 0, 0.4);
  --buttonBorder: #1a1a1a;
  --buttonRadius: 0px;

  --buttonSecondaryG: #484848;
  --buttonSecondaryBg: #484848;
  --buttonSecondaryBg2: #616161;
  --buttonSecondaryBg3: #6e6e6e;
  --buttonSecondaryBgHover: #505050;
  --buttonSecondaryBg2Hover: #696969;
  --buttonSecondaryBg3Hover: #767676;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #e46e1c;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryBorder: #1a1a1a;
  --buttonSecondaryRadius: 0px;

  --inputBg2: #ffffff;
  --inputBg3: #ffffff;
  --inputBgHover: #ffffff;
  --inputBg2Hover: #ffffff;
  --inputBg3Hover: #ffffff;
  --inputTxt2: rgba(0, 0, 0, 0.6);
  --inputTxt3: rgba(0, 0, 0, 0.4);
  --inputAccent: #e46e1c;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRadius: 0px;
  --inputBorder: #1a1a1a;

  --inputSecondaryG: #ffffff;
  --inputSecondaryBg: #ffffff;
  --inputSecondaryBg2: #ffffff;
  --inputSecondaryBg3: #ffffff;
  --inputSecondaryBgHover: #ffffff;
  --inputSecondaryBg2Hover: #ffffff;
  --inputSecondaryBg3Hover: #ffffff;
  --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
  --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
  --inputSecondaryAccent: #e46e1c;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #1a1a1a;

  --headerBg2: #333333;
  --headerBg3: #404040;
  --headerBgHover: #222222;
  --headerBg2Hover: #3b3b3b;
  --headerBg3Hover: #484848;
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #e46e1c;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerBorder: #1a1a1a;
  --headerRadius: 0px;

  --subHeaderBg2: #3d3d3d;
  --subHeaderBg3: #4a4a4a;
  --subHeaderBgHover: #2c2c2c;
  --subHeaderBg2Hover: #454545;
  --subHeaderBg3Hover: #525252;
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #e46e1c;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderBorder: #1a1a1a;
  --subHeaderRadius: 0px;

  --eventBgHover: #ffffff;
  --eventBg2Hover: #ffffff;
  --eventBg3Hover: #ffffff;
  --eventTxt3: rgba(0, 0, 0, 0.4);
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventRadius: 0px;

  --modalBg3: #4a4a4a;
  --modalBgHover: #2c2c2c;
  --modalBg2Hover: #454545;
  --modalBg3Hover: #525252;
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #e46e1c;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRadius: 0px;
  --modalBorder: #1a1a1a;

  --oddBg3: #fed851;
  --oddBgHover: #feca14;
  --oddBg2Hover: #fed547;
  --oddBg3Hover: #fedb60;
  --oddTxt2: rgba(0, 0, 0, 0.6);
  --oddTxt3: rgba(0, 0, 0, 0.4);
  --oddAccent: #e46e1c;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRadius: 0px;
  --oddBorder: #1a1a1a;

  --oddActiveBg3: #e5c78d;
  --oddActiveBgHover: #daaf5b;
  --oddActiveBg2Hover: #e3c385;
  --oddActiveBg3Hover: #e8cd99;
  --oddActiveTxt: rgba(0, 0, 0, 0.9);
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #e46e1c;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #1a1a1a;

  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #1a1a1a;

  --tabG: #1a1a1a;
  --tabBg: #1a1a1a;
  --tabBg2: #333333;
  --tabBg3: #404040;
  --tabBgHover: #222222;
  --tabBg2Hover: #3b3b3b;
  --tabBg3Hover: #484848;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #e46e1c;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRadius: 0px;
  --tabBorder: #1a1a1a;

  --tabActiveBg2: #2e2e2e;
  --tabActiveBg3: #3b3b3b;
  --tabActiveBgHover: #1d1d1d;
  --tabActiveBg2Hover: #363636;
  --tabActiveBg3Hover: #434343;
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #e46e1c;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #1a1a1a;

  --tabSecondaryActiveG: #222222;
  --tabSecondaryActiveBg: #222222;
  --tabSecondaryActiveBg2: #3b3b3b;
  --tabSecondaryActiveBg3: #484848;
  --tabSecondaryActiveBgHover: #2a2a2a;
  --tabSecondaryActiveBg2Hover: #434343;
  --tabSecondaryActiveBg3Hover: #505050;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #e46e1c;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #1a1a1a;

  --filterG: #ffffff;
  --filterBg: #ffffff;
  --filterBg2: #ffffff;
  --filterBg3: #ffffff;
  --filterBgHover: #ffffff;
  --filterBg2Hover: #ffffff;
  --filterBg3Hover: #ffffff;
  --filterTxt: rgba(0, 0, 0, 0.9);
  --filterTxt2: rgba(0, 0, 0, 0.6);
  --filterTxt3: rgba(0, 0, 0, 0.4);
  --filterAccent: #e46e1c;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRadius: 0px;
  --filterBorder: #1a1a1a;

  --menu_1G: #1a1a1a;
  --menu_1Bg: #1a1a1a;
  --menu_1Bg2: #333333;
  --menu_1Bg3: #404040;
  --menu_1BgHover: #222222;
  --menu_1Bg2Hover: #3b3b3b;
  --menu_1Bg3Hover: #484848;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #e46e1c;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #1a1a1a;

  --menu_2G: #222222;
  --menu_2Bg: #222222;
  --menu_2Bg2: #3b3b3b;
  --menu_2Bg3: #484848;
  --menu_2BgHover: #2a2a2a;
  --menu_2Bg2Hover: #434343;
  --menu_2Bg3Hover: #505050;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #e46e1c;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #1a1a1a;

  --menu_3G: #272727;
  --menu_3Bg: #272727;
  --menu_3Bg2: #404040;
  --menu_3Bg3: #4d4d4d;
  --menu_3BgHover: #2f2f2f;
  --menu_3Bg2Hover: #484848;
  --menu_3Bg3Hover: #555555;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #e46e1c;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #1a1a1a;

  --tooltipG: #1a1a1a;
  --tooltipBg: #1a1a1a;
  --tooltipBg2: #333333;
  --tooltipBg3: #404040;
  --tooltipBgHover: #222222;
  --tooltipBg2Hover: #3b3b3b;
  --tooltipBg3Hover: #484848;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #e46e1c;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #1a1a1a;

  /* Old betslip */
  --betSlipBg: #1a1a1a;
  --betSlipBg2: #333333;
  --betSlipBorder: #1a1a1a;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipTxt2: rgba(255, 255, 255, 0.6);

  --betSlipStakeG: #222222;
  --betSlipStakeBg: #222222;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipInputG: #222222;
  --betSlipInputTxt: rgba(255, 255, 255, 0.9);

  --betSlipButtonG: #222222;
  --betSlipButtonBg2: #3b3b3b;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
  --betSlipButtonRadius: 0px;

  --spritePositionX: 0px;
}

.mt_event_details_market_row .mt_event_details_stakes_wrapper .mt_stake {
  color: #000;
  background-color: #fff;
}
