#sport-simple-east {
  /*Background Colors*/

  --bodyBg: #1f2b3d;
  --headerBg: #161e34;

  --bodyTxt: #cad3ef;
  --bodyTxt2: rgba(202, 211, 239, 0.6);
  --bodyTxt3: rgba(202, 211, 239, 0.4);

  /*Navbar tabs*/

  --tabActiveBg: #12182a;
  --tabActiveTxt: #fff;

  /*Odd Colors*/

  --oddBg: #3b549d;
  --oddTxt: #ffffff;

  --oddActiveBg: #d7a94f;
  --oddActiveTxt: #000;

  --oddBg2: #d7a94f;
  --oddActiveBg2: #d7a94f;

  --headerTxt: #fff;

  --inputBg: #fff;
  --inputTxt: #000;

  --dominantBg: #0e121e;
  --dominantTxt: #fff;

  /* - - - Skinning Update - - - */

  --modalBg: #292b34;
  --modalBg2: #404352;
  --modalTxt: #fff;

  --eventBg: #fff;
  --eventBg2: #efefef;
  --eventBg3: #dadada;
  --eventTxt: #000;
  --eventTxt2: rgba(0, 0, 0, 0.6);
  --eventBorder: #000;
  --eventAccent: #fdb510;

  --subHeaderBg: #161e34;
  --subHeaderTxt: #cad3ef;

  --buttonBg: #d9d9d9;
  --buttonTxt: #000;
  --buttonAccent: #3b549d;
  --buttonAccentTxt: #fff;

  --showMoreBg: transparent;
  --showMoreTxt: var(--error);
  --showMoreAccent: #e46e1c;

  --accentBg: #e46e1c;
  --accentTxt: #fff;

  --bodyBg2: #30435f;
  --bodyBg3: #394f70;
  --bodyBgHover: #243247;
  --bodyBg2Hover: #354a69;
  --bodyBg3Hover: #3e567a;
  --bodyRGBA: rgba(31, 43, 61, 0.7);
  --bodyRGBA2: rgba(31, 43, 61, 0.5);
  --bodyRGBA3: rgba(31, 43, 61, 0.3);
  --bodyAccent: #e46e1c;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyBorder: #1f2b3d;
  --bodyRadius: 0px;

  --dominantRGBA: rgba(14, 18, 30, 0.7);
  --dominantRGBA2: rgba(14, 18, 30, 0.5);
  --dominantRGBA3: rgba(14, 18, 30, 0.3);
  --dominantBg2: #1e2741;
  --dominantBg3: #263152;
  --dominantBgHover: #131828;
  --dominantBg2Hover: #232d4b;
  --dominantBg3Hover: #2b375c;
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg2: #e98b4a;
  --accentBg3: #ec9a60;
  --accentBgHover: #e6772a;
  --accentBg2Hover: #eb9458;
  --accentBg3Hover: #eea36e;
  --accentTxt2: rgba(255, 255, 255, 0.6);
  --accentTxt3: rgba(255, 255, 255, 0.4);

  --buttonBg2: #f2f2f2;
  --buttonBg3: #ffffff;
  --buttonBgHover: #e1e1e1;
  --buttonBg2Hover: #fafafa;
  --buttonBg3Hover: #ffffff;
  --buttonTxt2: rgba(0, 0, 0, 0.6);
  --buttonTxt3: rgba(0, 0, 0, 0.4);
  --buttonBorder: #1f2b3d;
  --buttonRadius: 0px;

  --buttonSecondaryG: #3e567a;
  --buttonSecondaryBg: #3e567a;
  --buttonSecondaryBg2: #4f6e9c;
  --buttonSecondaryBg3: #5a7aab;
  --buttonSecondaryBgHover: #435d84;
  --buttonSecondaryBg2Hover: #5475a6;
  --buttonSecondaryBg3Hover: #6482b0;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #e46e1c;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryBorder: #1f2b3d;
  --buttonSecondaryRadius: 0px;

  --inputBg2: #ffffff;
  --inputBg3: #ffffff;
  --inputBgHover: #ffffff;
  --inputBg2Hover: #ffffff;
  --inputBg3Hover: #ffffff;
  --inputTxt2: rgba(0, 0, 0, 0.6);
  --inputTxt3: rgba(0, 0, 0, 0.4);
  --inputAccent: #e46e1c;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRadius: 0px;
  --inputBorder: #1f2b3d;

  --inputSecondaryG: #ffffff;
  --inputSecondaryBg: #ffffff;
  --inputSecondaryBg2: #ffffff;
  --inputSecondaryBg3: #ffffff;
  --inputSecondaryBgHover: #ffffff;
  --inputSecondaryBg2Hover: #ffffff;
  --inputSecondaryBg3Hover: #ffffff;
  --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
  --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
  --inputSecondaryAccent: #e46e1c;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #1f2b3d;

  --headerBg2: #253358;
  --headerBg3: #2d3d6a;
  --headerBgHover: #1b243f;
  --headerBg2Hover: #2a3963;
  --headerBg3Hover: #324375;
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #e46e1c;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerBorder: #1f2b3d;
  --headerRadius: 0px;

  --subHeaderBg2: #253358;
  --subHeaderBg3: #2d3d6a;
  --subHeaderBgHover: #1b243f;
  --subHeaderBg2Hover: #2a3963;
  --subHeaderBg3Hover: #324375;
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #e46e1c;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderBorder: #1f2b3d;
  --subHeaderRadius: 0px;

  --eventBgHover: #ffffff;
  --eventBg2Hover: #ffffff;
  --eventBg3Hover: #ffffff;
  --eventTxt3: rgba(0, 0, 0, 0.4);
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventRadius: 0px;

  --modalBg3: #4b4e5f;
  --modalBgHover: #30323d;
  --modalBg2Hover: #464a59;
  --modalBg3Hover: #525568;
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #e46e1c;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRadius: 0px;
  --modalBorder: #1f2b3d;

  --oddBg3: #617ac4;
  --oddBgHover: #3f5aa8;
  --oddBg2Hover: #5973c1;
  --oddBg3Hover: #6c83c8;
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #e46e1c;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRadius: 0px;
  --oddBorder: #1f2b3d;

  --oddActiveBg3: #e5c78d;
  --oddActiveBgHover: #daaf5b;
  --oddActiveBg2Hover: #e3c385;
  --oddActiveBg3Hover: #e8cd99;
  --oddActiveTxt: rgba(0, 0, 0, 0.9);
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #e46e1c;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #1f2b3d;

  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #1f2b3d;

  --tabG: #1e2741;
  --tabBg: #1e2741;
  --tabBg2: #2e3c64;
  --tabBg3: #364675;
  --tabBgHover: #232d4b;
  --tabBg2Hover: #33426e;
  --tabBg3Hover: #3b4c7f;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #e46e1c;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRadius: 0px;
  --tabBorder: #1f2b3d;

  --tabActiveBg2: #212c4e;
  --tabActiveBg3: #293760;
  --tabActiveBgHover: #171e35;
  --tabActiveBg2Hover: #263259;
  --tabActiveBg3Hover: #2e3d6b;
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #e46e1c;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #1f2b3d;

  --tabSecondaryActiveG: #232d4b;
  --tabSecondaryActiveBg: #232d4b;
  --tabSecondaryActiveBg2: #33426e;
  --tabSecondaryActiveBg3: #3b4c7f;
  --tabSecondaryActiveBgHover: #283355;
  --tabSecondaryActiveBg2Hover: #384878;
  --tabSecondaryActiveBg3Hover: #405289;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #e46e1c;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #1f2b3d;

  --filterG: #ffffff;
  --filterBg: #ffffff;
  --filterBg2: #ffffff;
  --filterBg3: #ffffff;
  --filterBgHover: #ffffff;
  --filterBg2Hover: #ffffff;
  --filterBg3Hover: #ffffff;
  --filterTxt: rgba(0, 0, 0, 0.9);
  --filterTxt2: rgba(0, 0, 0, 0.6);
  --filterTxt3: rgba(0, 0, 0, 0.4);
  --filterAccent: #e46e1c;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRadius: 0px;
  --filterBorder: #1f2b3d;

  --menu_1G: #1e2741;
  --menu_1Bg: #1e2741;
  --menu_1Bg2: #2e3c64;
  --menu_1Bg3: #364675;
  --menu_1BgHover: #232d4b;
  --menu_1Bg2Hover: #33426e;
  --menu_1Bg3Hover: #3b4c7f;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #e46e1c;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #1f2b3d;

  --menu_2G: #232d4b;
  --menu_2Bg: #232d4b;
  --menu_2Bg2: #33426e;
  --menu_2Bg3: #3b4c7f;
  --menu_2BgHover: #283355;
  --menu_2Bg2Hover: #384878;
  --menu_2Bg3Hover: #405289;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #e46e1c;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #1f2b3d;

  --menu_3G: #263152;
  --menu_3Bg: #263152;
  --menu_3Bg2: #364675;
  --menu_3Bg3: #3e5086;
  --menu_3BgHover: #2b375c;
  --menu_3Bg2Hover: #3b4c7f;
  --menu_3Bg3Hover: #435690;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #e46e1c;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #1f2b3d;

  --tooltipG: #1e2741;
  --tooltipBg: #1e2741;
  --tooltipBg2: #2e3c64;
  --tooltipBg3: #364675;
  --tooltipBgHover: #232d4b;
  --tooltipBg2Hover: #33426e;
  --tooltipBg3Hover: #3b4c7f;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #e46e1c;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #1f2b3d;

  /* Old betslip */
  --betSlipBg: #1e2741;
  --betSlipBg2: #2e3c64;
  --betSlipBorder: #1f2b3d;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipTxt2: rgba(255, 255, 255, 0.6);

  --betSlipStakeG: #232d4b;
  --betSlipStakeBg: #232d4b;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipInputG: #232d4b;
  --betSlipInputTxt: rgba(255, 255, 255, 0.9);

  --betSlipButtonG: #232d4b;
  --betSlipButtonBg2: #33426e;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
  --betSlipButtonRadius: 0px;

  --spritePositionX: 0px;
}

.mt_event_details_market_row .mt_event_details_stakes_wrapper .mt_stake {
  color: #000;
  background-color: #fff;
}
