#sport-simple-east,
#sport-simple-east[data-theme='dark'],
#sport-simple-east [data-theme='dark'] {
  --bodyBg: #000000;
  --bodyBg2: #1a1a1a;
  --bodyBg3: #262626;
  --bodyBgHover: #080808;
  --bodyBg2Hover: #222222;
  --bodyBg3Hover: #2e2e2e;
  --bodyRGBA: rgba(0, 0, 0, 0.7);
  --bodyRGBA2: rgba(0, 0, 0, 0.5);
  --bodyRGBA3: rgba(0, 0, 0, 0.3);
  --bodyTxt: rgba(255, 255, 255, 0.9);
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);
  --bodyAccent: #ffae2b;
  --bodyAccentTxt: rgba(0, 0, 0, 0.9);
  --bodyBorder: #000000;
  --bodyRadius: 0px;

  --navbarG: #222;
  --navbarBg: #222;
  --navbarBg2: #4d4d4d;
  --navbarBg3: #595959;
  --navbarBgHover: #3b3b3b;
  --navbarBg2Hover: #555555;
  --navbarBg3Hover: #616161;
  --navbarTxt: rgba(255, 255, 255, 0.9);
  --navbarTxt2: rgba(255, 255, 255, 0.6);
  --navbarTxt3: rgba(255, 255, 255, 0.4);
  --navbarRGBA: rgba(51, 51, 51, 0.7);
  --navbarAccent: #ffae2b;
  --navbarAccentTxt: rgba(0, 0, 0, 0.9);
  --navbarBorder: #000000;
  --navbarRadius: 0px;

  --sliderG: #080808;
  --sliderBg: #080808;
  --sliderBg2: #212121;
  --sliderBg3: #2e2e2e;
  --sliderBgHover: #101010;
  --sliderBg2Hover: #292929;
  --sliderBg3Hover: #363636;
  --sliderTxt: rgba(255, 255, 255, 0.75);
  --sliderTxt2: rgba(255, 255, 255, 0.6);
  --sliderTxt3: rgba(255, 255, 255, 0.4);
  --sliderRGBA: rgba(8, 8, 8, 0.7);
  --sliderBorder: #000000;
  --sliderAccent: #ffae2b;
  --sliderAccentTxt: rgba(0, 0, 0, 0.9);
  --sliderRadius: 0px;

  --collapseG: #222;
  --collapseBg: #222;
  --collapseBg2: #646464;
  --collapseBg3: #717171;
  --collapseBgHover: #535353;
  --collapseBg2Hover: #6c6c6c;
  --collapseBg3Hover: #797979;
  --collapseTxt: rgba(255, 255, 255, 0.9);
  --collapseTxt2: rgba(255, 255, 255, 0.6);
  --collapseTxt3: rgba(255, 255, 255, 0.4);
  --collapseRGBA: rgba(75, 75, 75, 0.7);
  --collapseBorder: #000000;
  --collapseAccent: #ffae2b;
  --collapseAccentTxt: rgba(0, 0, 0, 0.9);
  --collapseRadius: 0px;

  --dominantG: #1a1a1a;
  --dominantRGBA: rgba(26, 26, 26, 0.7);
  --dominantRGBA2: rgba(26, 26, 26, 0.5);
  --dominantRGBA3: rgba(26, 26, 26, 0.3);
  --dominantBg: #1a1a1a;
  --dominantBg2: #333333;
  --dominantBg3: #404040;
  --dominantBgHover: #222222;
  --dominantBg2Hover: #3b3b3b;
  --dominantBg3Hover: #484848;
  --dominantTxt: rgba(255, 255, 255, 0.9);
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg: #ffae2b;
  --accentBg2: #ffc15e;
  --accentBg3: #ffcb77;
  --accentBgHover: #ffb43a;
  --accentBg2Hover: #ffc76d;
  --accentBg3Hover: #ffd186;
  --accentG: #ffae2b;
  --accentTxt: rgba(0, 0, 0, 0.9);
  --accentTxt2: rgba(0, 0, 0, 0.6);
  --accentTxt3: rgba(0, 0, 0, 0.4);

  --buttonG: #f9521b;
  --buttonBg: #f9521b;
  --buttonBg2: #fa784d;
  --buttonBg3: #fb8b66;
  --buttonBgHover: #f95d2a;
  --buttonBg2Hover: #fa835c;
  --buttonBg3Hover: #fb9675;
  --buttonTxt: rgba(255, 255, 255, 0.9);
  --buttonTxt2: rgba(255, 255, 255, 0.6);
  --buttonTxt3: rgba(255, 255, 255, 0.4);
  --buttonAccent: #ffae2b;
  --buttonAccentTxt: rgba(0, 0, 0, 0.9);
  --buttonBorder: #000000;
  --buttonRadius: 0px;

  --buttonSecondaryG: #3c3c3c;
  --buttonSecondaryBg: #3c3c3c;
  --buttonSecondaryBg2: #555555;
  --buttonSecondaryBg3: #626262;
  --buttonSecondaryBgHover: #444444;
  --buttonSecondaryBg2Hover: #5d5d5d;
  --buttonSecondaryBg3Hover: #6a6a6a;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #ffae2b;
  --buttonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --buttonSecondaryBorder: #000000;
  --buttonSecondaryRadius: 0px;

  --inputG: #2a2a2a;
  --inputBg: #2a2a2a;
  --inputBg2: #434343;
  --inputBg3: #505050;
  --inputBgHover: #323232;
  --inputBg2Hover: #4b4b4b;
  --inputBg3Hover: #585858;
  --inputTxt: rgba(255, 255, 255, 0.9);
  --inputTxt2: rgba(255, 255, 255, 0.6);
  --inputTxt3: rgba(255, 255, 255, 0.4);
  --inputAccent: #ffae2b;
  --inputAccentTxt: rgba(0, 0, 0, 0.9);
  --inputRadius: 0px;
  --inputBorder: #000000;

  --inputSecondaryG: #222222;
  --inputSecondaryBg: #222222;
  --inputSecondaryBg2: #3b3b3b;
  --inputSecondaryBg3: #484848;
  --inputSecondaryBgHover: #2a2a2a;
  --inputSecondaryBg2Hover: #434343;
  --inputSecondaryBg3Hover: #505050;
  --inputSecondaryTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --inputSecondaryAccent: #ffae2b;
  --inputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #000000;

  --headerG: #2a2a2a;
  --headerBg: #2a2a2a;
  --headerBg2: #434343;
  --headerBg3: #505050;
  --headerBgHover: #323232;
  --headerBg2Hover: #4b4b4b;
  --headerBg3Hover: #585858;
  --headerTxt: rgba(255, 255, 255, 0.9);
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #ffae2b;
  --headerAccentTxt: rgba(0, 0, 0, 0.9);
  --headerBorder: #000000;
  --headerRadius: 0px;

  --subHeaderG: #222222;
  --subHeaderBg: #222222;
  --subHeaderBg2: #3b3b3b;
  --subHeaderBg3: #484848;
  --subHeaderBgHover: #2a2a2a;
  --subHeaderBg2Hover: #434343;
  --subHeaderBg3Hover: #505050;
  --subHeaderTxt: rgba(255, 255, 255, 0.9);
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #ffae2b;
  --subHeaderAccentTxt: rgba(0, 0, 0, 0.9);
  --subHeaderBorder: #000000;
  --subHeaderRadius: 0px;

  --eventG: #1a1a1a;
  --eventBg: #1a1a1a;
  --eventBg2: #333333;
  --eventBg3: #404040;
  --eventBgHover: #222222;
  --eventBg2Hover: #3b3b3b;
  --eventBg3Hover: #484848;
  --eventTxt: rgba(255, 255, 255, 0.9);
  --eventTxt2: rgba(255, 255, 255, 0.6);
  --eventTxt3: rgba(255, 255, 255, 0.4);
  --eventAccent: #ffae2b;
  --eventAccentTxt: rgba(0, 0, 0, 0.9);
  --eventBorder: #000000;
  --eventRadius: 0px;

  --modalG: #333333;
  --modalBg: #333333;
  --modalBg2: #4d4d4d;
  --modalBg3: #595959;
  --modalBgHover: #3b3b3b;
  --modalBg2Hover: #555555;
  --modalBg3Hover: #616161;
  --modalTxt: rgba(255, 255, 255, 0.9);
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #ffae2b;
  --modalAccentTxt: rgba(0, 0, 0, 0.9);
  --modalRadius: 0px;
  --modalBorder: #000000;

  --oddG: #2a2a2a;
  --oddBg: #2a2a2a;
  --oddBg2: #434343;
  --oddBg3: #505050;
  --oddBgHover: #323232;
  --oddBg2Hover: #4b4b4b;
  --oddBg3Hover: #585858;
  --oddTxt: rgba(255, 255, 255, 0.9);
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #ffae2b;
  --oddAccentTxt: rgba(0, 0, 0, 0.9);
  --oddRadius: 0px;
  --oddBorder: #000000;

  --oddActiveG: #ffb43a;
  --oddActiveBg: #ffb43a;
  --oddActiveBg2: #ffc76d;
  --oddActiveBg3: #ffd186;
  --oddActiveBgHover: #ffba49;
  --oddActiveBg2Hover: #ffcd7c;
  --oddActiveBg3Hover: #ffd795;
  --oddActiveTxt: rgba(0, 0, 0, 0.9);
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #ffae2b;
  --oddActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #000000;

  --marketHeaderG: #1a1a1a;
  --marketHeaderBg: #1a1a1a;
  --marketHeaderBg2: #333333;
  --marketHeaderBg3: #404040;
  --marketHeaderBgHover: #222222;
  --marketHeaderBg2Hover: #3b3b3b;
  --marketHeaderBg3Hover: #484848;
  --marketHeaderTxt: rgba(255, 255, 255, 0.9);
  --marketHeaderTxt2: rgba(255, 255, 255, 0.6);
  --marketHeaderTxt3: rgba(255, 255, 255, 0.4);
  --marketHeaderAccent: #ffae2b;
  --marketHeaderAccentTxt: rgba(0, 0, 0, 0.9);
  --marketHeaderRadius: 0px;
  --marketHeaderBorder: #000000;

  --showMoreG: #2a2a2a;
  --showMoreBg: #2a2a2a;
  --showMoreBg2: #434343;
  --showMoreBg3: #505050;
  --showMoreBgHover: #323232;
  --showMoreBg2Hover: #4b4b4b;
  --showMoreBg3Hover: #585858;
  --showMoreTxt: rgba(255, 255, 255, 0.9);
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccent: #ffae2b;
  --showMoreAccentTxt: rgba(0, 0, 0, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #000000;

  --tabG: #1a1a1a;
  --tabBg: #1a1a1a;
  --tabBg2: #333333;
  --tabBg3: #404040;
  --tabBgHover: #222222;
  --tabBg2Hover: #3b3b3b;
  --tabBg3Hover: #484848;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #ffae2b;
  --tabAccentTxt: rgba(0, 0, 0, 0.9);
  --tabRadius: 0px;
  --tabBorder: #000000;

  --tabActiveG: #2a2a2a;
  --tabActiveBg: #2a2a2a;
  --tabActiveBg2: #434343;
  --tabActiveBg3: #505050;
  --tabActiveBgHover: #323232;
  --tabActiveBg2Hover: #4b4b4b;
  --tabActiveBg3Hover: #585858;
  --tabActiveTxt: rgba(255, 255, 255, 0.9);
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #ffae2b;
  --tabActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #000000;

  --tabSecondaryActiveBg: #3b3b3b;
  --tabSecondaryActiveBg2: #545454;
  --tabSecondaryActiveBg3: #616161;
  --tabSecondaryActiveBgHover: #434343;
  --tabSecondaryActiveBg2Hover: #5c5c5c;
  --tabSecondaryActiveBg3Hover: #696969;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #ffae2b;
  --tabSecondaryActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #000000;

  --filterG: #4b4b4b;
  --filterBg: #4b4b4b;
  --filterBg2: #646464;
  --filterBg3: #717171;
  --filterBgHover: #535353;
  --filterBg2Hover: #6c6c6c;
  --filterBg3Hover: #797979;
  --filterTxt: rgba(255, 255, 255, 0.9);
  --filterTxt2: rgba(255, 255, 255, 0.6);
  --filterTxt3: rgba(255, 255, 255, 0.4);
  --filterAccent: #ffae2b;
  --filterAccentTxt: rgba(0, 0, 0, 0.9);
  --filterRadius: 0px;
  --filterBorder: #000000;

  --menu_1G: #1a1a1a;
  --menu_1Bg: #1a1a1a;
  --menu_1Bg2: #333333;
  --menu_1Bg3: #404040;
  --menu_1BgHover: #222222;
  --menu_1Bg2Hover: #3b3b3b;
  --menu_1Bg3Hover: #484848;
  --menu_1Txt: rgba(222, 222, 222, 0.9);
  --menu_1Txt2: rgba(222, 222, 222, 0.6);
  --menu_1Txt3: rgba(222, 222, 222, 0.4);
  --menu_1Accent: #ffae2b;
  --menu_1AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #252525;

  --menu_2G: #2a2a2a;
  --menu_2Bg: #2a2a2a;
  --menu_2Bg2: #434343;
  --menu_2Bg3: #505050;
  --menu_2BgHover: #323232;
  --menu_2Bg2Hover: #4b4b4b;
  --menu_2Bg3Hover: #585858;
  --menu_2Txt: rgba(222, 222, 222, 0.9);
  --menu_2Txt2: rgba(222, 222, 222, 0.6);
  --menu_2Txt3: rgba(222, 222, 222, 0.4);
  --menu_2Accent: #ffae2b;
  --menu_2AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #252525;

  --menu_3G: #222222;
  --menu_3Bg: #222222;
  --menu_3Bg2: #3b3b3b;
  --menu_3Bg3: #484848;
  --menu_3BgHover: #2a2a2a;
  --menu_3Bg2Hover: #434343;
  --menu_3Bg3Hover: #505050;
  --menu_3Txt: rgba(234, 234, 234, 0.9);
  --menu_3Txt2: rgba(234, 234, 234, 0.6);
  --menu_3Txt3: rgba(234, 234, 234, 0.4);
  --menu_3Accent: #ffae2b;
  --menu_3AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #252525;

  --tooltipG: #333333;
  --tooltipBg: #333333;
  --tooltipBg2: #4d4d4d;
  --tooltipBg3: #595959;
  --tooltipBgHover: #3b3b3b;
  --tooltipBg2Hover: #555555;
  --tooltipBg3Hover: #616161;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #ffae2b;
  --tooltipAccentTxt: rgba(0, 0, 0, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #000000;

  --betSlipStakeBg: #3b3b3b;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipButtonBg: #3b3b3b;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);

  --betSlipTabBg: #3b3b3b;
  --betSlipTabG: #3b3b3b;
  --betSlipTabTxt: rgba(255, 255, 255, 0.9);
  --betSlipTabTxt2: rgba(255, 255, 255, 0.6);
  --betSlipTabBorder: #000000;
  --betSlipTabRadius: 0px;

  --betSlipTabActiveBg: #3b3b3b;
  --betSlipTabActiveG: #3b3b3b;
  --betSlipTabActiveTxt: rgba(255, 255, 255, 0.9);
  --betSlipTabActiveTxt2: rgba(255, 255, 255, 0.6);
  --betSlipTabActiveBorder: #000000;
  --betSlipTabActiveRadius: 0px;

  --secundaryMenuWrapperBg: var(--inputBg);
  --secundaryMenuWrapperTxt: var(--inputTxt2);

  --cashoutModalBg: rgba(54, 54, 54, 0.8);
  --cashoutModalTxt: rgba(255, 255, 255, 0.9);
}
