
        :root{
            --cwBodyG: #1B2A31;
    --cwBodyBg: #1B2A31;
    --cwBodyBg2: #2f4955;
    --cwBodyBg3: #3d606f;
    --cwBodyBgHover: #243841;
    --cwBodyBg2Hover: #385765;
    --cwBodyBg3Hover: #466e7f;
    --cwBodyTxt: #fff;
    --cwBodyTxt2: #bbbfc1;
    --cwBodyTxt3: #8d9598;
    --cwBodyAccent: #3AAFA9;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyRGBA: rgba(27, 42, 49, 0.7);
    --cwBodyRGBA2: rgba(27, 42, 49, 0.5);
    --cwBodyRGBA3: rgba(27, 42, 49, 0.3);
    --cwBodyShadow: rgba(16, 25, 29, 0.7);
    --cwBodyShadowFade: rgba(16, 25, 29, 0);
    --cwBodyRadius: 0px;
    --cwBodyBorder: #1B2A31;

    --cwAccentG: #3AAFA9;
    --cwAccentBg: #3AAFA9;
    --cwAccentBg2: #59c8c2;
    --cwAccentBg3: #78d2ce;
    --cwAccentBgHover: #42c0ba;
    --cwAccentBg2Hover: #6ccec9;
    --cwAccentBg3Hover: #8bd8d5;
    --cwAccentTxt: #000;
    --cwAccentTxt2: #113533;
    --cwAccentTxt3: #1d5855;
    --cwAccentAccent: #3AAFA9;
    --cwAccentAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentRGBA: rgba(58, 175, 169, 0.7);
    --cwAccentRGBA2: rgba(58, 175, 169, 0.5);
    --cwAccentRGBA3: rgba(58, 175, 169, 0.3);
    --cwAccentShadow: rgba(35, 105, 101, 0.7);
    --cwAccentShadowFade: rgba(35, 105, 101, 0);
    --cwAccentRadius: 0px;
    --cwAccentBorder: #1B2A31;

    --cwDominantG: #243841;
    --cwDominantBg: #243841;
    --cwDominantBg2: #385765;
    --cwDominantBg3: #476e7f;
    --cwDominantBgHover: #2d4651;
    --cwDominantBg2Hover: #416575;
    --cwDominantBg3Hover: #507c8f;
    --cwDominantTxt: #fff;
    --cwDominantTxt2: #bdc3c6;
    --cwDominantTxt3: #929ca0;
    --cwDominantAccent: #3AAFA9;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantRGBA: rgba(36, 56, 65, 0.7);
    --cwDominantRGBA2: rgba(36, 56, 65, 0.5);
    --cwDominantRGBA3: rgba(36, 56, 65, 0.3);
    --cwDominantShadow: rgba(22, 34, 39, 0.7);
    --cwDominantShadowFade: rgba(22, 34, 39, 0);
    --cwDominantRadius: 0px;
    --cwDominantBorder: #1B2A31;

    --cwCardG: #22343D;
    --cwCardBg: #22343D;
    --cwCardBg2: #365361;
    --cwCardBg3: #45697b;
    --cwCardBgHover: #2b424d;
    --cwCardBg2Hover: #3f6171;
    --cwCardBg3Hover: #4e778b;
    --cwCardTxt: #fff;
    --cwCardTxt2: #bdc2c5;
    --cwCardTxt3: #919a9e;
    --cwCardAccent: #3AAFA9;
    --cwCardAccentTxt: rgba(0, 0, 0, 0.9);
    --cwCardRGBA: rgba(34, 52, 61, 0.7);
    --cwCardRGBA2: rgba(34, 52, 61, 0.5);
    --cwCardRGBA3: rgba(34, 52, 61, 0.3);
    --cwCardShadow: rgba(20, 31, 37, 0.7);
    --cwCardShadowFade: rgba(20, 31, 37, 0);
    --cwCardRadius: 16px;
    --cwCardBorder: #2A404B;

    --cwGameG: #22343D;
    --cwGameBg: #22343D;
    --cwGameBg2: #365361;
    --cwGameBg3: #45697b;
    --cwGameBgHover: #2b424d;
    --cwGameBg2Hover: #3f6171;
    --cwGameBg3Hover: #4e778b;
    --cwGameTxt: #fff;
    --cwGameTxt2: #bdc2c5;
    --cwGameTxt3: #919a9e;
    --cwGameAccent: #3AAFA9;
    --cwGameAccentTxt: rgba(0, 0, 0, 0.9);
    --cwGameRGBA: rgba(34, 52, 61, 0.7);
    --cwGameRGBA2: rgba(34, 52, 61, 0.5);
    --cwGameRGBA3: rgba(34, 52, 61, 0.3);
    --cwGameShadow: rgba(20, 31, 37, 0.7);
    --cwGameShadowFade: rgba(20, 31, 37, 0);
    --cwGameRadius: 16px;
    --cwGameBorder: #2A404B;

    --cwJackpotG: #22343D;
    --cwJackpotBg: #22343D;
    --cwJackpotBg2: #365361;
    --cwJackpotBg3: #45697b;
    --cwJackpotBgHover: #2b424d;
    --cwJackpotBg2Hover: #3f6171;
    --cwJackpotBg3Hover: #4e778b;
    --cwJackpotTxt: #fff;
    --cwJackpotTxt2: #bdc2c5;
    --cwJackpotTxt3: #919a9e;
    --cwJackpotAccent: #3AAFA9;
    --cwJackpotAccentTxt: rgba(0, 0, 0, 0.9);
    --cwJackpotRGBA: rgba(34, 52, 61, 0.7);
    --cwJackpotRGBA2: rgba(34, 52, 61, 0.5);
    --cwJackpotRGBA3: rgba(34, 52, 61, 0.3);
    --cwJackpotShadow: rgba(20, 31, 37, 0.7);
    --cwJackpotShadowFade: rgba(20, 31, 37, 0);
    --cwJackpotRadius: 16px;
    --cwJackpotBorder: #22343D;

    --cwButtonG: #3AAFA9;
    --cwButtonBg: #3AAFA9;
    --cwButtonBg2: #59c8c2;
    --cwButtonBg3: #78d2ce;
    --cwButtonBgHover: #42c0ba;
    --cwButtonBg2Hover: #6ccec9;
    --cwButtonBg3Hover: #8bd8d5;
    --cwButtonTxt: #FFFFFF;
    --cwButtonTxt2: #c4e7e5;
    --cwButtonTxt3: #9dd7d4;
    --cwButtonAccent: #3AAFA9;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonRGBA: rgba(58, 175, 169, 0.7);
    --cwButtonRGBA2: rgba(58, 175, 169, 0.5);
    --cwButtonRGBA3: rgba(58, 175, 169, 0.3);
    --cwButtonShadow: rgba(35, 105, 101, 0.7);
    --cwButtonShadowFade: rgba(35, 105, 101, 0);
    --cwButtonRadius: 8px;
    --cwButtonBorder: #3AAFA9;

    --cwButtonSecondaryG: #2D4652;
    --cwButtonSecondaryBg: #2c3d45;
    --cwButtonSecondaryBg2: #416576;
    --cwButtonSecondaryBg3: #4f7b91;
    --cwButtonSecondaryBgHover: #365462;
    --cwButtonSecondaryBg2Hover: #4a7386;
    --cwButtonSecondaryBg3Hover: #5889a1;
    --cwButtonSecondaryTxt: #fff;
    --cwButtonSecondaryTxt2: #c0c8cb;
    --cwButtonSecondaryTxt3: #96a3a9;
    --cwButtonSecondaryAccent: #3AAFA9;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryRGBA: rgba(45, 70, 82, 0.7);
    --cwButtonSecondaryRGBA2: rgba(45, 70, 82, 0.5);
    --cwButtonSecondaryRGBA3: rgba(45, 70, 82, 0.3);
    --cwButtonSecondaryShadow: rgba(27, 42, 49, 0.7);
    --cwButtonSecondaryShadowFade: rgba(27, 42, 49, 0);
    --cwButtonSecondaryRadius: 2px;
    --cwButtonSecondaryBorder: #2D4652;

    --cwNavbarG: #385765;
    --cwNavbarBg: #385765;
    --cwNavbarBg2: #4c7689;
    --cwNavbarBg3: #5b8da3;
    --cwNavbarBgHover: #416575;
    --cwNavbarBg2Hover: #558499;
    --cwNavbarBg3Hover: #6b98ac;
    --cwNavbarTxt: #fff;
    --cwNavbarTxt2: #c3cdd1;
    --cwNavbarTxt3: #9cabb2;
    --cwNavbarAccent: #3AAFA9;
    --cwNavbarAccentTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarRGBA: rgba(56, 87, 101, 0.7);
    --cwNavbarRGBA2: rgba(56, 87, 101, 0.5);
    --cwNavbarRGBA3: rgba(56, 87, 101, 0.3);
    --cwNavbarShadow: rgba(34, 52, 61, 0.7);
    --cwNavbarShadowFade: rgba(34, 52, 61, 0);
    --cwNavbarRadius: 0px;
    --cwNavbarBorder: #1B2A31;

    --cwSliderG: #243841;
    --cwSliderBg: #243841;
    --cwSliderBg2: #385765;
    --cwSliderBg3: #476e7f;
    --cwSliderBgHover: #2d4651;
    --cwSliderBg2Hover: #416575;
    --cwSliderBg3Hover: #507c8f;
    --cwSliderTxt: #fff;
    --cwSliderTxt2: #bdc3c6;
    --cwSliderTxt3: #929ca0;
    --cwSliderAccent: #3AAFA9;
    --cwSliderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSliderRGBA: rgba(36, 56, 65, 0.7);
    --cwSliderRGBA2: rgba(36, 56, 65, 0.5);
    --cwSliderRGBA3: rgba(36, 56, 65, 0.3);
    --cwSliderShadow: rgba(22, 34, 39, 0.7);
    --cwSliderShadowFade: rgba(22, 34, 39, 0);
    --cwSliderRadius: 0px;
    --cwSliderBorder: #1B2A31;

    --cwHeaderG: #3b5c6c;
    --cwHeaderBg: #3b5c6c;
    --cwHeaderBg2: #2b434e;
    --cwHeaderBg3: #395a69;
    --cwHeaderBgHover: #20323a;
    --cwHeaderBg2Hover: #34515e;
    --cwHeaderBg3Hover: #42687a;
    --cwHeaderTxt: #fff;
    --cwHeaderTxt2: #b9bdbf;
    --cwHeaderTxt3: #8b9295;
    --cwHeaderAccent: #3AAFA9;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderRGBA: rgba(23, 36, 42, 0.7);
    --cwHeaderRGBA2: rgba(23, 36, 42, 0.5);
    --cwHeaderRGBA3: rgba(23, 36, 42, 0.3);
    --cwHeaderShadow: rgba(14, 22, 25, 0.7);
    --cwHeaderShadowFade: rgba(14, 22, 25, 0);
    --cwHeaderRadius: 0px;
    --cwHeaderBorder: #1B2A31;

    --cwHeaderSecondaryG: #22343D;
    --cwHeaderSecondaryBg: #22343D;
    --cwHeaderSecondaryBg2: #365361;
    --cwHeaderSecondaryBg3: #45697b;
    --cwHeaderSecondaryBgHover: #2b424d;
    --cwHeaderSecondaryBg2Hover: #3f6171;
    --cwHeaderSecondaryBg3Hover: #4e778b;
    --cwHeaderSecondaryTxt: #fff;
    --cwHeaderSecondaryTxt2: #bdc2c5;
    --cwHeaderSecondaryTxt3: #919a9e;
    --cwHeaderSecondaryAccent: #3AAFA9;
    --cwHeaderSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderSecondaryRGBA: rgba(34, 52, 61, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(34, 52, 61, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(34, 52, 61, 0.3);
    --cwHeaderSecondaryShadow: rgba(20, 31, 37, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(20, 31, 37, 0);
    --cwHeaderSecondaryRadius: 0px;
    --cwHeaderSecondaryBorder: #1B2A31;

    --cwFooterG: #17242A;
    --cwFooterBg: #17242A;
    --cwFooterBg2: #2b434e;
    --cwFooterBg3: #395a69;
    --cwFooterBgHover: #20323a;
    --cwFooterBg2Hover: #34515e;
    --cwFooterBg3Hover: #42687a;
    --cwFooterTxt: #fff;
    --cwFooterTxt2: #b9bdbf;
    --cwFooterTxt3: #8b9295;
    --cwFooterAccent: #3AAFA9;
    --cwFooterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFooterRGBA: rgba(23, 36, 42, 0.7);
    --cwFooterRGBA2: rgba(23, 36, 42, 0.5);
    --cwFooterRGBA3: rgba(23, 36, 42, 0.3);
    --cwFooterShadow: rgba(14, 22, 25, 0.7);
    --cwFooterShadowFade: rgba(14, 22, 25, 0);
    --cwFooterRadius: 0px;
    --cwFooterBorder: #1B2A31;

    --cwSubHeaderG: #34515e;
    --cwSubHeaderBg: #34515e;
    --cwSubHeaderBg2: #487082;
    --cwSubHeaderBg3: #57879c;
    --cwSubHeaderBgHover: #3d5f6e;
    --cwSubHeaderBg2Hover: #517e92;
    --cwSubHeaderBg3Hover: #6494a9;
    --cwSubHeaderTxt: #fff;
    --cwSubHeaderTxt2: #c2cbcf;
    --cwSubHeaderTxt3: #9aa8af;
    --cwSubHeaderAccent: #3AAFA9;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderRGBA: rgba(52, 81, 94, 0.7);
    --cwSubHeaderRGBA2: rgba(52, 81, 94, 0.5);
    --cwSubHeaderRGBA3: rgba(52, 81, 94, 0.3);
    --cwSubHeaderShadow: rgba(31, 49, 56, 0.7);
    --cwSubHeaderShadowFade: rgba(31, 49, 56, 0);
    --cwSubHeaderRadius: 0px;
    --cwSubHeaderBorder: #1B2A31;

    --cwTabG: #293F4A;
    --cwTabBg: #293F4A;
    --cwTabBg2: #3d5e6e;
    --cwTabBg3: #4c7488;
    --cwTabBgHover: #324d5a;
    --cwTabBg2Hover: #466c7e;
    --cwTabBg3Hover: #558298;
    --cwTabTxt: #fff;
    --cwTabTxt2: #bfc5c9;
    --cwTabTxt3: #949fa5;
    --cwTabAccent: #3AAFA9;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabRGBA: rgba(41, 63, 74, 0.7);
    --cwTabRGBA2: rgba(41, 63, 74, 0.5);
    --cwTabRGBA3: rgba(41, 63, 74, 0.3);
    --cwTabShadow: rgba(25, 38, 44, 0.7);
    --cwTabShadowFade: rgba(25, 38, 44, 0);
    --cwTabRadius: 48px;
    --cwTabBorder: #1B2A31;

    --cwTabActiveG: #3AAFA9;
    --cwTabActiveBg: #3AAFA9;
    --cwTabActiveBg2: #59c8c2;
    --cwTabActiveBg3: #78d2ce;
    --cwTabActiveBgHover: #42c0ba;
    --cwTabActiveBg2Hover: #6ccec9;
    --cwTabActiveBg3Hover: #8bd8d5;
    --cwTabActiveTxt: #000;
    --cwTabActiveTxt2: #113533;
    --cwTabActiveTxt3: #1d5855;
    --cwTabActiveAccent: #3AAFA9;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveRGBA: rgba(58, 175, 169, 0.7);
    --cwTabActiveRGBA2: rgba(58, 175, 169, 0.5);
    --cwTabActiveRGBA3: rgba(58, 175, 169, 0.3);
    --cwTabActiveShadow: rgba(35, 105, 101, 0.7);
    --cwTabActiveShadowFade: rgba(35, 105, 101, 0);
    --cwTabActiveRadius: 48px;
    --cwTabActiveBorder: #1B2A31;

    --cwInputG: #2D4652;
    --cwInputBg: #2D4652;
    --cwInputBg2: #416576;
    --cwInputBg3: #4f7b91;
    --cwInputBgHover: #365462;
    --cwInputBg2Hover: #4a7386;
    --cwInputBg3Hover: #5889a1;
    --cwInputTxt: #fff;
    --cwInputTxt2: #c0c8cb;
    --cwInputTxt3: #96a3a9;
    --cwInputAccent: #3AAFA9;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputRGBA: rgba(45, 70, 82, 0.7);
    --cwInputRGBA2: rgba(45, 70, 82, 0.5);
    --cwInputRGBA3: rgba(45, 70, 82, 0.3);
    --cwInputShadow: rgba(27, 42, 49, 0.7);
    --cwInputShadowFade: rgba(27, 42, 49, 0);
    --cwInputRadius: 2px;
    --cwInputBorder: #1B2A31;

    --cwInputSecondaryG: #2D4652;
    --cwInputSecondaryBg: #2D4652;
    --cwInputSecondaryBg2: #416576;
    --cwInputSecondaryBg3: #4f7b91;
    --cwInputSecondaryBgHover: #365462;
    --cwInputSecondaryBg2Hover: #4a7386;
    --cwInputSecondaryBg3Hover: #5889a1;
    --cwInputSecondaryTxt: #fff;
    --cwInputSecondaryTxt2: #c0c8cb;
    --cwInputSecondaryTxt3: #96a3a9;
    --cwInputSecondaryAccent: #3AAFA9;
    --cwInputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryRGBA: rgba(45, 70, 82, 0.7);
    --cwInputSecondaryRGBA2: rgba(45, 70, 82, 0.5);
    --cwInputSecondaryRGBA3: rgba(45, 70, 82, 0.3);
    --cwInputSecondaryShadow: rgba(27, 42, 49, 0.7);
    --cwInputSecondaryShadowFade: rgba(27, 42, 49, 0);
    --cwInputSecondaryRadius: 2px;
    --cwInputSecondaryBorder: #1B2A31;

    --cwFilterG: #22343D;
    --cwFilterBg: #22343D;
    --cwFilterBg2: #365361;
    --cwFilterBg3: #45697b;
    --cwFilterBgHover: #2b424d;
    --cwFilterBg2Hover: #3f6171;
    --cwFilterBg3Hover: #4e778b;
    --cwFilterTxt: #fff;
    --cwFilterTxt2: #bdc2c5;
    --cwFilterTxt3: #919a9e;
    --cwFilterAccent: #3AAFA9;
    --cwFilterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFilterRGBA: rgba(34, 52, 61, 0.7);
    --cwFilterRGBA2: rgba(34, 52, 61, 0.5);
    --cwFilterRGBA3: rgba(34, 52, 61, 0.3);
    --cwFilterShadow: rgba(20, 31, 37, 0.7);
    --cwFilterShadowFade: rgba(20, 31, 37, 0);
    --cwFilterRadius: 0px;
    --cwFilterBorder: #1B2A31;

    --cwTooltipG: #385765;
    --cwTooltipBg: #385765;
    --cwTooltipBg2: #4c7689;
    --cwTooltipBg3: #5b8da3;
    --cwTooltipBgHover: #416575;
    --cwTooltipBg2Hover: #558499;
    --cwTooltipBg3Hover: #6b98ac;
    --cwTooltipTxt: #fff;
    --cwTooltipTxt2: #c3cdd1;
    --cwTooltipTxt3: #9cabb2;
    --cwTooltipAccent: #3AAFA9;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipRGBA: rgba(56, 87, 101, 0.7);
    --cwTooltipRGBA2: rgba(56, 87, 101, 0.5);
    --cwTooltipRGBA3: rgba(56, 87, 101, 0.3);
    --cwTooltipShadow: rgba(34, 52, 61, 0.7);
    --cwTooltipShadowFade: rgba(34, 52, 61, 0);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #1B2A31;

    --cwModalG: #22343D;
    --cwModalBg: #22343D;
    --cwModalBg2: #365361;
    --cwModalBg3: #45697b;
    --cwModalBgHover: #2b424d;
    --cwModalBg2Hover: #3f6171;
    --cwModalBg3Hover: #4e778b;
    --cwModalTxt: #fff;
    --cwModalTxt2: #bdc2c5;
    --cwModalTxt3: #919a9e;
    --cwModalAccent: #3AAFA9;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalRGBA: rgba(34, 52, 61, 0.7);
    --cwModalRGBA2: rgba(34, 52, 61, 0.5);
    --cwModalRGBA3: rgba(34, 52, 61, 0.3);
    --cwModalShadow: rgba(20, 31, 37, 0.7);
    --cwModalShadowFade: rgba(20, 31, 37, 0);
    --cwModalRadius: 0px;
    --cwModalBorder: #1B2A31;

    --cwLoginG: #22343D;
    --cwLoginBg: #22343D;
    --cwLoginBg2: #365361;
    --cwLoginBg3: #45697b;
    --cwLoginBgHover: #2b424d;
    --cwLoginBg2Hover: #3f6171;
    --cwLoginBg3Hover: #4e778b;
    --cwLoginTxt: #fff;
    --cwLoginTxt2: #bdc2c5;
    --cwLoginTxt3: #919a9e;
    --cwLoginAccent: #3AAFA9;
    --cwLoginAccentTxt: rgba(0, 0, 0, 0.9);
    --cwLoginRGBA: rgba(34, 52, 61, 0.7);
    --cwLoginRGBA2: rgba(34, 52, 61, 0.5);
    --cwLoginRGBA3: rgba(34, 52, 61, 0.3);
    --cwLoginShadow: rgba(20, 31, 37, 0.7);
    --cwLoginShadowFade: rgba(20, 31, 37, 0);
    --cwLoginRadius: 0px;
    --cwLoginBorder: #1B2A31;

    --cwRegisterG: #22343D;
    --cwRegisterBg: #22343D;
    --cwRegisterBg2: #365361;
    --cwRegisterBg3: #45697b;
    --cwRegisterBgHover: #2b424d;
    --cwRegisterBg2Hover: #3f6171;
    --cwRegisterBg3Hover: #4e778b;
    --cwRegisterTxt: #fff;
    --cwRegisterTxt2: #bdc2c5;
    --cwRegisterTxt3: #919a9e;
    --cwRegisterAccent: #3AAFA9;
    --cwRegisterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwRegisterRGBA: rgba(34, 52, 61, 0.7);
    --cwRegisterRGBA2: rgba(34, 52, 61, 0.5);
    --cwRegisterRGBA3: rgba(34, 52, 61, 0.3);
    --cwRegisterShadow: rgba(20, 31, 37, 0.7);
    --cwRegisterShadowFade: rgba(20, 31, 37, 0);
    --cwRegisterRadius: 0px;
    --cwRegisterBorder: #1B2A31;
        }
 /*start footer*/

.tl_license,
.cw_icon_plus_21{
    color:var(--cwFooterTxt2);
}
.tl_license a{
     color:var(--cwFooterTxt);
    text-decoration: underline;
}
.footer_social-item {
    color: var(--cwFooterTxt);
}
.idq_big{
    margin:23px auto;
}
.footer_copy{
    font-size:11px;
}
 /*end footer*/