/*ADDED FOR REASON REMOVE LATER*/
body {
    --bg-level-1: #000000;
    --bg-level-2: #111;
    --text-level-high: #fff;
    --cwPrimary: #E19C37;
    --text-on-primary: #000;
}

/*banner navigation*/
.lca-voice-icon,
.cas_nav_prev,
.cas_nav_next {
    background-color: rgba(0,0,0,0.877);
}
    .loading {
    background: url() no-repeat 50% 50% !important;
    min-height: 200px;
}

.bgMain {
    background-color: #000000 !important;
}

.btn_sec,
.clr_sec {
    background-color: #c4c4c4 !important;
    color: #111 !important;
}

.btn_prim,
.promo_clicked {
    background-color: #E19C37 !important;
    color: #000 !important;
}

.clr_prim {
    background-color: #E19C37;
    color: #000 !important;
}

.depositDialog {
    background: url();
    width: 30px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
}

.heading {
    background-color: #292929 !important;
    color: #fff !important;
    border-bottom: 2px solid #E19C37;
}

.sub_heading {
    color: #E19C37;
}

.menuBtn {
    background-color: #333;
    color: #fff !important;
    margin-bottom: 4px;
}

    .menuBtn a {
        color: #fff !important;
    }

.menuBtnSm {
    background-color: #333;
    color: #fff !important;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    padding: 0;
}

.ui-collapsible-inset, .ui-collapsible-set {
    margin: 0;
}

.ui-collapsible-content .menuBtn {
    background-color: #1c1c1c;
}

#header .txt {
    color: #fff;
}

.LinkToLeftPanel:before {
    font-size: 26px;
    line-height: 36px;
    color: #999999;
}

.menuRow {
    background-color: #333;
    color: #fff !important;
    height: 40px;
    margin-bottom: 4px;
}

.pagIt {
    background-color: #c4c4c4;
    color: #111;
}

.footer_title {
    text-transform: uppercase;
}

.footer_title,
.footer_links a {
    color: #999;
    font-size: 15px;
    display: block
}

.footer_links li {
    padding: 0 4%;
}

.footer_links a {
    font-size: 13px;
    margin-bottom: 13px;
}

.license_block ul {
    margin-bottom: 15px;
}

#copyright {
    background: none;
    color: #999;
    padding: 14px 0 18px 8px;
}

.nav {
    background: none;
}
/*main content*/
.collapse_dropdown_leftmenu {
    height: 48px;
}

.collapse_dropdown_leftmenu_btn:after {
    border-color: #fff transparent transparent transparent;
}
/*	datepicker color changes	*/
.ui-widget-header {
    background: #02954e !important;
    border: none;
}

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #02954e;
        background: #02954e;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #02954e;
        background: green url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #02954e;
    }

#home-cannon21 {
    background: url();
    background-size: cover;
}

#footer {
    background-color: #1a1a1a;
    position: relative;
}

.LogoMobilePlatform {
    background-image: var(--cdn-logoSm-mob_png);
    height: 46px;
    width: 60px;
}

#betSlip a {
    background-color: #E19C37;
    border: 0;
    border-radius: 3px 3px 0 0;
}

#scroll {
    background-color: #E19C37;
}

.ui-shadow-inset {
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-select .ui-btn > span:not(.ui-li-count) {
    margin-top: 0px;
}

.ui-select .ui-btn select {
    margin-top: 0 !important;
    opacity: 1;
    height: 25px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}

.games li label {
    background-color: #ffb700 !Important;
}

.cannon, .cashtransfer {
    width: 68px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -1465px -122px;
}

.perfectmoney, .perfectmoneywithdrawal, .perfectmoneydeposit {
    width: 70px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -1896px -123px;
}


#CurrencyCode-button {
    min-height: 36px;
}

.MobileIcon {
    width: max-content;
    height: 36px;
    border: 2px solid #999;
    background-color: #1a1a1a !important;
    border-radius: 2px;
    font-size: 16px;
    padding: 0 5px;
    color: #999 !important;
}

/*collapsable deposit withdrowal*/
.collapse_btn h3 > a {
    background-color: #292929;
    color: #E19C37;
    border-color: #484848;
}

.paym_txt {
    color: #fff;
}

.paym_txt1, #generalTermsLink, .paym_cond {
    color: #999;
}

    .paym_cond > span {
        color: #fff;
    }

.collapse_btn .ui-collapsible-content {
    background-color: #1a1a1a !important;
}

.collapse_btn .btn_prim {
    background-color: #E19C37 !important;
    color: #111 !important;
}

.collapse_btn .btn_sec {
    background-color: #333 !important;
    color: #999 !important;
}

.ui-mobile label, .ui-controlgroup-label {
    text-indent: 2px;
}

.switch input.sw:checked + label:before {
    background-color: #00912C;
}

.switch input.sw + label:before {
    background-color: #19e77a;
}

.footer-check {
    justify-content: center;
}
 
.bonus-block div {
    color: #fff;
}

#ChangeClientcurrency {
    position: absolute;
    top: 0;
    z-index: 9;
    background: black;
    width: 100%;
    min-height: 100%;
}

    #ChangeClientcurrency .tl_popup_container.login {
        position: absolute;
        width: 100%;
        height: 45%;
        z-index: 101;
        border-radius: 5px;
        background: #333333;
        top: 93px;
    }

    #ChangeClientcurrency .tl_popup_content_login {
        padding: 40px;
        color: white;
        text-align: justify;
    }

.Currencychange_header .tl_head_text {
    float: left;
}

.Currencychange_header .tl_head_close {
    float: right;
    margin-right: 10px;
}

.reg_width_calc {
    width: 100%;
}

#countryphonecode {
    padding: 3px 4px;
    font-size: 15px;
}

#countryphonecode_wraper {
    margin-right: 5px;
    display: none;
}


#apg-b0070d00-5c52-461a-9240-5d1103fb7029 {
    width: 50px;
    margin: 25px auto 10px;
}

.casino-tabs a {
    color: #1a1a1a;
}
/*inputs optimisation*/
input {
    background-color: #fff;
    color: #111;
}

.first_reg_template .reg_mobile_code,
.reg_input,
.tl_mail_send_area,
.custon_select__front_el,
.drop-down,
.drop-down-small,
#content_paym .ui-select span,
#content_paym .ui-select select,
.favorite_amounts > div {
    background-color: #3e3e3e;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

.first_reg_template .tl_refresh_container {
    bottom: 1px;
}
.reg__gender_row label, .profile_container .reg__gender_row label {
    color: #a3a3a3;
}

.reg__row_title {
    font-size: 12px;
}

.profile_container label, .transfer2friend_cont label, #content_paym label, .forgot_pass__row label, .r_login__row label, .changepass__element_row label, .search_popup_row label {
    color: #a3a3a3
}

.D_reg_footer div {
    width: 100%;
}

.reg_prof__element_row {
    margin-bottom: 20px;
    color: #999;
}

.reg_prof__element_row .ui-btn-icon-right:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666666;
    border-radius: 0;
    width: auto;
    height: 10px;
    background: none;
    right: 15px;
    bottom: 8px;
    top: auto;
}
/*right menu*/

.right_menu_header {
    background: #333333;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    line-height: 44px;
    padding: 5px 0 5px;
}

.right_menu_close {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    background-color: #333333;
    color: #e6e6e6;
    font-size: 18px;
    line-height: 18px;
    border-radius: 2px;
    margin-top: 5px;
}

.account_title {
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
    font-size: 14px;
    padding: 0 8px;
    margin-bottom: 0;
}

.playerId {
    margin: 8px 8px 24px;
}

.right_menu_logo {
    width: 101px;
    height: 35px;
    background-image: var(--cdn-logoSm-mob_png);
    background-size: contain;
    margin: 5px auto 0;
    background-repeat: no-repeat;
    background-position: center;
}

/*poker popup*/
.pokerInfo_cont {
    width: 100%;
    height: 100%;
    padding: 50px 10px;
    background-image: url();
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.pokerInfo_block {
    border-radius: 16px;
    background: rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
    padding: 30px 15px;
}

.btn_log_poker {
    width: 130px;
    height: 36px;
    margin: 16px auto 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid #707070;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6) !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff !important;
}

.btn_prim.btn_log_poker {
    border: none;
    background-color: #FFB700 !important;
    color: #000 !important;
}

.btn_poker_block {
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.poker strong:before {
    content: ",";
}

li a.promoted span:after {
    top: -10px;
}
/*tournament*/
.tour__leaderboard_table_me {
    border-bottom: 2px solid #E19C37;
}

.tr_col_me {
    color: #E19C37;
}


/*new registration*/
.regHeading, .change_pass_heading {
    background: #FFFFFF;
    color: #000;
    justify-content: space-between;
    display: flex;
    padding: 15px 15px 0;
    height: auto;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
}

    .regHeading .reg_close {
        position: relative;
        top: 0px;
        right: 0px;
    }

.errSucCont .reg_close {
    margin-left: auto;
    top: 0px;
    height: 20px;
    width: 20px;
    position: relative;
    margin-right: 12px;
}

.change_pass_heading .reg_close {
    position: relative;
    top: 5px;
    right: 15px;
}
 
    .change_pass_heading .reg_close:after {
        background: #fff;
    }

    

    .change_pass_heading .reg_close:before {
        background: #fff;
    }

/*content*/
.reg_steps_info {
    width: 100%;
}

.reg_progress_dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0 16px;
}

    .reg_progress_dots span {
        width: 24px;
        height: 24px;
        border: 2px solid #525252;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        background-color: #292929;
    }

        .reg_progress_dots span.active:after {
            -webkit-border-radius: 50%;
            border-radius: 50%;
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            background: #E19C37;
            top: 4px;
            left: 4px;
        }

        .reg_progress_dots span.done {
            background: #E19C37;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: none;
            height: 22px;
            width: 22px;
            top: 2px;
        }

            .reg_progress_dots span.done:before {
                background: #E19C37;
            }

        .reg_progress_dots span:before {
            background: #525252;
            content: "";
            position: absolute;
            width: calc(100vw - 84px);
            height: 2px;
            top: 9px;
            left: 22px;
        }

        .reg_progress_dots span:last-child:before {
            display: none;
        }

/*banners*/
.register_left_banner {
    height: auto;
    width: 100%;
}

    .register_left_banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*content*/
.reg_content {
    width: 100%;
    padding: 0 20px;
    background: #292929;
    font-family: "Roboto", sans-serif !important;
}

.col_3, .col_2, .col_1, .col_07, .col_03 {
    padding: 0 !important;
} 
.valid_icon_error_rc .input-validation-error,
.valid_icon_error_rc .valid {
    background-image: none;
}

.dateOfBirth_errors {
    position: relative !important;
    top: -9px !important;
}

    .dateOfBirth_errors > span {
        position: absolute !important;
        top: 0;
    }

.reg__checkboxes_row {
    margin: 10px 0;
    padding: 6px 0 0 33px;
    color: #999;
}

.register_step_descr.green_text {
    color: #3DEA96;
    font-weight: bold;
    margin-top: 40px;
    font-size: 26px;
}

.register_step_descr.congrats_text {
    color: #1A1A1A;
    font-size: 14px;
    text-transform: inherit;
    line-height: 20px;
    margin-top: 16px;
}

#finalize {
    margin-top: 200px
}

.required-field {
    color: #999;
}

.footer_links {
    justify-content: center;
}
/*new redesign styles*/
body, #wrapper {
    background: #2E2E2E;
    color: #fff;
    font-size: 12px !important;
}

.name_vidget {
    color: #fff;
    background: rgba(26,26,26, 0.5);
}

/*/slider*/

.nav_title {
    background: transparent;
    font-size: 14px;
}

.block_title {
    color: #E19C37;
    background: #2B2B2B;
}

.nav_item > img {
    padding: 15px 45px 50px;
    max-height: 29vw;
    object-fit: contain;
}

.nav_item {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}
/*games containers*/
.favorite_see__notlogin_text {
    color: #F2F2F2;
}

/*casino navigation*/

.fixed_menu__play_button {
    background: #111;
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px #111;
}

.fixed_menu__li.active svg .yellow, .fixed_menu__li.active .fixed_menu__play_button, .fixed_menu__li.active {
    color: #ffb700;
}

.casino_nav__links_block {
    background: #1A1A1A;
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    -moz-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
}

.casino_nav__links_block a {
    color: #fff;
}

    .casino_nav__links_block a.active {
        color: #ffb700;
    }

/*play page promotions*/
.play__promo_mobile_li {
    background-color: #262626;
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
}


.play__promo_title {
    color: #fff;
}

.play__promo_descr {
    color: #CCCCCC;
}

/*filter and search*/
#searchContent .popup_flex_box {
    background: #000;
    box-shadow: 0px 0px 320px 320px #000;
}

#casino_filter_popup {
    background-color: #1A1A1A;
}

.search_switcher {
    background-color: #cfcfcf;
}

    .search_switcher:before {
        background-color: #fff;
    }

.checked .search_switcher {
    background-color: #ffb700;
}

.search__icon::after {
    color: #707070;
}

/*search part*/
.nc__heading {
    color: #ffffff;
}

.games_filter_popup .search_filter_input {
    background-color: #262626 !important;
    box-shadow: 0px 3px 6px #2B2B2B4D;
    color: #FFFFFF;
}

.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.games_filter_popup {
    width: 100%;
}

.fs__input_wrap .close-search {
    color: #fff;
}

    .fs__input_wrap .close-search:after {
        background: #fff;
    }

    .fs__input_wrap .close-search:before {
        background: #fff;
    }

.game__link_demo {
    background: #111;
    color: #fff;
}

/*icons opened game info*/
.like_icon:after {
    color: #fff;
}

.jackpot__value span {
    color: #E19C37;
}

.close__game__more_block::after {
    color: #fff;
}

.game__link_play {
    background: #00912C;
    color: #fff;
}

.game__link_demo {
    background: #111;
    color: #fff;
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}
/*filer*/
.games_filter_title {
    color: #ffffff;
    background-color: #333;
}

.games_filter_element, .games_filter_list_show {
    background-color: #333;
}

    .games_filter_element.active {
        background: #ffb700;
        color: #262626;
    }

.filter__more_games {
    color: #fff;
    background: #000;
}

.filter_result__go_back {
    color: #999999;
}

.games_filter_popup__footer {
    background-color: #262626;
}

.games_filter_reset {
    background-color: #161415;
}

.games_filter_show {
    background-color: #ffb700;
    color: #000
}
/*training animate*/
.training__block_circle {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0,0,0,0.7);
}

.training__info {
    color: #333;
    background: #fff;
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.training__next {
    color: #ffb700;
} 

#searchContent .popup_flex_box {
    height: calc(100% - 150px);
} 

div.nc__slider_block.w100 {
    min-height: 160px;
}  

.fr__sort_by_drpdwn_el {
    background-color: #111;
}
/*footer*/
.drop_down_lang {
    background: #292929;
    width: 100%;
    color: #B3B3B3;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 100px !important;
}

.drop_down_lang__front_el {
    left: 0;
    right: 44px;
    background-color: #292929;
    width: auto;
    color: #B3B3B3;
    justify-content: flex-start;
    padding: 0 15px;
}

.cw_mob_footer_18_wrapper {
    color: #949494;
}

.footer_text {
    color: #B3B3B3;
}

.laliga_img {
    margin: 30px auto;
}

.footer_cont {
    width: 100%;
    padding: 10px;
    max-width: 350px;
}

.toWeb {
    background-color: #292929 !important;
    color: #B3B3B3 !important;
    display: block;
    margin-bottom: 65px;
}

.copy {
    color: #E19C37;
}

#left-panel {
    width: 300px;
}

.toto .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 300px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
/* Panel left closed animated */
.toto .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.toto .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.toto .ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.toto .ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}

.toto .ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(20em,0,0);
    -moz-transform: translate3d(20em,0,0);
    transform: translate3d(20em,0,0);
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 299px;
}

@media screen and (max-width: 374px) {
    #left-panel {
        width: 260px;
    }

    .toto .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
    .toto .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
        -webkit-transform: translate3d(-260px,0,0);
        -moz-transform: translate3d(-260px,0,0);
        transform: translate3d(-260px,0,0);
    }

    .toto .ui-panel-animate.ui-panel-page-content-position-left {
        -webkit-transform: translate3d(16em,0,0);
        -moz-transform: translate3d(16em,0,0);
        transform: translate3d(16em,0,0);
    }

    .toto .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
        left: 260px;
    }
}
 
/*Live casino skinning*/
.lca-main-content {
    background-color: #1A1A1A;
    color: #fff;
}
  /*Menu*/
.lca_search_cont, .lca-menu {
    background-color: #2b2b2b;
}
.lca-menu-link {
    color: #fff;
}
.lca-menu-link.active {
    background-color: #E0BE00;
    color: #000;
}
.lca-menu-link.active .lca-menu-badge {
  background-color: #2b2b2b;
  color: #E0BE00;
}
.lca-menu-badge {
  background-color: #E0BE00;
  color: #000;
}
  /*Submenu*/
.lca-submenu {
    background-color: #444444;
    color: #fff;
}
.lca-submenu-link {
  color: #cccccc;
}
.lca-submenu-link.active {
    color: #E0BE00;
}
  /*Game card*/
.lca-card-footer {
    background-color: #2b2b2b;
    color: #fff;
}
 .lca-card-footer-btn .star_icon.active, .lca-card-price{
    color: #E0BE00;
}
.lca-card-footer-btn {
  background-color: #333333;
  color: #fff;
}
.lca-card-footer-btn .like_icon:after,
.lca-card-footer-btn .star_icon {
  color: #fff;
}

.lca-main-content .star_icon.active:after {
    color: #E0BE00;
    text-shadow: 0px 0px 6px #ffdb14;
}
.lca-card-badge.type-1 {
    background-color: #E0BE00;
    color: #000;
}
  /*Filter and search*/
.lca-title {
    color: #fff;
}
.lca-input {
  background-color: #333333;
  color: #cccccc;
}
.lca-filter-toggle {
    color: #fff;
}
.lca-filter-price {
  background-color: #333333;
  color: #fff;
}
.lca-filter-price-input {
  color: #fff;
}
.lca-filter-range-divider {
    background-color: #E0BE00;
}
.lca-main-content .noUi-target {
    background: #333333;
}
.lca-main-content .noUi-connect {
    background: #E0BE00;
}
.lca-main-content .noUi-handle {
    border-color: #333333;
    background: #E0BE00;
}
.lca-filter-category-item {
    background-color: #333333;
    color: #fff;
}
.lca-filter-category-item.active {
  background-color: #E0BE00;
  color: #000;
}
.lca-search-result-title {
    color: #fff;
}
.lca-search-result-filter-item {
    color: #cccccc;
}
.lca-search-result-filter-item-description {
    color: #fff;
}
.lca-dropdown-toggle {
    color: #fff;
}
.lca-dropdown {
    background-color: rgba(26, 26, 26, 0.4);
    color: #fff;
}
.lca-dropdown-item {
    color: #fff;
}
.lca-back-link {
    color: #cccccc;
}
.lca-card-more-wrapper {
    background-color: rgba(26, 26, 26, 0.4);
    color: #fff;
}
.lca-card-more {
  color: #fff;
}
.lca-filter-footer {
    background-color: #2b2b2b;
    color: #fff;
}
.lca-filter-footer-btn-reset {
    background-color: #444444;
    color: #fff;
}
.lca-filter-footer-btn-show {
    background-color: #E0BE00;
    color: #000;
}
  /*Promotions*/
.lca-promo-text-wrapper {
    background-color: #2b2b2b;
    color: #fff;
}
.lca-promo-title {
    color: #fff;
}
.lca-main-content .promo_mobile_cont {
  background-color: #2b2b2b;
  color: #fff;
}
.lca-main-content .promo_mobile_title {
  color: #fff;
}
     
.lca-main-content .promo_mobile_text_cont {
  box-shadow: 0 -14px 29px 19px #2b2b2b;
}

.lca-card-promo-img::after {
    box-shadow: inset 0px -71px 39px -35px #2b2b2b;
}

/*27.4.21 optims*/
body .bg-primary, body .h-bg-primary {
    background-color: #E19C37;
    color: #000;
}

    body .h-bg-primary:hover {
        background-color: #c7821e;
        color: #000;
    }

body .text-primary {
    color: #E19C37;
}

body .bg-secondary, body .h-bg-secondary {
    background-color: #292929;
    color: #fff;
}

    body .h-bg-secondary:hover {
        background-color: #262626;
        color: #fff;
    }

body .bg-tert, body .h-bg-tert {
    background-color: #000000;
    color: #fff;
}

    body .h-bg-tert:hover {
        background-color: #000000;
        color: #fff;
    }

.cryptoonline {
    width: 72px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -5538px -59px;
}
/*very new bonus*/
.bonus_card_body {
    background-color: #3d3d3d;
}

/*dynamic header*/

.casino_links_tabs .dynamic_icon {
    margin: 0;
}

.casino_links_tabs .menu_item {
    column-gap: 10px;
}

.tl_main_nav_item-active, .tl_main_nav_item-active .dynamic_icon {
    color: var(--cwPrimary);
}

/*-----*/

:root {/*--body */
    --cwBodyG: #000000;
    --cwBodyBg: #000000;
    --cwBodyBgHover: #080808;
    --cwBodyBg2: #1a1a1a;
    --cwBodyBg2Hover: #222222;
    --cwBodyBg3: #262626;
    --cwBodyBg3Hover: #2e2e2e;
    --cwBodyTxt: rgba(255, 255, 255, 0.9);
    --cwBodyTxt2: rgba(255, 255, 255, 0.6);
    --cwBodyTxt3: rgba(255, 255, 255, 0.4);
    --cwBodyAccent: #E19C37;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyBorder: #000000; /*--dominant */
    --cwDominantG: #080808;
    --cwDominantBg: #080808;
    --cwDominantBgHover: #101010;
    --cwDominantBg2: #212121;
    --cwDominantBg2Hover: #292929;
    --cwDominantBg3: #2e2e2e;
    --cwDominantBg3Hover: #363636;
    --cwDominantTxt: rgba(255, 255, 255, 0.9);
    --cwDominantTxt2: rgba(255, 255, 255, 0.6);
    --cwDominantTxt3: rgba(255, 255, 255, 0.4);
    --cwDominantAccent: #E19C37;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantBorder: #000000;/*--accent */
    --cwAccentG: #E19C37;
    --cwAccentBg: #E19C37;
    --cwAccentBgHover: #e3a344;
    --cwAccentBg2: #e8b263;
    --cwAccentBg2Hover: #eab970;
    --cwAccentBg3: #ebbd7a;
    --cwAccentBg3Hover: #edc487;
    --cwAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentTxt2: rgba(0, 0, 0, 0.6);
    --cwAccentTxt3: rgba(0, 0, 0, 0.4);
    --cwAccentAccent: #E19C37;
    --cwAccentAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentBorder: #000000;/*--button */
    --cwButtonG: #e3a344;
    --cwButtonBg: #e3a344;
    --cwButtonBgHover: #e5aa51;
    --cwButtonBg2: #eab970;
    --cwButtonBg2Hover: #ecc07d;
    --cwButtonBg3: #edc487;
    --cwButtonBg3Hover: #efcb94;
    --cwButtonTxt: rgba(0, 0, 0, 0.9);
    --cwButtonTxt2: rgba(0, 0, 0, 0.6);
    --cwButtonTxt3: rgba(0, 0, 0, 0.4);
    --cwButtonAccent: #E19C37;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonBorder: #000000;/*--input */
    --cwInputG: #1a1a1a;
    --cwInputBg: #1a1a1a;
    --cwInputBgHover: #222222;
    --cwInputBg2: #333333;
    --cwInputBg2Hover: #3b3b3b;
    --cwInputBg3: #404040;
    --cwInputBg3Hover: #484848;
    --cwInputTxt: rgba(255, 255, 255, 0.9);
    --cwInputTxt2: rgba(255, 255, 255, 0.6);
    --cwInputTxt3: rgba(255, 255, 255, 0.4);
    --cwInputAccent: #E19C37;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputBorder: #000000;/*--header */
    --cwHeaderG: #2e2e2e;
    --cwHeaderBg: #2e2e2e;
    --cwHeaderBgHover: #363636;
    --cwHeaderBg2: #474747;
    --cwHeaderBg2Hover: #4f4f4f;
    --cwHeaderBg3: #545454;
    --cwHeaderBg3Hover: #5c5c5c;
    --cwHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderTxt2: rgba(255, 255, 255, 0.6);
    --cwHeaderTxt3: rgba(255, 255, 255, 0.4);
    --cwHeaderAccent: #E19C37;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderBorder: #000000;/*--navbar */
    --cwNavbarG: #1a1a1a;
    --cwNavbarBg: #1a1a1a;
    --cwNavbarBgHover: #222222;
    --cwNavbarBg2: #333333;
    --cwNavbarBg2Hover: #3b3b3b;
    --cwNavbarBg3: #404040;
    --cwNavbarBg3Hover: #484848;
    --cwNavbarTxt: rgba(255, 255, 255, 0.9);
    --cwNavbarTxt2: rgba(255, 255, 255, 0.6);
    --cwNavbarTxt3: rgba(255, 255, 255, 0.4);
    --cwNavbarAccent: #E19C37;
    --cwNavbarAccentTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarBorder: #000000;/*--subHeader */
    --cwSubHeaderG: #222222;
    --cwSubHeaderBg: #222222;
    --cwSubHeaderBgHover: #2a2a2a;
    --cwSubHeaderBg2: #3b3b3b;
    --cwSubHeaderBg2Hover: #434343;
    --cwSubHeaderBg3: #484848;
    --cwSubHeaderBg3Hover: #505050;
    --cwSubHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderTxt2: rgba(255, 255, 255, 0.6);
    --cwSubHeaderTxt3: rgba(255, 255, 255, 0.4);
    --cwSubHeaderAccent: #E19C37;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderBorder: #000000;/*--modal */
    --cwModalG: #1a1a1a;
    --cwModalBg: #1a1a1a;
    --cwModalBgHover: #222222;
    --cwModalBg2: #333333;
    --cwModalBg2Hover: #3b3b3b;
    --cwModalBg3: #404040;
    --cwModalBg3Hover: #484848;
    --cwModalTxt: rgba(255, 255, 255, 0.9);
    --cwModalTxt2: rgba(255, 255, 255, 0.6);
    --cwModalTxt3: rgba(255, 255, 255, 0.4);
    --cwModalAccent: #E19C37;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalBorder: #000000;/*--tab */
    --cwTabG: #1a1a1a;
    --cwTabBg: #1a1a1a;
    --cwTabBgHover: #222222;
    --cwTabBg2: #333333;
    --cwTabBg2Hover: #3b3b3b;
    --cwTabBg3: #404040;
    --cwTabBg3Hover: #484848;
    --cwTabTxt: rgba(255, 255, 255, 0.9);
    --cwTabTxt2: rgba(255, 255, 255, 0.6);
    --cwTabTxt3: rgba(255, 255, 255, 0.4);
    --cwTabAccent: #E19C37;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabBorder: #000000;/*--tabActive */
    --cwTabActiveG: #222222;
    --cwTabActiveBg: #222222;
    --cwTabActiveBgHover: #2a2a2a;
    --cwTabActiveBg2: #3b3b3b;
    --cwTabActiveBg2Hover: #434343;
    --cwTabActiveBg3: #484848;
    --cwTabActiveBg3Hover: #505050;
    --cwTabActiveTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveTxt2: rgba(255, 255, 255, 0.6);
    --cwTabActiveTxt3: rgba(255, 255, 255, 0.4);
    --cwTabActiveAccent: #E19C37;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveBorder: #000000;/*--tooltip */
    --cwTooltipG: #1a1a1a;
    --cwTooltipBg: #1a1a1a;
    --cwTooltipBgHover: #222222;
    --cwTooltipBg2: #333333;
    --cwTooltipBg2Hover: #3b3b3b;
    --cwTooltipBg3: #404040;
    --cwTooltipBg3Hover: #484848;
    --cwTooltipTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipTxt2: rgba(255, 255, 255, 0.6);
    --cwTooltipTxt3: rgba(255, 255, 255, 0.4);
    --cwTooltipAccent: #E19C37;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipBorder: #000000;
}
