
/* Casino Mobile page */
:root {
    --cwBodyBg: #EEEEEE;
    --cwBodyBg2: #dfdfdf;
    --cwBodyBg3: #cfcfcf;
    --cwBodyBgHover: #e6e6e6;
    --cwBodyBg2Hover: #d7d7d7;
    --cwBodyBg3Hover: #c7c7c7;
    --cwBodyRGBA: rgba(238, 238, 238, 0.7);
    --cwBodyRGBA2: rgba(238, 238, 238, 0.5);
    --cwBodyRGBA3: rgba(238, 238, 238, 0.3);
    --cwBodyTxt: rgba(0, 0, 0, 0.9);
    --cwBodyTxt2: rgba(0, 0, 0, 0.6);
    --cwBodyTxt3: rgba(0, 0, 0, 0.4);
    --cwBodyAccent: #D80027;
    --cwBodyAccentTxt: rgba(255, 255, 255, 0.9);
    --cwBodyBorder: #EEEEEE;
    --cwBodyRadius: 0px;
    --cwDominantG: #FFFFFF;
    --cwDominantRGBA: rgba(255, 255, 255, 0.7);
    --cwDominantRGBA2: rgba(255, 255, 255, 0.5);
    --cwDominantRGBA3: rgba(255, 255, 255, 0.3);
    --cwDominantBg: #FFFFFF;
    --cwDominantBg2: #f0f0f0;
    --cwDominantBg3: #e0e0e0;
    --cwDominantBgHover: #f7f7f7;
    --cwDominantBg2Hover: #e8e8e8;
    --cwDominantBg3Hover: #d8d8d8;
    --cwDominantTxt: rgba(0, 0, 0, 0.9);
    --cwDominantTxt2: rgba(0, 0, 0, 0.6);
    --cwDominantTxt3: rgba(0, 0, 0, 0.4);
    --cwDominantAccent: #D80027;
    --cwDominantAccentTxt: rgba(255, 255, 255, 0.9);
    --cwDominantTxtInverse: #fff;
    --cwDominantRadius: 0px;
    --cwAccentBg: #D80027;
    --cwAccentBg2: #ff0c38;
    --cwAccentBg3: #ff254d;
    --cwAccentBgHover: #e7002a;
    --cwAccentBg2Hover: #ff1b45;
    --cwAccentBg3Hover: #ff3459;
    --cwAccentG: #D80027;
    --cwAccentTxt: rgba(255, 255, 255, 0.9);
    --cwAccentTxt2: rgba(255, 255, 255, 0.6);
    --cwAccentTxt3: rgba(255, 255, 255, 0.4);
    --cwButtonG: linear-gradient(277deg, #EF8284 0%, #D80027 100%);
    --cwButtonBg: #D80027;
    --cwButtonBg2: #ff0c38;
    --cwButtonBg3: #ff254d;
    --cwButtonBgHover: #e7002a;
    --cwButtonBg2Hover: #ff1b45;
    --cwButtonBg3Hover: #ff3459;
    --cwButtonTxt: rgba(255, 255, 255, 0.9);
    --cwButtonTxt2: rgba(255, 255, 255, 0.6);
    --cwButtonTxt3: rgba(255, 255, 255, 0.4);
    --cwButtonAccent: #D80027;
    --cwButtonAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonBorder: #D80027;
    --cwButtonRadius: 8px;
    --cwButtonSecondaryG: #FFFFFF;
    --cwButtonSecondaryBg: #FFFFFF;
    --cwButtonSecondaryBg2: #f0f0f0;
    --cwButtonSecondaryBg3: #e0e0e0;
    --cwButtonSecondaryBgHover: #f7f7f7;
    --cwButtonSecondaryBg2Hover: #e8e8e8;
    --cwButtonSecondaryBg3Hover: #d8d8d8;
    --cwButtonSecondaryTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryTxt2: rgba(0, 0, 0, 0.6);
    --cwButtonSecondaryTxt3: rgba(0, 0, 0, 0.4);
    --cwButtonSecondaryAccent: #D80027;
    --cwButtonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonSecondaryBorder: #EEEEEE;
    --cwButtonSecondaryRadius: 8px;
    --cwInputG: #ffffff;
    --cwInputBg: #ffffff;
    --cwInputBg2: #e1e1e1;
    --cwInputBg3: #d1d1d1;
    --cwInputBgHover: #e8e8e8;
    --cwInputBg2Hover: #d9d9d9;
    --cwInputBg3Hover: #c9c9c9;
    --cwInputTxt: rgba(0, 0, 0, 0.9);
    --cwInputTxt2: rgba(0, 0, 0, 0.6);
    --cwInputTxt3: rgba(0, 0, 0, 0.4);
    --cwInputAccent: #D80027;
    --cwInputAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputRadius: 0px;
    --cwInputBorder: #EEEEEE;
    --cwInputSecondaryG: #e8e8e8;
    --cwInputSecondaryBg: #e8e8e8;
    --cwInputSecondaryBg2: #d9d9d9;
    --cwInputSecondaryBg3: #c9c9c9;
    --cwInputSecondaryBgHover: #e0e0e0;
    --cwInputSecondaryBg2Hover: #d1d1d1;
    --cwInputSecondaryBg3Hover: #c1c1c1;
    --cwInputSecondaryTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryTxt2: rgba(0, 0, 0, 0.6);
    --cwInputSecondaryTxt3: rgba(0, 0, 0, 0.4);
    --cwInputSecondaryAccent: #D80027;
    --cwInputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #EEEEEE;
    --cwHeaderG: #01133A;
    --cwHeaderBg: #01133A;
    --cwHeaderBg2: #00091c;
    --cwHeaderBg3: #000000;
    --cwHeaderBgHover: #010e2b;
    --cwHeaderBg2Hover: #00040d;
    --cwHeaderBg3Hover: #000000;
    --cwHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderTxt2: rgba(255, 255, 255, 0.6);
    --cwHeaderTxt3: rgba(255, 255, 255, 0.4);
    --cwHeaderAccent: #D80027;
    --cwHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderBorder: #EEEEEE;
    --cwHeaderRadius: 0px;
    --cwSubHeaderG: #00040d;
    --cwSubHeaderBg: #00040d;
    --cwSubHeaderBg2: #000000;
    --cwSubHeaderBg3: #000000;
    --cwSubHeaderBgHover: #000000;
    --cwSubHeaderBg2Hover: #000000;
    --cwSubHeaderBg3Hover: #000000;
    --cwSubHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderTxt2: rgba(255, 255, 255, 0.6);
    --cwSubHeaderTxt3: rgba(255, 255, 255, 0.4);
    --cwSubHeaderAccent: #D80027;
    --cwSubHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderBorder: #EEEEEE;
    --cwSubHeaderRadius: 0px;
    --cwModalG: #f0f0f0;
    --cwModalBg: #f0f0f0;
    --cwModalBg2: #e1e1e1;
    --cwModalBg3: #d1d1d1;
    --cwModalBgHover: #e8e8e8;
    --cwModalBg2Hover: #d9d9d9;
    --cwModalBg3Hover: #c9c9c9;
    --cwModalTxt: rgba(0, 0, 0, 0.9);
    --cwModalTxt2: rgba(0, 0, 0, 0.6);
    --cwModalTxt3: rgba(0, 0, 0, 0.4);
    --cwModalAccent: #D80027;
    --cwModalAccentTxt: rgba(255, 255, 255, 0.9);
    --cwModalRadius: 0px;
    --cwModalBorder: #EEEEEE;
    --cwTabG: #f0f0f0;
    --cwTabBg: #f0f0f0;
    --cwTabBg2: #e1e1e1;
    --cwTabBg3: #d1d1d1;
    --cwTabBgHover: #e8e8e8;
    --cwTabBg2Hover: #d9d9d9;
    --cwTabBg3Hover: #c9c9c9;
    --cwTabTxt: rgba(0, 0, 0, 0.9);
    --cwTabTxt2: rgba(0, 0, 0, 0.6);
    --cwTabTxt3: rgba(0, 0, 0, 0.4);
    --cwTabAccent: #D80027;
    --cwTabAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabRadius: 0px;
    --cwTabBorder: #EEEEEE;
    --cwTabActiveG: #e8e8e8;
    --cwTabActiveBg: #e8e8e8;
    --cwTabActiveBg2: #d9d9d9;
    --cwTabActiveBg3: #c9c9c9;
    --cwTabActiveBgHover: #e0e0e0;
    --cwTabActiveBg2Hover: #d1d1d1;
    --cwTabActiveBg3Hover: #c1c1c1;
    --cwTabActiveTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveTxt2: rgba(0, 0, 0, 0.6);
    --cwTabActiveTxt3: rgba(0, 0, 0, 0.4);
    --cwTabActiveAccent: #D80027;
    --cwTabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #EEEEEE;
    --cwTooltipG: #f0f0f0;
    --cwTooltipBg: #f0f0f0;
    --cwTooltipBg2: #e1e1e1;
    --cwTooltipBg3: #d1d1d1;
    --cwTooltipBgHover: #e8e8e8;
    --cwTooltipBg2Hover: #d9d9d9;
    --cwTooltipBg3Hover: #c9c9c9;
    --cwTooltipTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipTxt2: rgba(0, 0, 0, 0.6);
    --cwTooltipTxt3: rgba(0, 0, 0, 0.4);
    --cwTooltipAccent: #D80027;
    --cwTooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #EEEEEE;
}


.LogoMobilePlatform {
    background-image: var(--cdn-logo-mob_png);
}
/*start registration*/
.heading {
    background-color: var(--cwDominantBg);
}
/*end registration*/