/* Casino Mobile page */
:root {
    --cwBodyBg: #14141E;
    --cwBodyBg2: #28283d;
    --cwBodyBg3: #33334c;
    --cwBodyBgHover: #1a1a27;
    --cwBodyBg2Hover: #2e2e46;
    --cwBodyBg3Hover: #393955;
    --cwBodyRGBA: rgba(20, 20, 30, 0.7);
    --cwBodyRGBA2: rgba(20, 20, 30, 0.5);
    --cwBodyRGBA3: rgba(20, 20, 30, 0.3);
    --cwBodyTxt: #e8e8e9;
    --cwBodyTxt2: #d0d0d2;
    --cwBodyTxt3: #b9b9bc;
    --cwBodyAccent: #FFFFFF;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyBorder: #14141E;
    --cwBodyRadius: 0px;
    --cwDominantG: #1B1D2A;
    --cwDominantRGBA: rgba(27, 29, 42, 0.7);
    --cwDominantRGBA2: rgba(27, 29, 42, 0.5);
    --cwDominantRGBA3: rgba(27, 29, 42, 0.3);
    --cwDominantBg: #1B1D2A;
    --cwDominantBg2: #2f3249;
    --cwDominantBg3: #393d59;
    --cwDominantBgHover: #212333;
    --cwDominantBg2Hover: #353852;
    --cwDominantBg3Hover: #3f4362;
    --cwDominantTxt: #e8e8ea;
    --cwDominantTxt2: #d1d2d4;
    --cwDominantTxt3: #bbbbbf;
    --cwDominantAccent: #039DB1;
    --cwDominantAccentTxt: rgba(255, 255, 255, 0.9);
    --cwDominantTxtInverse: #262626;
    --cwDominantRadius: 0px;
    --cwAccentBg: #039DB1;
    --cwAccentBg2: #04c9e3;
    --cwAccentBg3: #06dffb;
    --cwAccentBgHover: #03aac0;
    --cwAccentBg2Hover: #04d6f2;
    --cwAccentBg3Hover: #15e1fb;
    --cwAccentG: #039DB1;
    --cwAccentTxt: #e6f5f7;
    --cwAccentTxt2: #cdebef;
    --cwAccentTxt3: #b3e2e8;
    --cwButtonG: #80F9F8;
    --cwButtonBg: #80F9F8;
    --cwButtonBg2: #b1fbfb;
    --cwButtonBg3: #c9fcfc;
    --cwButtonBgHover: #8ffaf9;
    --cwButtonBg2Hover: #c0fcfc;
    --cwButtonBg3Hover: #d7fdfd;
    --cwButtonTxt: #0d1919;
    --cwButtonTxt2: #1a3232;
    --cwButtonTxt3: #264b4a;
    --cwButtonAccent: #039DB1;
    --cwButtonAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonBorder: #14141E;
    --cwButtonRadius: 0px;
    --cwButtonSecondaryG: #393955;
    --cwButtonSecondaryBg: #393955;
    --cwButtonSecondaryBg2: #4d4d74;
    --cwButtonSecondaryBg3: #585883;
    --cwButtonSecondaryBgHover: #3f3f5e;
    --cwButtonSecondaryBg2Hover: #53537d;
    --cwButtonSecondaryBg3Hover: #5e5e8c;
    --cwButtonSecondaryTxt: #ebebee;
    --cwButtonSecondaryTxt2: #d7d7dd;
    --cwButtonSecondaryTxt3: #c4c4cc;
    --cwButtonSecondaryAccent: #FFFFFF;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryBorder: #14141E;
    --cwButtonSecondaryRadius: 0px;
    --cwInputG: #202232;
    --cwInputBg: #202232;
    --cwInputBg2: #343751;
    --cwInputBg3: #3e4261;
    --cwInputBgHover: #26283b;
    --cwInputBg2Hover: #3a3d5a;
    --cwInputBg3Hover: #44486a;
    --cwInputTxt: #e9e9eb;
    --cwInputTxt2: #d2d3d6;
    --cwInputTxt3: #bcbdc2;
    --cwInputAccent: #039DB1;
    --cwInputAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputRadius: 0px;
    --cwInputBorder: #14141E;
    --cwInputSecondaryG: #222436;
    --cwInputSecondaryBg: #222436;
    --cwInputSecondaryBg2: #363955;
    --cwInputSecondaryBg3: #404365;
    --cwInputSecondaryBgHover: #282a3f;
    --cwInputSecondaryBg2Hover: #3c3f5e;
    --cwInputSecondaryBg3Hover: #46496e;
    --cwInputSecondaryTxt: #e9e9eb;
    --cwInputSecondaryTxt2: #d3d3d7;
    --cwInputSecondaryTxt3: #bdbdc3;
    --cwInputSecondaryAccent: #039DB1;
    --cwInputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #14141E;
    --cwHeaderG: #1A1B28;
    --cwHeaderBg: #1A1B28;
    --cwHeaderBg2: #2e3047;
    --cwHeaderBg3: #383a56;
    --cwHeaderBgHover: #202131;
    --cwHeaderBg2Hover: #343650;
    --cwHeaderBg3Hover: #3e405f;
    --cwHeaderTxt: #e8e8ea;
    --cwHeaderTxt2: #d1d1d4;
    --cwHeaderTxt3: #babbbf;
    --cwHeaderAccent: #039DB1;
    --cwHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderBorder: #14141E;
    --cwHeaderRadius: 0px;
    --cwSubHeaderG: #212234;
    --cwSubHeaderBg: #212234;
    --cwSubHeaderBg2: #353653;
    --cwSubHeaderBg3: #3f4163;
    --cwSubHeaderBgHover: #27283d;
    --cwSubHeaderBg2Hover: #3b3c5c;
    --cwSubHeaderBg3Hover: #45476c;
    --cwSubHeaderTxt: #e9e9eb;
    --cwSubHeaderTxt2: #d3d3d6;
    --cwSubHeaderTxt3: #bcbdc2;
    --cwSubHeaderAccent: #039DB1;
    --cwSubHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderBorder: #14141E;
    --cwSubHeaderRadius: 0px;
    --cwModalG: #2f3249;
    --cwModalBg: #2f3249;
    --cwModalBg2: #434768;
    --cwModalBg3: #4d5278;
    --cwModalBgHover: #353852;
    --cwModalBg2Hover: #494d71;
    --cwModalBg3Hover: #535881;
    --cwModalTxt: #eaebed;
    --cwModalTxt2: #d5d6db;
    --cwModalTxt3: #c1c2c8;
    --cwModalAccent: #039DB1;
    --cwModalAccentTxt: rgba(255, 255, 255, 0.9);
    --cwModalRadius: 0px;
    --cwModalBorder: #14141E;
    --cwTabG: #26283C;
    --cwTabBg: #26283C;
    --cwTabBg2: #3a3d5b;
    --cwTabBg3: #44476b;
    --cwTabBgHover: #2c2e45;
    --cwTabBg2Hover: #404364;
    --cwTabBg3Hover: #4a4d74;
    --cwTabTxt: #e9eaec;
    --cwTabTxt2: #d4d4d8;
    --cwTabTxt3: #bebfc5;
    --cwTabAccent: #039DB1;
    --cwTabAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabRadius: 0px;
    --cwTabBorder: #14141E;
    --cwTabActiveG: #1A1B28;
    --cwTabActiveBg: #1A1B28;
    --cwTabActiveBg2: #2e3047;
    --cwTabActiveBg3: #383a56;
    --cwTabActiveBgHover: #202131;
    --cwTabActiveBg2Hover: #343650;
    --cwTabActiveBg3Hover: #3e405f;
    --cwTabActiveTxt: #e8e8ea;
    --cwTabActiveTxt2: #d1d1d4;
    --cwTabActiveTxt3: #babbbf;
    --cwTabActiveAccent: #039DB1;
    --cwTabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #14141E;
    --cwTooltipG: #2f3249;
    --cwTooltipBg: #2f3249;
    --cwTooltipBg2: #434768;
    --cwTooltipBg3: #4d5278;
    --cwTooltipBgHover: #353852;
    --cwTooltipBg2Hover: #494d71;
    --cwTooltipBg3Hover: #535881;
    --cwTooltipTxt: #eaebed;
    --cwTooltipTxt2: #d5d6db;
    --cwTooltipTxt3: #c1c2c8;
    --cwTooltipAccent: #039DB1;
    --cwTooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #14141E;
}

/*Footer*/

.footer__contact_us_txt {
    font-size: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(--cwAccentG);
}

.footer__mail_txt {
    font-size: 27px;
    letter-spacing: 2.24px;
    color: var(--cwBodyTxt);
}

.line {
    width: 100%;
    background-color: var(--cwBodyTxt3);
    height: 1px;
}