
/* Casino Mobile page */

:root {
    --cwBodyG: #F0F0F0;
    --cwBodyBg: #F0F0F0;
    --cwBodyBg2: #e1e1e1;
    --cwBodyBg3: #cccccc;
    --cwBodyBgHover: #e6e6e6;
    --cwBodyBg2Hover: #d7d7d7;
    --cwBodyBg3Hover: #c2c2c2;
    --cwBodyTxt: #000;
    --cwBodyTxt2: #484848;
    --cwBodyTxt3: #787878;
    --cwBodyAccent: #D90438;
    --cwBodyAccentTxt: rgba(255, 255, 255, 0.9);
    --cwBodyRGBA: rgba(240, 240, 240, 0.7);
    --cwBodyRGBA2: rgba(240, 240, 240, 0.5);
    --cwBodyRGBA3: rgba(240, 240, 240, 0.3);
    --cwBodyShadow: rgba(246, 246, 246, 0.7);
    --cwBodyShadowFade: rgba(246, 246, 246, 0);
    --cwBodyRadius: 8px;
    --cwBodyBorder: #e6e6e6;
    --cwAccentG: #D90438;
    --cwAccentBg: #D90438;
    --cwAccentBg2: #fb1a51;
    --cwAccentBg3: #fc4270;
    --cwAccentBgHover: #f2043e;
    --cwAccentBg2Hover: #fb3364;
    --cwAccentBg3Hover: #fc5b83;
    --cwAccentTxt: #fff;
    --cwAccentTxt2: #f4b4c3;
    --cwAccentTxt3: #ec829c;
    --cwAccentAccent: #D90438;
    --cwAccentAccentTxt: rgba(255, 255, 255, 0.9);
    --cwAccentRGBA: rgba(217, 4, 56, 0.7);
    --cwAccentRGBA2: rgba(217, 4, 56, 0.5);
    --cwAccentRGBA3: rgba(217, 4, 56, 0.3);
    --cwAccentShadow: rgba(130, 2, 34, 0.7);
    --cwAccentShadowFade: rgba(130, 2, 34, 0);
    --cwAccentRadius: 8px;
    --cwAccentBorder: #f2043e;
    --cwDominantG: #e6e6e6;
    --cwDominantBg: #e6e6e6;
    --cwDominantBg2: #d7d7d7;
    --cwDominantBg3: #c2c2c2;
    --cwDominantBgHover: #dcdcdc;
    --cwDominantBg2Hover: #cdcdcd;
    --cwDominantBg3Hover: #b8b8b8;
    --cwDominantTxt: #000;
    --cwDominantTxt2: #454545;
    --cwDominantTxt3: #737373;
    --cwDominantAccent: #D90438;
    --cwDominantAccentTxt: rgba(255, 255, 255, 0.9);
    --cwDominantRGBA: rgba(230, 230, 230, 0.7);
    --cwDominantRGBA2: rgba(230, 230, 230, 0.5);
    --cwDominantRGBA3: rgba(230, 230, 230, 0.3);
    --cwDominantShadow: rgba(240, 240, 240, 0.7);
    --cwDominantShadowFade: rgba(240, 240, 240, 0);
    --cwDominantRadius: 8px;
    --cwDominantBorder: #dcdcdc;
    --cwCardG: #E1E1E1;
    --cwCardBg: #E1E1E1;
    --cwCardBg2: #d2d2d2;
    --cwCardBg3: #bdbdbd;
    --cwCardBgHover: #d7d7d7;
    --cwCardBg2Hover: #c8c8c8;
    --cwCardBg3Hover: #b3b3b3;
    --cwCardTxt: #000;
    --cwCardTxt2: #444444;
    --cwCardTxt3: #717171;
    --cwCardAccent: #D90438;
    --cwCardAccentTxt: rgba(255, 255, 255, 0.9);
    --cwCardRGBA: rgba(225, 225, 225, 0.7);
    --cwCardRGBA2: rgba(225, 225, 225, 0.5);
    --cwCardRGBA3: rgba(225, 225, 225, 0.3);
    --cwCardShadow: rgba(237, 237, 237, 0.7);
    --cwCardShadowFade: rgba(237, 237, 237, 0);
    --cwCardRadius: 8px;
    --cwCardBorder: #d7d7d7;
    --cwGameG: #e6e6e6;
    --cwGameBg: #e6e6e6;
    --cwGameBg2: #d7d7d7;
    --cwGameBg3: #c2c2c2;
    --cwGameBgHover: #dcdcdc;
    --cwGameBg2Hover: #cdcdcd;
    --cwGameBg3Hover: #b8b8b8;
    --cwGameTxt: #000;
    --cwGameTxt2: #454545;
    --cwGameTxt3: #737373;
    --cwGameAccent: #D90438;
    --cwGameAccentTxt: rgba(255, 255, 255, 0.9);
    --cwGameRGBA: rgba(230, 230, 230, 0.7);
    --cwGameRGBA2: rgba(230, 230, 230, 0.5);
    --cwGameRGBA3: rgba(230, 230, 230, 0.3);
    --cwGameShadow: rgba(240, 240, 240, 0.7);
    --cwGameShadowFade: rgba(240, 240, 240, 0);
    --cwGameRadius: 8px;
    --cwGameBorder: #dcdcdc;
    --cwJackpotG: #e6e6e6;
    --cwJackpotBg: #e6e6e6;
    --cwJackpotBg2: #d7d7d7;
    --cwJackpotBg3: #c2c2c2;
    --cwJackpotBgHover: #dcdcdc;
    --cwJackpotBg2Hover: #cdcdcd;
    --cwJackpotBg3Hover: #b8b8b8;
    --cwJackpotTxt: #000;
    --cwJackpotTxt2: #454545;
    --cwJackpotTxt3: #737373;
    --cwJackpotAccent: #D90438;
    --cwJackpotAccentTxt: rgba(255, 255, 255, 0.9);
    --cwJackpotRGBA: rgba(230, 230, 230, 0.7);
    --cwJackpotRGBA2: rgba(230, 230, 230, 0.5);
    --cwJackpotRGBA3: rgba(230, 230, 230, 0.3);
    --cwJackpotShadow: rgba(240, 240, 240, 0.7);
    --cwJackpotShadowFade: rgba(240, 240, 240, 0);
    --cwJackpotRadius: 8px;
    --cwJackpotBorder: #dcdcdc;
    --cwButtonG: #f2043e;
    --cwButtonBg: #f2043e;
    --cwButtonBg2: #fc3263;
    --cwButtonBg3: #fc5b82;
    --cwButtonBgHover: #fb144d;
    --cwButtonBg2Hover: #fc4b76;
    --cwButtonBg3Hover: #fc7495;
    --cwButtonTxt: #fff;
    --cwButtonTxt2: #fbb4c5;
    --cwButtonTxt3: #f9829f;
    --cwButtonAccent: #D90438;
    --cwButtonAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonRGBA: rgba(242, 4, 62, 0.7);
    --cwButtonRGBA2: rgba(242, 4, 62, 0.5);
    --cwButtonRGBA3: rgba(242, 4, 62, 0.3);
    --cwButtonShadow: rgba(145, 2, 37, 0.7);
    --cwButtonShadowFade: rgba(145, 2, 37, 0);
    --cwButtonRadius: 8px;
    --cwButtonBorder: #fb144d;
    --cwButtonSecondaryG: #c2c2c2;
    --cwButtonSecondaryBg: #c2c2c2;
    --cwButtonSecondaryBg2: #b3b3b3;
    --cwButtonSecondaryBg3: #9e9e9e;
    --cwButtonSecondaryBgHover: #b8b8b8;
    --cwButtonSecondaryBg2Hover: #a9a9a9;
    --cwButtonSecondaryBg3Hover: #949494;
    --cwButtonSecondaryTxt: #000;
    --cwButtonSecondaryTxt2: #3a3a3a;
    --cwButtonSecondaryTxt3: #616161;
    --cwButtonSecondaryAccent: #D90438;
    --cwButtonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonSecondaryRGBA: rgba(194, 194, 194, 0.7);
    --cwButtonSecondaryRGBA2: rgba(194, 194, 194, 0.5);
    --cwButtonSecondaryRGBA3: rgba(194, 194, 194, 0.3);
    --cwButtonSecondaryShadow: rgba(218, 218, 218, 0.7);
    --cwButtonSecondaryShadowFade: rgba(218, 218, 218, 0);
    --cwButtonSecondaryRadius: 8px;
    --cwButtonSecondaryBorder: #b8b8b8;
    --cwNavbarG: #e1e1e1;
    --cwNavbarBg: #e1e1e1;
    --cwNavbarBg2: #d2d2d2;
    --cwNavbarBg3: #bdbdbd;
    --cwNavbarBgHover: #d7d7d7;
    --cwNavbarBg2Hover: #c8c8c8;
    --cwNavbarBg3Hover: #b3b3b3;
    --cwNavbarTxt: #000;
    --cwNavbarTxt2: #444444;
    --cwNavbarTxt3: #717171;
    --cwNavbarAccent: #D90438;
    --cwNavbarAccentTxt: rgba(255, 255, 255, 0.9);
    --cwNavbarRGBA: rgba(225, 225, 225, 0.7);
    --cwNavbarRGBA2: rgba(225, 225, 225, 0.5);
    --cwNavbarRGBA3: rgba(225, 225, 225, 0.3);
    --cwNavbarShadow: rgba(237, 237, 237, 0.7);
    --cwNavbarShadowFade: rgba(237, 237, 237, 0);
    --cwNavbarRadius: 8px;
    --cwNavbarBorder: #d7d7d7;
    --cwSliderG: #e6e6e6;
    --cwSliderBg: #e6e6e6;
    --cwSliderBg2: #d7d7d7;
    --cwSliderBg3: #c2c2c2;
    --cwSliderBgHover: #dcdcdc;
    --cwSliderBg2Hover: #cdcdcd;
    --cwSliderBg3Hover: #b8b8b8;
    --cwSliderTxt: #000;
    --cwSliderTxt2: #454545;
    --cwSliderTxt3: #737373;
    --cwSliderAccent: #D90438;
    --cwSliderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSliderRGBA: rgba(230, 230, 230, 0.7);
    --cwSliderRGBA2: rgba(230, 230, 230, 0.5);
    --cwSliderRGBA3: rgba(230, 230, 230, 0.3);
    --cwSliderShadow: rgba(240, 240, 240, 0.7);
    --cwSliderShadowFade: rgba(240, 240, 240, 0);
    --cwSliderRadius: 8px;
    --cwSliderBorder: #dcdcdc;
    --cwHeaderG: #DCDCDC;
    --cwHeaderBg: #DCDCDC;
    --cwHeaderBg2: #cdcdcd;
    --cwHeaderBg3: #b8b8b8;
    --cwHeaderBgHover: #d2d2d2;
    --cwHeaderBg2Hover: #c3c3c3;
    --cwHeaderBg3Hover: #aeaeae;
    --cwHeaderTxt: #000;
    --cwHeaderTxt2: #424242;
    --cwHeaderTxt3: #6e6e6e;
    --cwHeaderAccent: #D90438;
    --cwHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderRGBA: rgba(220, 220, 220, 0.7);
    --cwHeaderRGBA2: rgba(220, 220, 220, 0.5);
    --cwHeaderRGBA3: rgba(220, 220, 220, 0.3);
    --cwHeaderShadow: rgba(234, 234, 234, 0.7);
    --cwHeaderShadowFade: rgba(234, 234, 234, 0);
    --cwHeaderRadius: 8px;
    --cwHeaderBorder: #d2d2d2;
    --cwHeaderSecondaryG: #D4D4D4;
    --cwHeaderSecondaryBg: #D4D4D4;
    --cwHeaderSecondaryBg2: #c5c5c5;
    --cwHeaderSecondaryBg3: #b0b0b0;
    --cwHeaderSecondaryBgHover: #cacaca;
    --cwHeaderSecondaryBg2Hover: #bbbbbb;
    --cwHeaderSecondaryBg3Hover: #a6a6a6;
    --cwHeaderSecondaryTxt: #000;
    --cwHeaderSecondaryTxt2: #404040;
    --cwHeaderSecondaryTxt3: #6a6a6a;
    --cwHeaderSecondaryAccent: #D90438;
    --cwHeaderSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderSecondaryRGBA: rgba(212, 212, 212, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(212, 212, 212, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(212, 212, 212, 0.3);
    --cwHeaderSecondaryShadow: rgba(229, 229, 229, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(229, 229, 229, 0);
    --cwHeaderSecondaryRadius: 8px;
    --cwHeaderSecondaryBorder: #cacaca;
    --cwFooterG: #DCDCDC;
    --cwFooterBg: #DCDCDC;
    --cwFooterBg2: #cdcdcd;
    --cwFooterBg3: #b8b8b8;
    --cwFooterBgHover: #d2d2d2;
    --cwFooterBg2Hover: #c3c3c3;
    --cwFooterBg3Hover: #aeaeae;
    --cwFooterTxt: #000;
    --cwFooterTxt2: #424242;
    --cwFooterTxt3: #6e6e6e;
    --cwFooterAccent: #D90438;
    --cwFooterAccentTxt: rgba(255, 255, 255, 0.9);
    --cwFooterRGBA: rgba(220, 220, 220, 0.7);
    --cwFooterRGBA2: rgba(220, 220, 220, 0.5);
    --cwFooterRGBA3: rgba(220, 220, 220, 0.3);
    --cwFooterShadow: rgba(234, 234, 234, 0.7);
    --cwFooterShadowFade: rgba(234, 234, 234, 0);
    --cwFooterRadius: 8px;
    --cwFooterBorder: #d2d2d2;
    --cwSubHeaderG: #c3c3c3;
    --cwSubHeaderBg: #c3c3c3;
    --cwSubHeaderBg2: #b4b4b4;
    --cwSubHeaderBg3: #9f9f9f;
    --cwSubHeaderBgHover: #b9b9b9;
    --cwSubHeaderBg2Hover: #aaaaaa;
    --cwSubHeaderBg3Hover: #959595;
    --cwSubHeaderTxt: #000;
    --cwSubHeaderTxt2: #3b3b3b;
    --cwSubHeaderTxt3: #626262;
    --cwSubHeaderAccent: #D90438;
    --cwSubHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderRGBA: rgba(195, 195, 195, 0.7);
    --cwSubHeaderRGBA2: rgba(195, 195, 195, 0.5);
    --cwSubHeaderRGBA3: rgba(195, 195, 195, 0.3);
    --cwSubHeaderShadow: rgba(219, 219, 219, 0.7);
    --cwSubHeaderShadowFade: rgba(219, 219, 219, 0);
    --cwSubHeaderRadius: 8px;
    --cwSubHeaderBorder: #b9b9b9;
    --cwTabG: #e1e1e1;
    --cwTabBg: #e1e1e1;
    --cwTabBg2: #d2d2d2;
    --cwTabBg3: #bdbdbd;
    --cwTabBgHover: #d7d7d7;
    --cwTabBg2Hover: #c8c8c8;
    --cwTabBg3Hover: #b3b3b3;
    --cwTabTxt: #000;
    --cwTabTxt2: #444444;
    --cwTabTxt3: #717171;
    --cwTabAccent: #D90438;
    --cwTabAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabRGBA: rgba(225, 225, 225, 0.7);
    --cwTabRGBA2: rgba(225, 225, 225, 0.5);
    --cwTabRGBA3: rgba(225, 225, 225, 0.3);
    --cwTabShadow: rgba(237, 237, 237, 0.7);
    --cwTabShadowFade: rgba(237, 237, 237, 0);
    --cwTabRadius: 8px;
    --cwTabBorder: #d7d7d7;
    --cwTabActiveG: #d7d7d7;
    --cwTabActiveBg: #d7d7d7;
    --cwTabActiveBg2: #c8c8c8;
    --cwTabActiveBg3: #b3b3b3;
    --cwTabActiveBgHover: #cdcdcd;
    --cwTabActiveBg2Hover: #bebebe;
    --cwTabActiveBg3Hover: #a9a9a9;
    --cwTabActiveTxt: #000;
    --cwTabActiveTxt2: #414141;
    --cwTabActiveTxt3: #6c6c6c;
    --cwTabActiveAccent: #D90438;
    --cwTabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveRGBA: rgba(215, 215, 215, 0.7);
    --cwTabActiveRGBA2: rgba(215, 215, 215, 0.5);
    --cwTabActiveRGBA3: rgba(215, 215, 215, 0.3);
    --cwTabActiveShadow: rgba(231, 231, 231, 0.7);
    --cwTabActiveShadowFade: rgba(231, 231, 231, 0);
    --cwTabActiveRadius: 8px;
    --cwTabActiveBorder: #cdcdcd;
    --cwInputG: #CDCDCD;
    --cwInputBg: #CDCDCD;
    --cwInputBg2: #bebebe;
    --cwInputBg3: #a9a9a9;
    --cwInputBgHover: #c3c3c3;
    --cwInputBg2Hover: #b4b4b4;
    --cwInputBg3Hover: #9f9f9f;
    --cwInputTxt: #000;
    --cwInputTxt2: #3e3e3e;
    --cwInputTxt3: #676767;
    --cwInputAccent: #D90438;
    --cwInputAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputRGBA: rgba(205, 205, 205, 0.7);
    --cwInputRGBA2: rgba(205, 205, 205, 0.5);
    --cwInputRGBA3: rgba(205, 205, 205, 0.3);
    --cwInputShadow: rgba(225, 225, 225, 0.7);
    --cwInputShadowFade: rgba(225, 225, 225, 0);
    --cwInputRadius: 0px;
    --cwInputBorder: #F0F0F0;
    --cwInputSecondaryG: #b4b4b4;
    --cwInputSecondaryBg: #b4b4b4;
    --cwInputSecondaryBg2: #a5a5a5;
    --cwInputSecondaryBg3: #909090;
    --cwInputSecondaryBgHover: #aaaaaa;
    --cwInputSecondaryBg2Hover: #9b9b9b;
    --cwInputSecondaryBg3Hover: #868686;
    --cwInputSecondaryTxt: #000;
    --cwInputSecondaryTxt2: #363636;
    --cwInputSecondaryTxt3: #5a5a5a;
    --cwInputSecondaryAccent: #D90438;
    --cwInputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryRGBA: rgba(180, 180, 180, 0.7);
    --cwInputSecondaryRGBA2: rgba(180, 180, 180, 0.5);
    --cwInputSecondaryRGBA3: rgba(180, 180, 180, 0.3);
    --cwInputSecondaryShadow: rgba(210, 210, 210, 0.7);
    --cwInputSecondaryShadowFade: rgba(210, 210, 210, 0);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #F0F0F0;
    --cwFilterG: #e1e1e1;
    --cwFilterBg: #e1e1e1;
    --cwFilterBg2: #d2d2d2;
    --cwFilterBg3: #bdbdbd;
    --cwFilterBgHover: #d7d7d7;
    --cwFilterBg2Hover: #c8c8c8;
    --cwFilterBg3Hover: #b3b3b3;
    --cwFilterTxt: #000;
    --cwFilterTxt2: #444444;
    --cwFilterTxt3: #717171;
    --cwFilterAccent: #D90438;
    --cwFilterAccentTxt: rgba(255, 255, 255, 0.9);
    --cwFilterRGBA: rgba(225, 225, 225, 0.7);
    --cwFilterRGBA2: rgba(225, 225, 225, 0.5);
    --cwFilterRGBA3: rgba(225, 225, 225, 0.3);
    --cwFilterShadow: rgba(237, 237, 237, 0.7);
    --cwFilterShadowFade: rgba(237, 237, 237, 0);
    --cwFilterRadius: 8px;
    --cwFilterBorder: #d7d7d7;
    --cwTooltipG: #e1e1e1;
    --cwTooltipBg: #e1e1e1;
    --cwTooltipBg2: #d2d2d2;
    --cwTooltipBg3: #bdbdbd;
    --cwTooltipBgHover: #d7d7d7;
    --cwTooltipBg2Hover: #c8c8c8;
    --cwTooltipBg3Hover: #b3b3b3;
    --cwTooltipTxt: #000;
    --cwTooltipTxt2: #444444;
    --cwTooltipTxt3: #717171;
    --cwTooltipAccent: #D90438;
    --cwTooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipRGBA: rgba(225, 225, 225, 0.7);
    --cwTooltipRGBA2: rgba(225, 225, 225, 0.5);
    --cwTooltipRGBA3: rgba(225, 225, 225, 0.3);
    --cwTooltipShadow: rgba(237, 237, 237, 0.7);
    --cwTooltipShadowFade: rgba(237, 237, 237, 0);
    --cwTooltipRadius: 8px;
    --cwTooltipBorder: #d7d7d7;
    --cwModalG: #F0F0F0;
    --cwModalBg: #F0F0F0;
    --cwModalBg2: #e1e1e1;
    --cwModalBg3: #cccccc;
    --cwModalBgHover: #e6e6e6;
    --cwModalBg2Hover: #d7d7d7;
    --cwModalBg3Hover: #c2c2c2;
    --cwModalTxt: #000;
    --cwModalTxt2: #484848;
    --cwModalTxt3: #787878;
    --cwModalAccent: #D90438;
    --cwModalAccentTxt: rgba(255, 255, 255, 0.9);
    --cwModalRGBA: rgba(240, 240, 240, 0.7);
    --cwModalRGBA2: rgba(240, 240, 240, 0.5);
    --cwModalRGBA3: rgba(240, 240, 240, 0.3);
    --cwModalShadow: rgba(246, 246, 246, 0.7);
    --cwModalShadowFade: rgba(246, 246, 246, 0);
    --cwModalRadius: 8px;
    --cwModalBorder: #e6e6e6;
    --cwLoginG: #F0F0F0;
    --cwLoginBg: #F0F0F0;
    --cwLoginBg2: #e1e1e1;
    --cwLoginBg3: #cccccc;
    --cwLoginBgHover: #e6e6e6;
    --cwLoginBg2Hover: #d7d7d7;
    --cwLoginBg3Hover: #c2c2c2;
    --cwLoginTxt: #000;
    --cwLoginTxt2: #484848;
    --cwLoginTxt3: #787878;
    --cwLoginAccent: #D90438;
    --cwLoginAccentTxt: rgba(255, 255, 255, 0.9);
    --cwLoginRGBA: rgba(240, 240, 240, 0.7);
    --cwLoginRGBA2: rgba(240, 240, 240, 0.5);
    --cwLoginRGBA3: rgba(240, 240, 240, 0.3);
    --cwLoginShadow: rgba(246, 246, 246, 0.7);
    --cwLoginShadowFade: rgba(246, 246, 246, 0);
    --cwLoginRadius: 8px;
    --cwLoginBorder: #e6e6e6;
    --cwRegisterG: #F0F0F0;
    --cwRegisterBg: #F0F0F0;
    --cwRegisterBg2: #e1e1e1;
    --cwRegisterBg3: #cccccc;
    --cwRegisterBgHover: #e6e6e6;
    --cwRegisterBg2Hover: #d7d7d7;
    --cwRegisterBg3Hover: #c2c2c2;
    --cwRegisterTxt: #000;
    --cwRegisterTxt2: #484848;
    --cwRegisterTxt3: #787878;
    --cwRegisterAccent: #D90438;
    --cwRegisterAccentTxt: rgba(255, 255, 255, 0.9);
    --cwRegisterRGBA: rgba(240, 240, 240, 0.7);
    --cwRegisterRGBA2: rgba(240, 240, 240, 0.5);
    --cwRegisterRGBA3: rgba(240, 240, 240, 0.3);
    --cwRegisterShadow: rgba(246, 246, 246, 0.7);
    --cwRegisterShadowFade: rgba(246, 246, 246, 0);
    --cwRegisterRadius: 8px;
    --cwRegisterBorder: #e6e6e6;
}
/*registration*/
.reg_width_calc {
    width: 100%;
}
/*-------*/
/*footer*/
.footer_copy, .footer_text {
    font-size: 11px;
}

/*------*/
/*Dynamic header*/
.LogoMobilePlatform {
    background-image: var(--cdn-logo-mob_png);
}

/*------*/
