:root {
    --cwBodyG: #000442;
    --cwBodyBg: #000442;
    --cwBodyBg2: #00077a;
    --cwBodyBg3: #000aa3;
    --cwBodyBgHover: #00065b;
    --cwBodyBg2Hover: #000893;
    --cwBodyBg3Hover: #000cbc;
    --cwBodyTxt: #fff;
    --cwBodyTxt2: #b3b4c6;
    --cwBodyTxt3: #8082a1;
    --cwBodyAccent: #FFFF00;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyRGBA: rgba(0, 4, 66, 0.7);
    --cwBodyRGBA2: rgba(0, 4, 66, 0.5);
    --cwBodyRGBA3: rgba(0, 4, 66, 0.3);
    --cwBodyShadow: rgba(0, 2, 40, 0.7);
    --cwBodyShadowFade: rgba(0, 2, 40, 0);
    --cwBodyRadius: 0px;
    --cwBodyBorder: #000442;
    --cwAccentG: #FFFF00;
    --cwAccentBg: #FFFF00;
    --cwAccentBg2: #ffff38;
    --cwAccentBg3: #ffff61;
    --cwAccentBgHover: #ffff1a;
    --cwAccentBg2Hover: #ffff51;
    --cwAccentBg3Hover: #ffff7a;
    --cwAccentTxt: #000;
    --cwAccentTxt2: #4d4d00;
    --cwAccentTxt3: #808000;
    --cwAccentAccent: #FFFF00;
    --cwAccentAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentRGBA: rgba(255, 255, 0, 0.7);
    --cwAccentRGBA2: rgba(255, 255, 0, 0.5);
    --cwAccentRGBA3: rgba(255, 255, 0, 0.3);
    --cwAccentShadow: rgba(153, 153, 0, 0.7);
    --cwAccentShadowFade: rgba(153, 153, 0, 0);
    --cwAccentRadius: 8px;
    --cwAccentBorder: #ffff1a;
    --cwDominantG: #000118;
    --cwDominantBg: #000118;
    --cwDominantBg2: #000350;
    --cwDominantBg3: #000579;
    --cwDominantBgHover: #000231;
    --cwDominantBg2Hover: #000469;
    --cwDominantBg3Hover: #000692;
    --cwDominantTxt: #fff;
    --cwDominantTxt2: #b3b3ba;
    --cwDominantTxt3: #80808c;
    --cwDominantAccent: #FFFF00;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantRGBA: rgba(0, 1, 24, 0.7);
    --cwDominantRGBA2: rgba(0, 1, 24, 0.5);
    --cwDominantRGBA3: rgba(0, 1, 24, 0.3);
    --cwDominantShadow: rgba(0, 1, 14, 0.7);
    --cwDominantShadowFade: rgba(0, 1, 14, 0);
    --cwDominantRadius: 0px;
    --cwDominantBorder: #000442;
    --cwCardG: #00065b;
    --cwCardBg: #00065b;
    --cwCardBg2: #000a93;
    --cwCardBg3: #000cbc;
    --cwCardBgHover: #000874;
    --cwCardBg2Hover: #000cac;
    --cwCardBg3Hover: #000ed5;
    --cwCardTxt: #fff;
    --cwCardTxt2: #b3b4ce;
    --cwCardTxt3: #8083ad;
    --cwCardAccent: #FFFF00;
    --cwCardAccentTxt: rgba(0, 0, 0, 0.9);
    --cwCardRGBA: rgba(0, 6, 91, 0.7);
    --cwCardRGBA2: rgba(0, 6, 91, 0.5);
    --cwCardRGBA3: rgba(0, 6, 91, 0.3);
    --cwCardShadow: rgba(0, 4, 55, 0.7);
    --cwCardShadowFade: rgba(0, 4, 55, 0);
    --cwCardRadius: 16px;
    --cwCardBorder: #000442;
    --cwGameG: #00065b;
    --cwGameBg: #00065b;
    --cwGameBg2: #000a93;
    --cwGameBg3: #000cbc;
    --cwGameBgHover: #000874;
    --cwGameBg2Hover: #000cac;
    --cwGameBg3Hover: #000ed5;
    --cwGameTxt: #fff;
    --cwGameTxt2: #b3b4ce;
    --cwGameTxt3: #8083ad;
    --cwGameAccent: #FFFF00;
    --cwGameAccentTxt: rgba(0, 0, 0, 0.9);
    --cwGameRGBA: rgba(0, 6, 91, 0.7);
    --cwGameRGBA2: rgba(0, 6, 91, 0.5);
    --cwGameRGBA3: rgba(0, 6, 91, 0.3);
    --cwGameShadow: rgba(0, 4, 55, 0.7);
    --cwGameShadowFade: rgba(0, 4, 55, 0);
    --cwGameRadius: 0px;
    --cwGameBorder: #000442;
    --cwJackpotG: #00065b;
    --cwJackpotBg: #00065b;
    --cwJackpotBg2: #000a93;
    --cwJackpotBg3: #000cbc;
    --cwJackpotBgHover: #000874;
    --cwJackpotBg2Hover: #000cac;
    --cwJackpotBg3Hover: #000ed5;
    --cwJackpotTxt: #fff;
    --cwJackpotTxt2: #b3b4ce;
    --cwJackpotTxt3: #8083ad;
    --cwJackpotAccent: #FFFF00;
    --cwJackpotAccentTxt: rgba(0, 0, 0, 0.9);
    --cwJackpotRGBA: rgba(0, 6, 91, 0.7);
    --cwJackpotRGBA2: rgba(0, 6, 91, 0.5);
    --cwJackpotRGBA3: rgba(0, 6, 91, 0.3);
    --cwJackpotShadow: rgba(0, 4, 55, 0.7);
    --cwJackpotShadowFade: rgba(0, 4, 55, 0);
    --cwJackpotRadius: 0px;
    --cwJackpotBorder: #000442;
    --cwButtonG: #FFFF00;
    --cwButtonBg: #FFFF00;
    --cwButtonBg2: #ffff38;
    --cwButtonBg3: #ffff61;
    --cwButtonBgHover: #ffff1a;
    --cwButtonBg2Hover: #ffff51;
    --cwButtonBg3Hover: #ffff7a;
    --cwButtonTxt: #000;
    --cwButtonTxt2: #4d4d00;
    --cwButtonTxt3: #808000;
    --cwButtonAccent: #FFFF00;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonRGBA: rgba(255, 255, 0, 0.7);
    --cwButtonRGBA2: rgba(255, 255, 0, 0.5);
    --cwButtonRGBA3: rgba(255, 255, 0, 0.3);
    --cwButtonShadow: rgba(153, 153, 0, 0.7);
    --cwButtonShadowFade: rgba(153, 153, 0, 0);
    --cwButtonRadius: 0px;
    --cwButtonBorder: #000442;
    --cwButtonSecondaryG: #35539D;
    --cwButtonSecondaryBg: #35539D;
    --cwButtonSecondaryBg2: #496bc1;
    --cwButtonSecondaryBg3: #6784cc;
    --cwButtonSecondaryBgHover: #3b5db0;
    --cwButtonSecondaryBg2Hover: #5c7ac7;
    --cwButtonSecondaryBg3Hover: #7a93d2;
    --cwButtonSecondaryTxt: #fff;
    --cwButtonSecondaryTxt2: #c2cbe2;
    --cwButtonSecondaryTxt3: #9aa9ce;
    --cwButtonSecondaryAccent: #FFFF00;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryRGBA: rgba(53, 83, 157, 0.7);
    --cwButtonSecondaryRGBA2: rgba(53, 83, 157, 0.5);
    --cwButtonSecondaryRGBA3: rgba(53, 83, 157, 0.3);
    --cwButtonSecondaryShadow: rgba(32, 50, 94, 0.7);
    --cwButtonSecondaryShadowFade: rgba(32, 50, 94, 0);
    --cwButtonSecondaryRadius: 0px;
    --cwButtonSecondaryBorder: #35539D;
    --cwNavbarG: #000350;
    --cwNavbarBg: #000350;
    --cwNavbarBg2: #000588;
    --cwNavbarBg3: #0007b1;
    --cwNavbarBgHover: #000469;
    --cwNavbarBg2Hover: #0006a1;
    --cwNavbarBg3Hover: #0008ca;
    --cwNavbarTxt: #fff;
    --cwNavbarTxt2: #b3b3cb;
    --cwNavbarTxt3: #8081a8;
    --cwNavbarAccent: #FFFF00;
    --cwNavbarAccentTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarRGBA: rgba(0, 3, 80, 0.7);
    --cwNavbarRGBA2: rgba(0, 3, 80, 0.5);
    --cwNavbarRGBA3: rgba(0, 3, 80, 0.3);
    --cwNavbarShadow: rgba(0, 2, 48, 0.7);
    --cwNavbarShadowFade: rgba(0, 2, 48, 0);
    --cwNavbarRadius: 0px;
    --cwNavbarBorder: #000442;
    --cwSliderG: #00065b;
    --cwSliderBg: #00065b;
    --cwSliderBg2: #000a93;
    --cwSliderBg3: #000cbc;
    --cwSliderBgHover: #000874;
    --cwSliderBg2Hover: #000cac;
    --cwSliderBg3Hover: #000ed5;
    --cwSliderTxt: #fff;
    --cwSliderTxt2: #b3b4ce;
    --cwSliderTxt3: #8083ad;
    --cwSliderAccent: #FFFF00;
    --cwSliderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSliderRGBA: rgba(0, 6, 91, 0.7);
    --cwSliderRGBA2: rgba(0, 6, 91, 0.5);
    --cwSliderRGBA3: rgba(0, 6, 91, 0.3);
    --cwSliderShadow: rgba(0, 4, 55, 0.7);
    --cwSliderShadowFade: rgba(0, 4, 55, 0);
    --cwSliderRadius: 0px;
    --cwSliderBorder: #000442;
    --cwHeaderG: #000782;
    --cwHeaderBg: #000782;
    --cwHeaderBg2: #000aba;
    --cwHeaderBg3: #000ce3;
    --cwHeaderBgHover: #00089b;
    --cwHeaderBg2Hover: #000bd3;
    --cwHeaderBg3Hover: #000dfc;
    --cwHeaderTxt: #fff;
    --cwHeaderTxt2: #b3b5da;
    --cwHeaderTxt3: #8083c1;
    --cwHeaderAccent: #FFFF00;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderRGBA: rgba(0, 7, 130, 0.7);
    --cwHeaderRGBA2: rgba(0, 7, 130, 0.5);
    --cwHeaderRGBA3: rgba(0, 7, 130, 0.3);
    --cwHeaderShadow: rgba(0, 4, 78, 0.7);
    --cwHeaderShadowFade: rgba(0, 4, 78, 0);
    --cwHeaderRadius: 0px;
    --cwHeaderBorder: #000442;
    --cwHeaderSecondaryG: #000891;
    --cwHeaderSecondaryBg: #000891;
    --cwHeaderSecondaryBg2: #000bc9;
    --cwHeaderSecondaryBg3: #000df2;
    --cwHeaderSecondaryBgHover: #0009aa;
    --cwHeaderSecondaryBg2Hover: #000ce2;
    --cwHeaderSecondaryBg3Hover: #0c1aff;
    --cwHeaderSecondaryTxt: #fff;
    --cwHeaderSecondaryTxt2: #b3b5de;
    --cwHeaderSecondaryTxt3: #8084c8;
    --cwHeaderSecondaryAccent: #FFFF00;
    --cwHeaderSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderSecondaryRGBA: rgba(0, 8, 145, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(0, 8, 145, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(0, 8, 145, 0.3);
    --cwHeaderSecondaryShadow: rgba(0, 5, 87, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(0, 5, 87, 0);
    --cwHeaderSecondaryRadius: 0px;
    --cwHeaderSecondaryBorder: #000442;
    --cwFooterG: #000782;
    --cwFooterBg: #000782;
    --cwFooterBg2: #000aba;
    --cwFooterBg3: #000ce3;
    --cwFooterBgHover: #00089b;
    --cwFooterBg2Hover: #000bd3;
    --cwFooterBg3Hover: #000dfc;
    --cwFooterTxt: #fff;
    --cwFooterTxt2: #b3b5da;
    --cwFooterTxt3: #8083c1;
    --cwFooterAccent: #FFFF00;
    --cwFooterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFooterRGBA: rgba(0, 7, 130, 0.7);
    --cwFooterRGBA2: rgba(0, 7, 130, 0.5);
    --cwFooterRGBA3: rgba(0, 7, 130, 0.3);
    --cwFooterShadow: rgba(0, 4, 78, 0.7);
    --cwFooterShadowFade: rgba(0, 4, 78, 0);
    --cwFooterRadius: 0px;
    --cwFooterBorder: #000442;
    --cwSubHeaderG: #000BC4;
    --cwSubHeaderBg: #000BC4;
    --cwSubHeaderBg2: #000efc;
    --cwSubHeaderBg3: #2632ff;
    --cwSubHeaderBgHover: #000cdd;
    --cwSubHeaderBg2Hover: #1623ff;
    --cwSubHeaderBg3Hover: #3f4aff;
    --cwSubHeaderTxt: #fff;
    --cwSubHeaderTxt2: #b3b6ed;
    --cwSubHeaderTxt3: #8085e2;
    --cwSubHeaderAccent: #FFFF00;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderRGBA: rgba(0, 11, 196, 0.7);
    --cwSubHeaderRGBA2: rgba(0, 11, 196, 0.5);
    --cwSubHeaderRGBA3: rgba(0, 11, 196, 0.3);
    --cwSubHeaderShadow: rgba(0, 7, 118, 0.7);
    --cwSubHeaderShadowFade: rgba(0, 7, 118, 0);
    --cwSubHeaderRadius: 0px;
    --cwSubHeaderBorder: #000442;
    --cwTabG: #00034B;
    --cwTabBg: #00034B;
    --cwTabBg2: #000583;
    --cwTabBg3: #0007ac;
    --cwTabBgHover: #000464;
    --cwTabBg2Hover: #00069c;
    --cwTabBg3Hover: #0008c5;
    --cwTabTxt: #fff;
    --cwTabTxt2: #b3b3c9;
    --cwTabTxt3: #8081a5;
    --cwTabAccent: #FFFF00;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabRGBA: rgba(0, 3, 75, 0.7);
    --cwTabRGBA2: rgba(0, 3, 75, 0.5);
    --cwTabRGBA3: rgba(0, 3, 75, 0.3);
    --cwTabShadow: rgba(0, 2, 45, 0.7);
    --cwTabShadowFade: rgba(0, 2, 45, 0);
    --cwTabRadius: 0px;
    --cwTabBorder: #000442;
    --cwTabActiveG: #00045A;
    --cwTabActiveBg: #00045A;
    --cwTabActiveBg2: #000692;
    --cwTabActiveBg3: #0008bb;
    --cwTabActiveBgHover: #000573;
    --cwTabActiveBg2Hover: #0007ab;
    --cwTabActiveBg3Hover: #0009d4;
    --cwTabActiveTxt: #fff;
    --cwTabActiveTxt2: #b3b4ce;
    --cwTabActiveTxt3: #8082ad;
    --cwTabActiveAccent: #FFFF00;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveRGBA: rgba(0, 4, 90, 0.7);
    --cwTabActiveRGBA2: rgba(0, 4, 90, 0.5);
    --cwTabActiveRGBA3: rgba(0, 4, 90, 0.3);
    --cwTabActiveShadow: rgba(0, 2, 54, 0.7);
    --cwTabActiveShadowFade: rgba(0, 2, 54, 0);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #000442;
    --cwInputG: #00034B;
    --cwInputBg: #00034B;
    --cwInputBg2: #000583;
    --cwInputBg3: #0007ac;
    --cwInputBgHover: #000464;
    --cwInputBg2Hover: #00069c;
    --cwInputBg3Hover: #0008c5;
    --cwInputTxt: #fff;
    --cwInputTxt2: #b3b3c9;
    --cwInputTxt3: #8081a5;
    --cwInputAccent: #FFFF00;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputRGBA: rgba(0, 3, 75, 0.7);
    --cwInputRGBA2: rgba(0, 3, 75, 0.5);
    --cwInputRGBA3: rgba(0, 3, 75, 0.3);
    --cwInputShadow: rgba(0, 2, 45, 0.7);
    --cwInputShadowFade: rgba(0, 2, 45, 0);
    --cwInputRadius: 0px;
    --cwInputBorder: #000442;
    --cwInputSecondaryG: #010663;
    --cwInputSecondaryBg: #010663;
    --cwInputSecondaryBg2: #02099a;
    --cwInputSecondaryBg3: #020cc3;
    --cwInputSecondaryBgHover: #01087c;
    --cwInputSecondaryBg2Hover: #020ab3;
    --cwInputSecondaryBg3Hover: #020edc;
    --cwInputSecondaryTxt: #fff;
    --cwInputSecondaryTxt2: #b3b4d0;
    --cwInputSecondaryTxt3: #8083b1;
    --cwInputSecondaryAccent: #FFFF00;
    --cwInputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryRGBA: rgba(1, 6, 99, 0.7);
    --cwInputSecondaryRGBA2: rgba(1, 6, 99, 0.5);
    --cwInputSecondaryRGBA3: rgba(1, 6, 99, 0.3);
    --cwInputSecondaryShadow: rgba(1, 4, 59, 0.7);
    --cwInputSecondaryShadowFade: rgba(1, 4, 59, 0);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #000442;
    --cwFilterG: #000775;
    --cwFilterBg: #000775;
    --cwFilterBg2: #000aad;
    --cwFilterBg3: #000dd6;
    --cwFilterBgHover: #00098e;
    --cwFilterBg2Hover: #000bc6;
    --cwFilterBg3Hover: #000fef;
    --cwFilterTxt: #fff;
    --cwFilterTxt2: #b3b5d6;
    --cwFilterTxt3: #8083ba;
    --cwFilterAccent: #FFFF00;
    --cwFilterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFilterRGBA: rgba(0, 7, 117, 0.7);
    --cwFilterRGBA2: rgba(0, 7, 117, 0.5);
    --cwFilterRGBA3: rgba(0, 7, 117, 0.3);
    --cwFilterShadow: rgba(0, 4, 70, 0.7);
    --cwFilterShadowFade: rgba(0, 4, 70, 0);
    --cwFilterRadius: 0px;
    --cwFilterBorder: #000442;
    --cwTooltipG: #00034B;
    --cwTooltipBg: #00034B;
    --cwTooltipBg2: #000583;
    --cwTooltipBg3: #0007ac;
    --cwTooltipBgHover: #000464;
    --cwTooltipBg2Hover: #00069c;
    --cwTooltipBg3Hover: #0008c5;
    --cwTooltipTxt: #fff;
    --cwTooltipTxt2: #b3b3c9;
    --cwTooltipTxt3: #8081a5;
    --cwTooltipAccent: #FFFF00;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipRGBA: rgba(0, 3, 75, 0.7);
    --cwTooltipRGBA2: rgba(0, 3, 75, 0.5);
    --cwTooltipRGBA3: rgba(0, 3, 75, 0.3);
    --cwTooltipShadow: rgba(0, 2, 45, 0.7);
    --cwTooltipShadowFade: rgba(0, 2, 45, 0);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #000442;
    --cwModalG: #0D16A1;
    --cwModalBg: #0D16A1;
    --cwModalBg2: #111dd5;
    --cwModalBg3: #222eed;
    --cwModalBgHover: #0f19b9;
    --cwModalBg2Hover: #1321ec;
    --cwModalBg3Hover: #3a44ef;
    --cwModalTxt: #fff;
    --cwModalTxt2: #b6b9e3;
    --cwModalTxt3: #868bd0;
    --cwModalAccent: #FFFF00;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalRGBA: rgba(13, 22, 161, 0.7);
    --cwModalRGBA2: rgba(13, 22, 161, 0.5);
    --cwModalRGBA3: rgba(13, 22, 161, 0.3);
    --cwModalShadow: rgba(8, 13, 97, 0.7);
    --cwModalShadowFade: rgba(8, 13, 97, 0);
    --cwModalRadius: 0px;
    --cwModalBorder: #000442;
    --cwLoginG: #0D16A1;
    --cwLoginBg: #0D16A1;
    --cwLoginBg2: #111dd5;
    --cwLoginBg3: #222eed;
    --cwLoginBgHover: #0f19b9;
    --cwLoginBg2Hover: #1321ec;
    --cwLoginBg3Hover: #3a44ef;
    --cwLoginTxt: #fff;
    --cwLoginTxt2: #b6b9e3;
    --cwLoginTxt3: #868bd0;
    --cwLoginAccent: #FFFF00;
    --cwLoginAccentTxt: rgba(0, 0, 0, 0.9);
    --cwLoginRGBA: rgba(13, 22, 161, 0.7);
    --cwLoginRGBA2: rgba(13, 22, 161, 0.5);
    --cwLoginRGBA3: rgba(13, 22, 161, 0.3);
    --cwLoginShadow: rgba(8, 13, 97, 0.7);
    --cwLoginShadowFade: rgba(8, 13, 97, 0);
    --cwLoginRadius: 0px;
    --cwLoginBorder: #000442;
    --cwRegisterG: #0D16A1;
    --cwRegisterBg: #0D16A1;
    --cwRegisterBg2: #111dd5;
    --cwRegisterBg3: #222eed;
    --cwRegisterBgHover: #0f19b9;
    --cwRegisterBg2Hover: #1321ec;
    --cwRegisterBg3Hover: #3a44ef;
    --cwRegisterTxt: #fff;
    --cwRegisterTxt2: #b6b9e3;
    --cwRegisterTxt3: #868bd0;
    --cwRegisterAccent: #FFFF00;
    --cwRegisterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwRegisterRGBA: rgba(13, 22, 161, 0.7);
    --cwRegisterRGBA2: rgba(13, 22, 161, 0.5);
    --cwRegisterRGBA3: rgba(13, 22, 161, 0.3);
    --cwRegisterShadow: rgba(8, 13, 97, 0.7);
    --cwRegisterShadowFade: rgba(8, 13, 97, 0);
    --cwRegisterRadius: 0px;
    --cwRegisterBorder: #000442;
}

.D_logo {
    width: 100%;
    height: 62px;
    background-size: auto 65px;
}

/*login*/
#staticLoginForm .D_logo {
    margin: 40px auto;
}

.forgot_smth_buttons {
    margin: 30px 0;
}

/*login,forgotpass, forgotusername optimization*/

.static_login_content .register_in_login {
    height: 36px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cwButtonSecondaryG);
    color: var(--cwButtonSecondaryTxt);
}

/*footer*/

.footer_links a:not(.footer_links__title) {
    margin-bottom: 6px;
    font-size: 14px;
}

/*-------*/


/*registration*/

[lang="ku"] .forgot_pass__row label,
[lang="fa"] .forgot_pass__row label{
    float: none;
}

[lang="ku"] .forgot_pass__row.captcha_block__row > .flex.align-items-start,
[lang="fa"] .forgot_pass__row.captcha_block__row > .flex.align-items-start{
    display: block;
}

/*------*/
