/*ADDED FOR REASON REMOVE LATER*/
body {
    --bg-level-1: #ccc;
    --bg-level-2: #d9d9d9;
    --text-level-high: #000;
    --cwPrimary: #169e49;
    --text-on-primary: #fff;
}

:root {
    /*--body */
    --cwBodyG: #e8e8e8;
    --cwBodyBg: #e8e8e8;
    --cwBodyBgHover: #e0e0e0;
    --cwBodyBg2: #d9d9d9;
    --cwBodyBg2Hover: #d1d1d1;
    --cwBodyBg3: #c9c9c9;
    --cwBodyBg3Hover: #c1c1c1;
    --cwBodyTxt: rgba(0, 0, 0, 0.9);
    --cwBodyTxt2: rgba(0, 0, 0, 0.6);
    --cwBodyTxt3: rgba(0, 0, 0, 0.4);
    --cwBodyAccent: #06892f;
    --cwBodyAccentTxt: rgba(255, 255, 255, 0.9);
    --cwBodyBorder: #e8e8e8;
    /*--dominant */
    --cwDominantG: #e0e0e0;
    --cwDominantBg: #e0e0e0;
    --cwDominantBgHover: #d8d8d8;
    --cwDominantBg2: #d1d1d1;
    --cwDominantBg2Hover: #c9c9c9;
    --cwDominantBg3: #c1c1c1;
    --cwDominantBg3Hover: #b9b9b9;
    --cwDominantTxt: rgba(0, 0, 0, 0.9);
    --cwDominantTxt2: rgba(0, 0, 0, 0.6);
    --cwDominantTxt3: rgba(0, 0, 0, 0.4);
    --cwDominantAccent: #06892f;
    --cwDominantAccentTxt: rgba(255, 255, 255, 0.9);
    --cwDominantBorder: #e8e8e8;
    /*--accent */
    --cwAccentG: #06892f;
    --cwAccentBg: #06892f;
    --cwAccentBgHover: #079834;
    --cwAccentBg2: #08ba40;
    --cwAccentBg2Hover: #09c945;
    --cwAccentBg3: #09d248;
    --cwAccentBg3Hover: #0ae14d;
    --cwAccentTxt: rgba(255, 255, 255, 0.9);
    --cwAccentTxt2: rgba(255, 255, 255, 0.6);
    --cwAccentTxt3: rgba(255, 255, 255, 0.4);
    --cwAccentAccent: #06892f;
    --cwAccentAccentTxt: rgba(255, 255, 255, 0.9);
    --cwAccentBorder: #e8e8e8;
    /*--button */
    --cwButtonG: #079834;
    --cwButtonBg: #079834;
    --cwButtonBgHover: #08a739;
    --cwButtonBg2: #09c945;
    --cwButtonBg2Hover: #0ad84a;
    --cwButtonBg3: #0ae14d;
    --cwButtonBg3Hover: #0bf052;
    --cwButtonTxt: rgba(255, 255, 255, 0.9);
    --cwButtonTxt2: rgba(255, 255, 255, 0.6);
    --cwButtonTxt3: rgba(255, 255, 255, 0.4);
    --cwButtonAccent: #06892f;
    --cwButtonAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonBorder: #e8e8e8;
    /*--input */
    --cwInputG: #d9d9d9;
    --cwInputBg: #d9d9d9;
    --cwInputBgHover: #d1d1d1;
    --cwInputBg2: #cacaca;
    --cwInputBg2Hover: #c2c2c2;
    --cwInputBg3: #bababa;
    --cwInputBg3Hover: #b2b2b2;
    --cwInputTxt: rgba(0, 0, 0, 0.9);
    --cwInputTxt2: rgba(0, 0, 0, 0.6);
    --cwInputTxt3: rgba(0, 0, 0, 0.4);
    --cwInputAccent: #06892f;
    --cwInputAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputBorder: #e8e8e8;
    /*--header */
    --cwHeaderG: #c1c1c1;
    --cwHeaderBg: #FFFFFF;
    --cwHeaderBgHover: #b9b9b9;
    --cwHeaderBg2: #b2b2b2;
    --cwHeaderBg2Hover: #aaaaaa;
    --cwHeaderBg3: #a2a2a2;
    --cwHeaderBg3Hover: #9a9a9a;
    --cwHeaderTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderTxt2: rgba(0, 0, 0, 0.6);
    --cwHeaderTxt3: rgba(0, 0, 0, 0.4);
    --cwHeaderAccent: #06892f;
    --cwHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderBorder: #e8e8e8;
    /*--navbar */
    --cwNavbarG: #d9d9d9;
    --cwNavbarBg: #d9d9d9;
    --cwNavbarBgHover: #d1d1d1;
    --cwNavbarBg2: #cacaca;
    --cwNavbarBg2Hover: #c2c2c2;
    --cwNavbarBg3: #bababa;
    --cwNavbarBg3Hover: #b2b2b2;
    --cwNavbarTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarTxt2: rgba(0, 0, 0, 0.6);
    --cwNavbarTxt3: rgba(0, 0, 0, 0.4);
    --cwNavbarAccent: #06892f;
    --cwNavbarAccentTxt: rgba(255, 255, 255, 0.9);
    --cwNavbarBorder: #e8e8e8;
    /*--subHeader */
    --cwSubHeaderG: #d1d1d1;
    --cwSubHeaderBg: #d1d1d1;
    --cwSubHeaderBgHover: #c9c9c9;
    --cwSubHeaderBg2: #c2c2c2;
    --cwSubHeaderBg2Hover: #bababa;
    --cwSubHeaderBg3: #b2b2b2;
    --cwSubHeaderBg3Hover: #aaaaaa;
    --cwSubHeaderTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderTxt2: rgba(0, 0, 0, 0.6);
    --cwSubHeaderTxt3: rgba(0, 0, 0, 0.4);
    --cwSubHeaderAccent: #06892f;
    --cwSubHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderBorder: #e8e8e8;
    /*--modal */
    --cwModalG: #d9d9d9;
    --cwModalBg: #d9d9d9;
    --cwModalBgHover: #d1d1d1;
    --cwModalBg2: #cacaca;
    --cwModalBg2Hover: #c2c2c2;
    --cwModalBg3: #bababa;
    --cwModalBg3Hover: #b2b2b2;
    --cwModalTxt: rgba(0, 0, 0, 0.9);
    --cwModalTxt2: rgba(0, 0, 0, 0.6);
    --cwModalTxt3: rgba(0, 0, 0, 0.4);
    --cwModalAccent: #06892f;
    --cwModalAccentTxt: rgba(255, 255, 255, 0.9);
    --cwModalBorder: #e8e8e8;
    /*--tab */
    --cwTabG: #d9d9d9;
    --cwTabBg: #d9d9d9;
    --cwTabBgHover: #d1d1d1;
    --cwTabBg2: #cacaca;
    --cwTabBg2Hover: #c2c2c2;
    --cwTabBg3: #bababa;
    --cwTabBg3Hover: #b2b2b2;
    --cwTabTxt: rgba(0, 0, 0, 0.9);
    --cwTabTxt2: rgba(0, 0, 0, 0.6);
    --cwTabTxt3: rgba(0, 0, 0, 0.4);
    --cwTabAccent: #06892f;
    --cwTabAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabBorder: #e8e8e8;
    /*--tabActive */
    --cwTabActiveG: #d1d1d1;
    --cwTabActiveBg: #d1d1d1;
    --cwTabActiveBgHover: #c9c9c9;
    --cwTabActiveBg2: #c2c2c2;
    --cwTabActiveBg2Hover: #bababa;
    --cwTabActiveBg3: #b2b2b2;
    --cwTabActiveBg3Hover: #aaaaaa;
    --cwTabActiveTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveTxt2: rgba(0, 0, 0, 0.6);
    --cwTabActiveTxt3: rgba(0, 0, 0, 0.4);
    --cwTabActiveAccent: #06892f;
    --cwTabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveBorder: #e8e8e8;
    /*--tooltip */
    --cwTooltipG: #d9d9d9;
    --cwTooltipBg: #d9d9d9;
    --cwTooltipBgHover: #d1d1d1;
    --cwTooltipBg2: #cacaca;
    --cwTooltipBg2Hover: #c2c2c2;
    --cwTooltipBg3: #bababa;
    --cwTooltipBg3Hover: #b2b2b2;
    --cwTooltipTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipTxt2: rgba(0, 0, 0, 0.6);
    --cwTooltipTxt3: rgba(0, 0, 0, 0.4);
    --cwTooltipAccent: #06892f;
    --cwTooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipBorder: #e8e8e8;
}

/*banner navigation*/
.cas_nav_prev,
.cas_nav_next,
.lca-voice-icon {
    background-color: var(--primery-40);
}

.cas_nav_prev, .cas_nav_next {
    color: var(--text-color);
}

:root {
    --text-color: #1A1A1A;
    --text-color-60: rgba(26, 26, 26, 0.6);
    --secondary-text-color: #ffffff;
    --unnamed-color-b3b3b3: #B3B3B3;
    --primery-2: #EBEBEB;
    --primery: #FFFFFF;
    --primery-3: #DBDBDB;
    --partner-specific-color: #06892F;
    --unnamed-color-ffb700: #FFB700;
    --primery-90: rgba(255, 255, 255, 0.9);
    --primery-70: rgba(255, 255, 255, 0.7);
    --primery-50: rgba(255, 255, 255, 0.6);
    --primery-50: rgba(255, 255, 255, 0.5);
    --primery-40: rgba(255, 255, 255, 0.4);
    --primery-2-90: rgba(235, 235, 235, 0.9);
}

body {
    --bg-level-1: #e8e8e8;
    --bg-level-2: #f9f9f9;
    --bg-level-3: #fbfbfb;
    --bg-level-4: #ffffff;
    --text-level-high: #424242;
    --text-level-medium: #616161;
    --text-level-low: #9e9e9e;
    --icon-level-high: #424242;
    --icon-level-medium: #757575;
    --icon-level-low: #9e9e9e;
    --btn-primary: #06892f;
    --btn-secondary: #535d73;
    --badge-notification: #06892f;
    --badge-bonus: #06892f;
    --cwPrimary: #06892f;
    --btn-primary-text: #ffffff;
    --btn-secondary-text: #ffffff;
    --text-on-primary: #ffffff
}


input::placeholder, textarea::placeholder {
    color: var(--text-color-60) !important;
}

/*all important styles*/
body, #wrapper, .bgMain {
    background-color: var(--primery-2);
    color: var(--text-color);
}

.heading {
    color: var(--text-color);
    background-color: var(--primery-3);
}
.withdrawalForms .heading{
     display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_heading {
    color: var(--text-color);
}

.subHeading {
    color: var(--partner-specific-color);
}

.txt.width_all {
    display: block;
}
/*inputs*/
#wrapper input::placeholder {
    color: #999999;
}

#wrapper input:-ms-input-placeholder {
    color: #999999;
}

#wrapper input::-ms-input-placeholder {
    color: #999999;
}

.D_info_box {
    top: 108%;
}


/*header*/
.LinkToLeftPanel {
    color: var(--unnamed-color-b3b3b3);
}

.dynamic_menu .menu_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.tl_main_nav_item-active .dynamic_icon {
    color: inherit !important;
}

.casino_links_tabs .tl_main_nav_item-active {
    background-color: var(--primery-3);
}

.casino_h_link_cont .clr_sec {
    background: var(--primery-2);
}

.casino_links_tabs .dynamic_icon_home {
    color: var(--partner-specific-color) !important;
}

.casino_links_tabs a {
    font-size: 12px;
    color: #999999;
    text-transform: capitalize;
}

.casino_h_link_cont.dynamic_menu {
    background-color: var(--primery-2);
}

.LinkToLeftPanel:before {
    color: #999999;
    font-size: 26px;
}

.LogoMobilePlatform {
    background-image: var(--cdn-logo-mob_png);
}

.ic, #header .txt {
    color: var(--text-color);
}

.go_to_right_menu {
    position: relative;
}

.user-info {
    flex-direction: column;
    align-items: flex-start;
}

/*all buttons*/
.all_buttons_styles {
    min-height: 36px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--primery-3);
    color: var(--text-color);
}

.btn_sec {
    background-color: var(--partner-specific-color) !important;
    color: var(--text-color) !important;
}

.btn_prim {
    background-color: var(--partner-specific-color) !important;
    color: var(--primery) !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    height: 36px;
    line-height: 36px !important;
}

/*new landing homepage*/
.tl_popup_content {
    color: var(--text-color);
}

.sliderControlsCont .slick-dots .slick-active button {
    background-color: var(--partner-specific-color);
}

.nav_item {
    margin-bottom: 0.5vw;
}

.nav_title {
    font-size: 18px;
    background: rgba(14, 21, 27, 0.5);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    bottom: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    color: var(--text-color);
    text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.nav_item > img {
    width: 100%;
    vertical-align: top;
    max-width: 13vw;
    max-height: 20vw;
}

.block_title {
    background: var(--primery);
    color: var(--partner-specific-color);
    font-weight: 600;
    border-bottom: 2px solid;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
    font-size: 14px;
    padding: 14px 38px;
}

.nav_item {
    width: 100%;
    max-height: 100%;
    min-height: 100px;
    background: #353C4F;
    position: relative;
    text-align: center;
    height: auto;
    margin-bottom: 2px;
    padding-bottom: 44px;
    min-height: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_title:before {
    color: #999999;
    font-size: 14px;
    top: 2px;
}

/*popup after login*/
.tl_popup_container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 101;
    top: 0;
    left: 0;
}

.tl_popup_header {
    background-color: #2b2b2b;
    border-radius: 2px 2px 0 0;
    height: 47px;
    width: 100%;
    align-items: center;
    padding: 0 16px;
}

.tl_head_text {
    width: calc((100%) - 20px);
    color: var(--text-color);
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}

.tl_head_close {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.tl_popup_header .tl_head_close {
    top: 12px;
}

.tl_head_close:after {
    content: "\E412";
    font-size: 35px;
    line-height: 0.7;
    font-family: iconsDinamicMenu;
}

/*footer*/
#footer {
    background: var(--primery);
    padding: 30px 10px 100px;
}

.call_us,
.drop_down_lang {
    background: var(--primery-3);
    border-radius: 4px;
    color: var(--unnamed-color-b3b3b3);
    height: 44px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer_links .tl_footer_link {
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
    text-transform: capitalize;
}

.tl_footer_links_heading {
    font: normal normal bold 14px/17px Roboto;
    letter-spacing: 0.84px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.toWeb {
    background: var(--primery-3);
    border-radius: 4px;
    color: var(--unnamed-color-b3b3b3);
    margin-bottom: 24px;
}

.tl_footer_link {
    color: var(--unnamed-color-b3b3b3);
    padding: 0 30px;
    margin-bottom: 25px;
}

.popup_lbl_2 {
    color: #fff;
}

.call_us {
    padding: 0 15px;
    text-align: left;
}

.drop_down_lang_arrow:after {
    border-top-color: var(--unnamed-color-b3b3b3);
    top: 16px;
}

#footer-links {
    padding: 30px 0;
}

.footer_links a {
    color: #999999;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer_logos {
    padding: 16px 0;
}

.footer_logos_img {
    width: 64%;
    height: auto;
}

/*footer provider icons*/
.footer_logo {
    height: 47px;
    width: 150px;
    display: block;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.toWeb.btn_sec {
    height: 36px;
    color: var(--unnamed-color-b3b3b3) !important;
    background: var(--primery-3) !important;
    line-height: 36px !important;
    font-size: 14px;
    padding: 0 20px;
    margin: 20px 0 30px;
    width: 100%;
}

.copy {
    color: var(--partner-specific-color);
}

.cw_mob_footer_18_wrapper {
    color: currentColor;
}

.payment_title {
    letter-spacing: 0;
    color: #999;
    font-size: 11px;
}

.social_icons_title {
    margin-bottom: 16px;
    margin-top: 24px;
}

.footer_text {
    width: 100%;
    text-align: center;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

    .footer_text img {
        width: 100%;
        height: auto;
    }

.address {
    max-width: 80%;
    font-size: 11px;
    font-weight: 500;
}

.address a {
    text-decoration: underline;
}

/*Social icons color*/
.footer_social-list {
    row-gap: 15px;
}

/*welcome to the*/
.footer__dropdown_content {
    width: 100%;
    margin: auto;
    padding: 20px 0 40px;
}

.footer__dropdown {
    width: 100%;
    flex-direction: column;
}

.hiddenContentButton {
    cursor: pointer;
    color: var(--text-color);
    font-size: 12px;
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.hiddenContent {
    display: none;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 13px;
    color: #CECECE;
    text-align: justify;
    background: rgba(0,0,0,0.1);
    padding: 0 20px;
    border-radius: 10px;
}

    .hiddenContent p {
        font-size: 15px;
        color: var(--text-color);
        padding: 20px 0 10px;
        margin: 0;
    }

.hiddenContentButton i {
    padding: 0 10px;
    line-height: 16px;
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}
/*left and right menu*/

.collapse_dropdown_leftmenu_btn:after {
    border-color: var(--text-color) transparent transparent transparent;
}

#left-panel {
    background: var(--primery-2);
}

    #left-panel .menuBtn {
        background: #212531;
        color: var(--text-color) !important;
        height: 36px;
    }

.menuBtn {
    background: #F3F3F3;
    margin-bottom: 3px;
}

.menuBtnSm {
    background: #F3F3F3;
    color: var(--text-color) !important;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 0 20px;
}

.menuBtn .txt {
    font-size: 12px;
    font-weight: 400;
}

    .ui-collapsible-inset .ui-collapsible-heading .ui-btn {
        color: var(--text-color) !important;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 14px;
        background: var(--primery);
    }

.platformForgPass, .platformLoginButton {
    color: var(--text-color) !important;
}

.platformRightLoginPanel .platformForgPass {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
}

.menuRow {
    color: var(--text-color) !important;
    background: var(--primery);
    text-transform: uppercase;
    margin-bottom: 3px;
}

    .menuRow:not(.hidden) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menuRow.menu_inbox {
        justify-content: flex-start;
    }

.lblInboxCount1 {
    padding: 0;
    padding-inline-end: 5px;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    background-color: var(--primery-2) !important;
    color: var(--text-color) !important;
    padding: 0 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    margin: 0 0 3px 0;
}

.row {
    margin: 5px auto;
}

.acc_logo {
    background: var(--primery-2);
    box-sizing: border-box;
    position: relative;
    text-align: center;
    line-height: 44px;
    padding: 8px 0;
}

.right_menu_close {
    color: #0E151B;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: #999999;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    text-align: center;
}

.account_title {
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 14px;
    padding: 0 8px;
}

.playerId {
    margin: 12px 8px 24px;
    color: var(--text-color);
}

.right_logo {
    width: 117px;
    height: 35px;
    background-size: contain;
    margin: 0px auto;
    background-repeat: no-repeat;
}

#left-panel .menuBtnSm {
    color: var(--text-color) !important;
    background-color: #212531;
    font-weight: normal;
}

#registerForm .drop-down {
    font-size: 14px;
}

.reg_info {
    font-size: 12px;
    height: auto;
    line-height: 1.5;
    display: block;
    text-align: left;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    padding: 0 0 15px;
}

#loginerrormessage {
    width: 100%;
}
/*bonuses*/
#bonusesNavBar > .ui-link {
    background: #DDDDDD;
    color: #999999;
}

    #bonusesNavBar > .ui-link.active {
        background: var(--partner-specific-color);
        color: var(--text-color);
    }

#bonuses_content {
    color: #999999;
    padding: 30px 15px;
}

    #bonuses_content .activate_btn {
        background-color: var(--partner-specific-color) !important;
        color: var(--text-color) !important;
    }

#privacyPolicyLink {
    color: #999999;
}
/*casino*/
.clr_sec {
    background-color: var(--partner-specific-color);
}

.casino-tabs .clr_prim {
    background: var(--text-color);
    color: var(--partner-specific-color) !important;
}

.clr_prim {
    background-color: var(--partner-specific-color);
    color: var(--text-color) !important;
}

/*promotions*/
.promo_mobile_cont {
    background-color: #ddd;
}

.promo_mobile_title {
    color: var(--partner-specific-color);
}

.promo_mobile_descr, .promo_img {
    color: #999999;
}
/*inbox*/
.tl_mail_details_box {
    font-size: 10px;
}

.tl_mail_item {
    background: var(--primery);
    border-bottom: 1px solid var(--primery-2);
}

.tl_msg_button_cont {
    width: 100%;
}

.tl_mail_icon,
.tl_mail_details,
.tl_mail_details_title {
    color: var(--text-color);
}

.tl_mail_details_box {
    margin-top: 4px;
}

.tl_mail_msgId {
    color: var(--partner-specific-color);
}

.tl_mail_item.unread {
    background: var(--primery-3);
}

textarea.ui-input-text:focus {
    outline: none;
}

textarea.ui-input-text {
    background-color: var(--primery-3) !important;
    color: var(--text-color);
    min-height: 90px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tl_mail_header:before {
    top: 7px;
}

.field-validation-error {
    display: block;
}

#attachfile_btn {
    background-color: var(--primery);
    position: relative;
    color: var(--text-color);
}

.tl_mail_attachfiel_content {
    font-size: 10px;
    grid-gap: 8px;
}

.attach-label {
    display: flex;
    border-radius: 4px;
    margin: 0.5em 0;
    align-items: center;
    justify-content: center;
    background-color: var(--primery-3);
    height: 36px;
}

.profile_upload {
    background-color: var(--primery-3);
    height: 36px;
}

.upload_file__btn {
    padding: 0 32px;
    line-height: 160%;
    position: relative;
}

    .upload_file__btn:after {
        font-family: ProductIconsFont;
        content: "\A5";
        display: block;
        font-size: 22px;
        position: absolute;
        color: white;
        right: 4px;
        top: 0;
        transform: rotate(-90deg);
    }

.tl_mail_attachfiel_download_btn {
    background-color: #4D4D4D;
}

.tl_mail_attachfiel_screp, .tl_mail_attachfiel {
    color: var(--text-color);
}

.tl_mail_row {
    background: var(--primery);
}


.tl_mail_message_cont .ui-corner-all {
    margin: 10px 0 !important
}

.spcbtw .tl_mail_icon, .spcbtw .tl_mail_details, .spcbtw .tl_mail_details_title {
    color: var(--unnamed-color-b3b3b3);
}

.tl_mail_msgId .tf_arrow_icon:before {
    margin: 2px 4px 0 -6px;
    font-style: normal;
}

.tl_msg_button,
.upload_file_btn {
    color: var(--text-color);
    background-color: var(--partner-specific-color);
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_msg_attach_button {
    color: var(--text-color);
    background-color: #222;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_mail_message_body, .tl_mail_send_area {
    background: var(--primery);
    color: var(--text-color);
}

.tl_mail_date_div {
    font-size: 12px;
}

.tl_mail_details_subject {
    color: var(--partner-specific-color);
    margin-right: 4px;
}

.tl_mail_message_cont .flexend.tl_mail_btn_cont {
    position: relative;
    padding-bottom: 25px;
}
/*deposit && withdrawal*/
.collapse_btn h3 > a {
    background: #ddd;
}

.paym_txt, .paym_cond > span {
    color: #999999;
}

.lbl-success {
    background: var(--partner-specific-color);
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}

.btn_affiliate {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 0 25px 0;
}

.exchangeripg {
    width: 76px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -7935px -153px;
}


#countryphonecode_wraper {
    width: 86px;
    margin-bottom: 3px;
}

/*poker page info*/
/*inputs optimisation*/
input,
.reg_input,
.tl_mail_send_area,
.custon_select__front_el,
.drop-down,
.drop-down-small,
#content_paym .ui-select span,
#content_paym .ui-select select,
.favorite_amounts > div,
.profile_container .reg__gender_row label {
    background-color: var(--primery-3);
    color: var(--text-color);
    border: 1px solid transparent;
}

.registration_heading {
    font-size: 14px;
    text-transform: uppercase;
}

.reg__gender_row > * {
    margin-bottom: 0;
    width: 30%;
}

.reg__gender_row label,
.profile_container .reg__gender_row label {
    color: var(--text-color);
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after {
    background-color: var(--text-color)
}

.ui-radio-on:after {
    content: "\E49A";
    font-family: "iconsDinamicMenu";
    font-size: 44px;
    width: 15px !important;
    height: 15px !important;
    text-align: center;
    line-height: 20px;
    margin-right: 8px;
    flex-shrink: 0;
    background-color: var(--top-header);
    border-color: #5C5B6A;
}

.ui-btn.ui-radio-off:after {
    content: "\E499";
    font-family: "iconsDinamicMenu";
    font-size: 44px;
    left: 0px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    margin-right: 8px;
    flex-shrink: 0;
    background: none;
    margin-left: 0;
    margin-right: 0;
}

.ui-radio .ui-btn.ui-radio-on:after {
    left: 2px;
    background-color: var(--top-header);
    border-color: #5C5B6A;
    border-width: 0 !important;
    margin: -9px 2px 0 0px;
}

.captcha_block__row div.flex {
    align-items: start;
}

.reg__gender_row input,
.reg__checkboxes_row input {
    position: absolute;
    top: 7px;
    left: 2px;
    opacity: 0;
    width: 9px;
}

.D_check .imitator {
    left: 0;
    height: 18px;
    width: 18px;
    line-height: 16px;
    font-size: 22px;
}

.fail .D_check .imitator:before {
    color: #ff0000;
}

.reg__row_title, .profile_container label, .transfer2friend_cont label, #content_paym label, .forgot_pass__row label, .r_login__row label, .changepass__element_row label, .search_popup_row label {
    color: var(--text-color);
}

#recNews {
    margin-top: 26px;
    color: var(--unnamed-color-b3b3b3);
}

    #recNews a {
        color: var(--text-color);
    }

/*tournament*/
.tour__leaderboard_table_me {
    border-bottom: 2px solid var(--partner-specific-color);
}

.tr_col_me {
    color: var(--partner-specific-color);
}

.text-primary {
    color: var(--partner-specific-color);
}

/*27.4.21 optims*/
body .bg-primary, body .h-bg-primary {
    background-color: var(--partner-specific-color);
    color: var(--primery);
}


body .text-primary {
    color: var(--partner-specific-color);
}

body .bg-secondary, body .h-bg-secondary {
    background-color: var(--primery);
    color: var(--text-color);
}

body .bg-tert, body .h-bg-tert {
    background-color: var(--primery);
    color: var(--text-color);
}

.free_spin.sport .free_spin__btn {
    background-color: var(--primery-3);
    color: var(--text-color);
}

    .free_spin.sport .free_spin__btn svg path {
        fill: var(--text-color);
    }
/*new redesign styles*/
.name_vidget {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color);
    background: var(--primery-70);
}

.pagIt {
    background-color: var(--primery-3);
    color: var(--text-color);
}

    .pagIt.active {
        background-color: var(--primery);
    }
/*/slider*/
.nav_title {
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    bottom: 7px;
    text-shadow: none;
}

.block_title {
    color: var(--partner-specific-color);
    background: #2B2B2B;
}

.nav_item {
    background: var(--primery-70);
    border-radius: 8px;
    min-height: 32.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 38px;
}
/*games containers*/
.favorite_see__notlogin_text {
    color: inherit;
}

/*casino navigation*/

.fixed_menu__play_button {
    background-color: var(--primery-90);
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px var(--primery);
}

.fixed_menu__li.active svg .yellow, .fixed_menu__li.active .fixed_menu__play_button, .fixed_menu__li.active {
    color: var(--partner-specific-color);
}

.more_menu_btns_content:before {
    border: 78px solid var(--primery-90);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.casino_nav__links_block {
    background: var(--primery-2);
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    -moz-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
}

.casino_nav__links_block a {
    color: var(--text-color);
}

    .casino_nav__links_block a.active {
        color: var(--partner-specific-color);
    }

/*play page promotions*/
.play__promo_mobile_li {
    background-color: var(--primery-2);
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
}

.play__promo_title {
    color: var(--text-color);
}

.play__promo_descr {
    color: #CCCCCC;
}

/*filter and search*/
#searchContent .popup_flex_box {
    background: #212940;
    box-shadow: 0px 0px 320px 320px #212940;
    height: calc(100% - 150px);
}

#casino_filter_popup {
    background-color: var(--primery-2);
}

.search_switcher {
    background-color: #cfcfcf;
}

    .search_switcher:before {
        background-color: var(--text-color);
    }

.checked .search_switcher {
    background-color: var(--partner-specific-color);
}

.search__icon::after {
    color: #707070;
}

/*search part*/
.nc__heading {
    color: var(--text-color);
}

.games_filter_popup .search_filter_input {
    background-color: var(--primery-2) !important;
    box-shadow: 0px 3px 6px #2B2B2B4D;
    color: var(--text-color);
}

.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.games_filter_popup {
    width: 100%;
}

.fs__input_wrap .close-search {
    color: var(--text-color);
}

    .fs__input_wrap .close-search:after {
        background: var(--text-color);
    }

    .fs__input_wrap .close-search:before {
        background: var(--text-color);
    }

.game__link_demo {
    background: var(--primery-2);
    color: var(--text-color);
}

/*icons opened game info*/
.like_icon:after {
    color: var(--text-color);
}

.jackpot__value span {
    color: var(--partner-specific-color);
}

.close__game__more_block::after {
    color: #ffffff;
}

.game__link_play {
    background: var(--partner-specific-color);
    color: var(--primery);
}

.game__link_demo {
    background: var(--primery-2);
    color: var(--text-color);
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}
/*filer*/
.filters_slider_cont {
    background-color: var(--primery-2);
}

.games_filter_title {
    color: var(--text-color);
    background-color: var(--primery-2);
}

.games_filter_element, .games_filter_list_show {
    background-color: var(--primery-2);
}

    .games_filter_element.active {
        background: var(--partner-specific-color);
        color: var(--text-color);
    }

.filter__more_games {
    color: var(--text-color);
    background: #000;
}

.filter_result__go_back {
    color: #999999;
}

.games_filter_popup__footer {
    background-color: #212940;
}

.games_filter_reset {
    background-color: var(--primery-2);
}

.games_filter_show {
    background-color: var(--partner-specific-color);
    color: var(--text-color);
}
/*training animate*/
.training__block_circle {
    border: 2px solid var(--text-color);
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0,0,0,0.7);
}

.training__info {
    color: var(--primery-2);
    background: var(--text-color);
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid var(--text-color);
}

.training__next {
    color: var(--partner-specific-color);
}

div.nc__slider_block.w100 {
    min-height: 160px;
}

.fr__sort_by_drpdwn_el {
    background-color: var(--primery-2);
}

/*left panel*/
#left-panel {
    width: 300px;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 300px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
/* Panel left closed animated */
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}

.ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(20em,0,0);
    -moz-transform: translate3d(20em,0,0);
    transform: translate3d(20em,0,0);
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 299px;
}

@media screen and (max-width: 374px) {
    #left-panel {
        width: 260px;
    }

    .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
    .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
        -webkit-transform: translate3d(-260px,0,0);
        -moz-transform: translate3d(-260px,0,0);
        transform: translate3d(-260px,0,0);
    }

    .ui-panel-animate.ui-panel-page-content-position-left {
        -webkit-transform: translate3d(16em,0,0);
        -moz-transform: translate3d(16em,0,0);
        transform: translate3d(16em,0,0);
    }

    .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
        left: 260px;
    }
}

.tl_main_nav_item-active {
    color: var(--partner-specific-color) !important;
}

.drop_down_lang {
    padding: 0 15px !important;
}

/*Live casino skinning*/
.lca-main-content {
    color: var(--text-color);
}


.lca-voice-icon svg {
    fill: var(--text-color);
}
/*Menu*/
.lca_search_cont, .lca-menu {
    background-color: var(--primery-3);
}

.lca-menu-link {
    color: var(--text-color);
}

.more_menu_links_content a {
    color: var(--text-color);
}

.lca-menu-link.active {
    background-color: var(--partner-specific-color);
    color: #000;
}

    .lca-menu-link.active .lca-menu-badge {
        background-color: #212940;
        color: var(--partner-specific-color);
    }

.lca-menu-badge {
    background-color: var(--partner-specific-color);
    color: #000;
}
/*Submenu*/
.lca-submenu {
    background-color: var(--primery);
    color: var(--text-color);
}

.lca-submenu-link {
    color: var(--text-color);
}

    .lca-submenu-link.active {
        color: var(--partner-specific-color);
    }
/*Game card*/
.lca-card-footer {
    background-color: var(--primery);
    color: var(--text-color);
}

.lca-card-footer-btn .star_icon.active, .lca-card-price {
    color: var(--partner-specific-color);
}

.lca-card-footer-btn {
    background-color: var(--primery-3);
    color: var(--text-color);
}

    .lca-card-footer-btn .like_icon:after,
    .lca-card-footer-btn .star_icon {
        color: var(--text-color);
    }

.lca-main-content .star_icon.active:after {
    color: var(--partner-specific-color);
    text-shadow: 0 0 6px var(--partner-specific-color);
}

.lca-card-badge.type-1 {
    background-color: var(--partner-specific-color);
    color: #000;
}
/*Filter and search*/
.lca-title {
    color: var(--text-color);
}

.lca-input {
    background-color: var(--primery);
    color: var(--text-color);
}

.lca-filter-toggle {
    color: var(--text-color);
}

.lca-filter-price {
    background-color: var(--primery);
    color: var(--text-color);
}

.lca-filter-price-input {
    color: var(--text-color);
}

.lca-filter-range-divider {
    background-color: var(--partner-specific-color);
}

.lca-main-content .noUi-target {
    background: var(--primery-3);
}

.lca-main-content .noUi-connect {
    background: var(--partner-specific-color);
}

.lca-main-content .noUi-handle {
    border-color: transparent;
    background: var(--partner-specific-color);
}

.lca-filter-category-item {
    background-color: var(--primery);
    color: var(--text-color);
}

    .lca-filter-category-item.active {
        background-color: var(--partner-specific-color);
        color: #000;
    }

.lca-search-result-title {
    color: var(--text-color);
}

.lca-search-result-filter-item {
    color: var(--text-color-60);
}

.lca-search-result-filter-item-description {
    color: var(--text-color);
}

.lca-dropdown-toggle {
    color: var(--text-color);
}

.lca-dropdown {
    background-color: var(--primery-3);
    color: var(--text-color);
}

.lca-dropdown-item {
    color: var(--text-color);
}

.lca-back-link {
    color: var(--text-color);
}

.lca-card-more {
    background-color: var(--primery);
    color: var(--text-color);
    border-radius: 8px;
}

.accordion-tab {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

.lca-filter-footer {
    background-color: var(--primery);
    color: var(--text-color);
}

.lca-filter-footer-btn-reset {
    background-color: var(--primery-3);
    color: var(--text-color);
}

.lca_search_input {
    background-color: var(--primery-2-90);
}

.lca-filter-footer {
    box-shadow: 0 -5px 7px var(--primery);
}

.lca-filter-footer-btn-show {
    background-color: var(--partner-specific-color);
    color: #000;
}
/*Promotions*/
.lca-promo-text-wrapper {
    background-color: #212940;
    color: var(--text-color);
}

.lca-promo-title {
    color: var(--text-color);
}

.lca-main-content .promo_mobile_cont {
    background-color: #212940;
    color: var(--text-color);
}

.lca-main-content .promo_mobile_title {
    color: var(--text-color);
}

.lca-main-content .promo_mobile_text_cont {
    box-shadow: 0 -14px 29px 19px #212940;
}

.lca-card-promo-img::after {
    box-shadow: inset 0 -71px 39px -35px #212940;
}

.lca-promo-link,
.lca-main-content .tl_promotions_more_info {
    background-color: var(--partner-specific-color);
    color: #000;
}

/*very new bonus*/
.bonus_card_body {
    background-color: var(--primery);
}

/*registration*/

.reg_content {
    padding: 10px 15px 40px;
}

#countryNumber {
    width: 84px;
    height: 36px;
    margin-right: 6px;
}

#registerForm .captcha .reg_prof__element_row.captchablock {
    width: calc(100% - 106px);
    margin-left: auto;
}

#registerForm .captcha .tl_refresh_container {
    color: var(--text-color);
}


.refresh-captcha:before, .refreshLoginCaptcha:before {
    font-size: 21px;
}

.register_next_step {
    margin-top: 50px;
    column-gap: 4px;
}

    .register_next_step > div {
        width: 100%;
    }

.reg_steps_info {
    margin-bottom: 30px;
}

.reg_progress_dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 16px;
    overflow: hidden;
}

    .reg_progress_dots span {
        width: 24px;
        height: 24px;
        border: 2px solid var(--unnamed-color-b3b3b3);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        background-color: var(--primery-2);
    }

        .reg_progress_dots span.active:after {
            -webkit-border-radius: 50%;
            border-radius: 50%;
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            background: var(--partner-specific-color);
            top: 4px;
            left: 4px;
        }

        .reg_progress_dots span.done {
            background: var(--partner-specific-color);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: none;
            height: 22px;
            width: 22px;
            top: 2px;
        }

            .reg_progress_dots span.done:before {
                background: var(--partner-specific-color);
            }

        .reg_progress_dots span:before {
            background: var(--unnamed-color-b3b3b3);
            content: "";
            position: absolute;
            width: calc(95vw - 45px);
            height: 2px;
            top: 9px;
            left: 22px;
        }

        .reg_progress_dots span:last-child:before {
            display: none;
        }

.reg_prof__element_row.captcha .D_info_box.f > span {
    top: 68px;
}

.register_step_number {
    color: var(--unnamed-color-b3b3b3);
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .register_step_number span {
        display: inline-block;
        min-width: 40px;
        font-size: 12px;
        white-space: nowrap;
    }

        .register_step_number span:nth-child(3),
        .register_step_number span:nth-child(4) {
            text-align: right;
        }

.resend_btn {
    display: block;
    margin-top: 10px;
}
/*error messages*/
.regErMes {
    color: #ff0000;
}

.reg_prof__element_row.fail .D_info_box.f > span > span {
    background-color: #ffffff;
    color: #ff0000 !important;
}

.reg_prof__element_row.fail .D_info_box.f > span:after {
    border-color: transparent transparent #ffffff transparent;
}

.reg__checkboxes_row {
    padding: 3px 10px 5px 25px;
    color: var(--unnamed-color-b3b3b3);
}

.reg__checkboxes.input_validation_fail .reg__checkboxes_row, .reg__checkboxes.input_validation_fail .D_check .imitator:before {
    color: #ff0000;
}

.phone_number_reg_wrapper {
    position: relative;
}

.phone_number_reg_wrapper  .reg_err_mess {
    position: absolute;
    inset-inline-start: 0px;
}
/*---------*/
/*footer*/
.footer_cont {
    max-width: 100%;
}

.footer_payments {
    padding-bottom: 26px;
    border-bottom: 2px solid var(--primery-3);
}

.footer_accordion {
    color: var(--unnamed-color-b3b3b3);
    font: normal normal normal 16px/32px Roboto;
    letter-spacing: 0px;
}

.accordion_panel {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
}

    .accordion_panel a {
        padding-left: 40px;
        text-align: start;
        position: relative;
    }

        .accordion_panel a:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid var(--primery-3);
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

.accordion_title {
    width: 100%;
    background-color: var(--partner-specific-color);
    padding: 6px 16px;
    border-radius: 4px;
    color: var(--primery);
    font: normal normal normal 16px/32px Roboto;
    letter-spacing: 0px;
    text-align: start;
}

.cw_mob_footer_18_wrapper {
    color: var(--unnamed-color-b3b3b3);
}

.copyright {
    color: var(--partner-specific-color);
    font-size: 11px;
}


/*---------*/

/*my profile*/

.reg_prof__element_row .lbl {
    text-align: initial !important;
}

.bonus-history .bonus-block {
    background-color: var(--primery);
}

#bonuses_content.bonus-history .col50 {
    color: var(--text-color-60)
}

    #bonuses_content.bonus-history .col50.text-right {
        color: var(--text-color);
    }
/*--------*/
.fixed_menu__ul.flex {
    background-color: rgba(255, 255, 255,0.94);
}

.lca-card-body-wrapper {
    background-color: var(--primery)
}

.lc-cat-fixed {
    background-color: var(--primery-2)
}

.casino_nav_fav_game_not_found {
    color: inherit;
}

.game_history .more-btn {
    margin-bottom: 24px;
}

/*right menu*/

/*body {
    --bg-level-1: var(--primery);
    --bg-level-2: var(--primery-2);
    --bg-level-3: var(--primery-3);
}*/
/*to top*/
.to_top {
    --bg-level-4: var(--partner-specific-color);
    --icon-level-high: var(--primery);
}
/*start live chat links*/
:root {
    --rw-red: #06892f;
}

#rwQuickActions.opened #rwQuickActionsMenu {
    display: none;
}

#rwQuickActions #rwQuickActionsMenuNew {
    display: block;
    position: fixed;
    bottom: calc(var(--cwNavbarBottomHeight) + 85px);
    left: -100%;
    opacity: 0;
    pointer-events: none !important;
    transition: all .3s;
    width: calc(100% - 20px);
    min-height: 270px;
    max-height: 270px;
}

#rwQuickActions.opened #rwQuickActionsMenuNew {
    opacity: 1;
    pointer-events: auto !important;
    left: 0;
}

#rwQuickActions {
    user-select: none;
}

#rwQuickActionsMenu {
    opacity: 0;
    pointer-events: none !important;
    position: fixed;
    right: 100%;
    bottom: 85px;
    right: -5px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
}

    #rwQuickActionsMenu a {
        color: #fff;
        font-family: var(--rw-font-1);
        font-size: 15px;
        font-weight: normal;
        text-decoration: none;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 6px 35px 6px 10px;
        margin: 2px 0;
        position: relative;
        transition: all .3s;
        white-space: nowrap;
        background-color: #404256;
        border: 1px solid var(--rw-red);
        border-top-left-radius: 75px;
        border-bottom-left-radius: 75px;
    }

        #rwQuickActionsMenu a p {
            margin: 0;
        }

        #rwQuickActionsMenu a:hover {
            transform: translateX(-5px);
        }

            #rwQuickActionsMenu a:hover:after {
                background-color: #111;
            }

        #rwQuickActionsMenu a img {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }

        #rwQuickActionsMenu a span {
            color: var(--rw-red);
        }

#rwQuickActions.opened #rwQuickActionsMenu {
    opacity: 1;
    pointer-events: auto !important;
}

#rwToggleQuickActionsBtn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fff;
    transition: all .3s;
    box-shadow: none;
}

    #rwToggleQuickActionsBtn > span {
        background: linear-gradient(180deg, rgb(13 155 55) 0%, rgb(3 84 29) 100%);
        border: 8px solid #ffffff;
        height: 56px;
        width: 56px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -6px 3px rgba(0, 0, 0, 0.2);
    }

    #rwToggleQuickActionsBtn p {
        -webkit-text-stroke: .5px black;
        margin: 5px 0 0 0;
        white-space: nowrap;
        font-family: var(--rw-font-1);
        font-size: 24px;
        transition: all .3s;
    }

        #rwToggleQuickActionsBtn p span {
            color: var(--rw-red);
        }

    #rwToggleQuickActionsBtn img {
        width: 25px;
        transition: all .3s;
    }

    #rwToggleQuickActionsBtn:hover img {
        transform: scale(1.2) rotate(90deg) translateY(-1px);
    }

#rwQuickActions.opened #rwToggleQuickActionsBtn {
    transform: translateY(+24px);
}

    #rwQuickActions.opened #rwToggleQuickActionsBtn p {
        transform: translateY(+70px);
    }

    #rwQuickActions.opened #rwToggleQuickActionsBtn img {
        transform: rotate(-45deg);
    }

#rwQuickActionsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30, .9);
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}

    #rwQuickActionsOverlay.opened {
        opacity: 1;
        pointer-events: auto;
    }

#declineReason {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--rw-red);
    border-radius: 5px;
    margin: 10px 0;
}

#rwQuickActionsWindow {
    position: fixed;
    border-radius: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 10004;
    padding: 40px;
    color: #fff;
}

    #rwQuickActionsWindow:after {
        background: linear-gradient(180deg, #404256 0%, #222907 100%);
        border-radius: 40px;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    #rwQuickActionsWindow:before {
        background: linear-gradient(180deg, #BB120A 0%, #222907 100%);
        border-radius: 40px;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
    }

    #rwQuickActionsWindow.opened {
        opacity: 1;
        pointer-events: auto;
    }

#rwQuickActionsWindowCloseBtn {
    background-color: transparent;
    border: none;
    color: var(--rw-red);
    padding: 3px 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 10px 20px;
    z-index: 10005;
}

#rwQuickActionsMenuNew {
    background: #222907;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    width: calc(100% - 20px);
    max-width: 500px;
    height: auto;
    position: relative;
}

#rwQuickActionsMenuWrapperNew {
    position: absolute;
    margin: 12px;
    left: 0;
    top: 0;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
}

#rwQuickActionsMenuNew a {
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: var(--rw-font-1);
    font-size: 14px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(13 155 55) 0%, rgb(3 84 29) 100%);
    line-height: 1.1;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#rwQuickActionsMenuNew img {
    margin-bottom: 5px;
}

#rwQuickActionsMenuNew a:nth-child(1) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(2) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(3) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(4) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(5) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(6) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(7) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(8) img {
    height: 16px;
}

#rwQuickActionsMenuNew a:nth-child(9) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(10) img {
    height: 24px;
}

#rwQuickActionsMenuNew a:nth-child(11) img {
    height: 24px;
}

#rwSupportOptionsToggleBtnNew small {
    position: absolute;
    background: #06892f;
    transform: rotate(-45deg);
    right: -11px;
    top: -11px;
    padding: 8px 12px 8px 1px;
}

    #rwSupportOptionsToggleBtnNew small img {
        transform: rotate(45deg);
        height: 8px !important;
    }

#openTrialBonus {
    line-height: .8;
}

#rwFriendAff {
    flex-direction: row !important;
    display: none !important;
}

    #rwFriendAff img {
        margin-right: 5px;
    }

#rwQuickActionsMenuNew #rwShowEventsBtn {
    display: none;
}

#rwQuickActionsMenuNew a#btcWithdraw {
    grid-row: span 3;
    font-size: 20px;
    text-align: left !important;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
    padding: 10px;
    order: -1;
    text-decoration: none;
    line-height: 160%;
}

#btcWithdraw i {
    color: var(--rw-red);
    font-weight: bold;
    font-size: 26px;
}

#rwQuickActionsMenuNew a#btcWithdraw img {
    height: 90px;
    right: 10px;
    bottom: 10px;
    position: absolute;
}

#rwSupportOptionsNew {
    right: -150%;
    display: flex;
    position: absolute;
    background-color: #222907;
    bottom: 0;
    width: 330px;
    height: 90px;
    flex-wrap: wrap;
    margin: 5px;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding: 5px;
}

    #rwSupportOptionsNew.opened {
        right: 5px;
    }

    #rwSupportOptionsNew a {
        width: 70px;
        margin: 5px;
        height: 70px;
    }

        #rwSupportOptionsNew a img {
            height: 25px !important;
        }


#rwQuickActionsMenuNew {
    background: #00812873;
    box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 18%);
    border-radius: 6px;
    width: calc(100% - 20px);
    max-width: 500px;
    height: auto;
    position: relative;
}

#rwQuickActions #rwQuickActionsMenuNew {
    display: block;
    position: fixed;
    bottom: calc(var(--cwNavbarBottomHeight) + 85px);
    left: -100%;
    opacity: 0;
    pointer-events: none !important;
    transition: all .3s;
    width: calc(100% - 20px);
    min-height: 270px;
    max-height: 270px;
    box-shadow: 0 2px 10px #86a713;
}

.fixed_social_icons {
    position: fixed;
    bottom: calc(var(--cwNavbarBottomHeight) + 26px);
    z-index: 99;
    left: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 370px) {
    #rwQuickActionsMenuNew a#btcWithdraw {
        font-size: 18px;
    }

        #rwQuickActionsMenuNew a#btcWithdraw strong {
            font-size: 36px;
        }

    #rwQuickActionsMenuNew a {
        font-size: 12px;
    }

    #rwQuickActionsMenuWrapperNew {
        column-gap: 5px;
        row-gap: 5px;
    }
}
/*end live chat links*/

/*Live Chat button*/
#comm100-container > [id^="comm100-float-button-"] > div {
    position: fixed;
    bottom: calc(var(--cwNavbarBottomHeight) + 5px) !important;
    top: unset !important;
    transform: none !important;
    z-index: 1111111111;
    right: 0;
}

/*Skinner registration hide*/

.D_reg_step {
    display: none;
}

.D_reg_step.showStep{
    display: block;
}

.reg_prof__element_row.form-group.reg__checkboxes{
    display: inline-block;
}