/* Casino Mobile page */
:root {
    --cwBodyBg: #121212;
    --cwBodyBg2: #2b2b2b;
    --cwBodyBg3: #383838;
    --cwBodyBgHover: #1a1a1a;
    --cwBodyBg2Hover: #333333;
    --cwBodyBg3Hover: #404040;
    --cwBodyRGBA: rgba(18, 18, 18, 0.7);
    --cwBodyRGBA2: rgba(18, 18, 18, 0.5);
    --cwBodyRGBA3: rgba(18, 18, 18, 0.3);
    --cwBodyTxt: rgba(255, 255, 255, 0.9);
    --cwBodyTxt2: rgba(255, 255, 255, 0.6);
    --cwBodyTxt3: rgba(255, 255, 255, 0.4);
    --cwBodyAccent: #FFAE2B;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyBorder: #121212;
    --cwBodyRadius: 8px;
    --cwDominantG: #1A1A1A;
    --cwDominantRGBA: rgba(26, 26, 26, 0.7);
    --cwDominantRGBA2: rgba(26, 26, 26, 0.5);
    --cwDominantRGBA3: rgba(26, 26, 26, 0.3);
    --cwDominantBg: #1A1A1A;
    --cwDominantBg2: #333333;
    --cwDominantBg3: #404040;
    --cwDominantBgHover: #222222;
    --cwDominantBg2Hover: #3b3b3b;
    --cwDominantBg3Hover: #484848;
    --cwDominantTxt: rgba(255, 255, 255, 0.9);
    --cwDominantTxt2: rgba(255, 255, 255, 0.6);
    --cwDominantTxt3: rgba(255, 255, 255, 0.4);
    --cwDominantAccent: #FFAE2B;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantTxtInverse: #262626;
    --cwDominantRadius: 0px;
    --cwAccentBg: #FFAE2B;
    --cwAccentBg2: #ffc15e;
    --cwAccentBg3: #ffcb77;
    --cwAccentBgHover: #ffb43a;
    --cwAccentBg2Hover: #ffc76d;
    --cwAccentBg3Hover: #ffd186;
    --cwAccentG: #FFAE2B;
    --cwAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentTxt2: rgba(0, 0, 0, 0.6);
    --cwAccentTxt3: rgba(0, 0, 0, 0.4);
    --cwButtonG: #F9521B;
    --cwButtonBg: #F9521B;
    --cwButtonBg2: #fa784d;
    --cwButtonBg3: #fb8b66;
    --cwButtonBgHover: #f95d2a;
    --cwButtonBg2Hover: #fa835c;
    --cwButtonBg3Hover: #fb9675;
    --cwButtonTxt: rgba(0, 0, 0, 0.9);
    --cwButtonTxt2: rgba(0, 0, 0, 0.6);
    --cwButtonTxt3: rgba(0, 0, 0, 0.4);
    --cwButtonAccent: #FFAE2B;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonBorder: #121212;
    --cwButtonRadius: 8px;
    --cwButtonSecondaryG: #2A2A2A;
    --cwButtonSecondaryBg: #2A2A2A;
    --cwButtonSecondaryBg2: #434343;
    --cwButtonSecondaryBg3: #505050;
    --cwButtonSecondaryBgHover: #323232;
    --cwButtonSecondaryBg2Hover: #4b4b4b;
    --cwButtonSecondaryBg3Hover: #585858;
    --cwButtonSecondaryTxt: rgba(255, 255, 255, 0.9);
    --cwButtonSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --cwButtonSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --cwButtonSecondaryAccent: #FFAE2B;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryBorder: #121212;
    --cwButtonSecondaryRadius: 8px;
    --cwInputG: #2A2A2A;
    --cwInputBg: #2A2A2A;
    --cwInputBg2: #434343;
    --cwInputBg3: #505050;
    --cwInputBgHover: #323232;
    --cwInputBg2Hover: #4b4b4b;
    --cwInputBg3Hover: #585858;
    --cwInputTxt: rgba(255, 255, 255, 0.9);
    --cwInputTxt2: rgba(255, 255, 255, 0.6);
    --cwInputTxt3: rgba(255, 255, 255, 0.4);
    --cwInputAccent: #FFAE2B;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputRadius: 8px;
    --cwInputBorder: #121212;
    --cwInputSecondaryG: #3B3B3B;
    --cwInputSecondaryBg: #3B3B3B;
    --cwInputSecondaryBg2: #545454;
    --cwInputSecondaryBg3: #616161;
    --cwInputSecondaryBgHover: #434343;
    --cwInputSecondaryBg2Hover: #5c5c5c;
    --cwInputSecondaryBg3Hover: #696969;
    --cwInputSecondaryTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --cwInputSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --cwInputSecondaryAccent: #FFAE2B;
    --cwInputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #121212;
    --cwHeaderG: #181818;
    --cwHeaderBg: #181818;
    --cwHeaderBg2: #313131;
    --cwHeaderBg3: #3e3e3e;
    --cwHeaderBgHover: #202020;
    --cwHeaderBg2Hover: #393939;
    --cwHeaderBg3Hover: #464646;
    --cwHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderTxt2: rgba(255, 255, 255, 0.6);
    --cwHeaderTxt3: rgba(255, 255, 255, 0.4);
    --cwHeaderAccent: #EFEFEF;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderBorder: #121212;
    --cwHeaderRadius: 0px;
    --cwSubHeaderG: #1A1A1A;
    --cwSubHeaderBg: #1A1A1A;
    --cwSubHeaderBg2: #333333;
    --cwSubHeaderBg3: #404040;
    --cwSubHeaderBgHover: #222222;
    --cwSubHeaderBg2Hover: #3b3b3b;
    --cwSubHeaderBg3Hover: #484848;
    --cwSubHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderTxt2: rgba(255, 255, 255, 0.6);
    --cwSubHeaderTxt3: rgba(255, 255, 255, 0.4);
    --cwSubHeaderAccent: #FFAE2B;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderBorder: #121212;
    --cwSubHeaderRadius: 0px;
    --cwModalG: #121212;
    --cwModalBg: #121212;
    --cwModalBg2: #2b2b2b;
    --cwModalBg3: #383838;
    --cwModalBgHover: #1a1a1a;
    --cwModalBg2Hover: #333333;
    --cwModalBg3Hover: #404040;
    --cwModalTxt: rgba(255, 255, 255, 0.9);
    --cwModalTxt2: rgba(255, 255, 255, 0.6);
    --cwModalTxt3: rgba(255, 255, 255, 0.4);
    --cwModalAccent: #FFAE2B;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalRadius: 0px;
    --cwModalBorder: #121212;
    --cwTabG: #1A1A1A;
    --cwTabBg: #1A1A1A;
    --cwTabBg2: #333333;
    --cwTabBg3: #404040;
    --cwTabBgHover: #222222;
    --cwTabBg2Hover: #3b3b3b;
    --cwTabBg3Hover: #484848;
    --cwTabTxt: rgba(255, 255, 255, 0.9);
    --cwTabTxt2: rgba(255, 255, 255, 0.6);
    --cwTabTxt3: rgba(255, 255, 255, 0.4);
    --cwTabAccent: #FFAE2B;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabRadius: 0px;
    --cwTabBorder: #121212;
    --cwTabActiveG: #2A2A2A;
    --cwTabActiveBg: #2A2A2A;
    --cwTabActiveBg2: #434343;
    --cwTabActiveBg3: #505050;
    --cwTabActiveBgHover: #323232;
    --cwTabActiveBg2Hover: #4b4b4b;
    --cwTabActiveBg3Hover: #585858;
    --cwTabActiveTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveTxt2: rgba(255, 255, 255, 0.6);
    --cwTabActiveTxt3: rgba(255, 255, 255, 0.4);
    --cwTabActiveAccent: #FFAE2B;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #121212;
    --cwTooltipG: #333333;
    --cwTooltipBg: #333333;
    --cwTooltipBg2: #4d4d4d;
    --cwTooltipBg3: #595959;
    --cwTooltipBgHover: #3b3b3b;
    --cwTooltipBg2Hover: #555555;
    --cwTooltipBg3Hover: #616161;
    --cwTooltipTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipTxt2: rgba(255, 255, 255, 0.6);
    --cwTooltipTxt3: rgba(255, 255, 255, 0.4);
    --cwTooltipAccent: #FFAE2B;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #121212;
}


/*footer*/
.mb-24{
    margin-bottom: 24px;
}

.footer__payments img,
.footer_providers img{
    max-width: 100%;
}

.cw_mob_footer_18_wrapper{
    color: red;
}

.footer_links a:not(.footer_links__title) {
    color: var(--cwHeaderTxt2);
    font-size: 16px;
}

.footer_links__title {
    text-transform: uppercase;
    color: var(--cwHeaderAccent);
}

.footer_copy {
    font-size: 14px;
    color: var(--cwHeaderTxt2);
    margin-bottom: 4px;
    text-align: center;
}

.footer_links a:not(.footer_links__title) {
    font-size: 15px;
}
.footer_social-list {
    margin-top: 22px;
    margin-bottom: 32px
}
.footer_social-item {
    border-radius: 8px;
}
.footer__payments {
    margin-bottom: 46px;
}
.footer__payments-list {
    gap: 10px;
}

.footer__payments-list div[class*="payments-item"] {
    width: 75px;
    height: 46px;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-size: 500px;
}

    .footer__payments-list .payments-item1 {
        background-position: 0 0;
        background-color: #862165;
    }

    .footer__payments-list .payments-item2 {
        background-position: -70px 0;
        background-color: #008ac9;
    }

    .footer__payments-list .payments-item3 {
        background-position: -140px 0;
        background-color: #8dc640;
    }

    .footer__payments-list .payments-item4 {
        background-position: -213px 0;
        background-color: #ff6300;
    }

    .footer__payments-list .payments-item5 {
        background-position: -283px 0;
        background-color: #ec158a;
    }

    .footer__payments-list .payments-item6 {
        background-position: -353px 0;
        background-color: #000066;
    }

    .footer__payments-list .payments-item7 {
        background-position: -425px 0;
        background-color: #8cc23c;
    }

    
.footer_text{
    color: var(--cwHeaderTxt2);
    font-size: 15px;
}

.powered-by {
    padding: 0 22px;
    color: var(--cwHeaderTxt3);
    font-size: 10px;
    line-height: 16px;
    border-radius: 8px;
    width: 140px;
    margin: 10px auto;
}

.fic-digitain {
    display: block;
    width: 84px;
    height: 15px;
    background-size: 84px auto;
    background-position: center;
}

/*profile*/
.rm__my_profile__icon {
    width: 50px;
    height: 50px;
    background-color: var(--icon-level-low);
    border-radius: 50%;
    color: var(--icon-level-medium);
    margin-bottom: 10px;
}
.my_profile__copyID {
    font-family: "iconsDinamicMenu";
    font-size: 25px;
    margin-inline-start: 5px;
}
.prof__checkboxes_row {
    margin-bottom: 15px;

}

.account_content .activated_icon {
    position: absolute;
    right: 5%;
    top: 50%;
}

.account_content .activated_icon:after {
    content: "";
    font-family: iconsDinamicMenu;
    line-height: 20px;
    text-align: center;
    color: #17a210;
    cursor: help;
    font-size: 44px;
}

.reg_prof__email_mob .activated_icon {
    top: 22%;
}

.verification_done__icon {
    background-color: #197B30;
    border-radius: 50%;
    width: 16px !important;
    height: 16px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px;
    flex-shrink: 0;
}

.verification_done__icon:after {
    font-family: "iconsDinamicMenu";
    content: "\e091";
    color: #fff;
    font-size: 16px;
}

/* Registration */

.register_date_select,
.phone_number_inp_reg {
    width: 100%;
}
.checkbox_info {
    font-size: 12px;
    color: var(--cwInputTxt3);
}

.checkbox_info a {
    color: var(--cwInputTxt);
    font-weight: 400;
}

.reg_err_mess {
    background: #fff;
}

.reg_err_mess span:before {
    border-bottom-color: #fff;
}

.input_validation_fail .reg_err_mess {
    color: #f00;
}
.register_steps_info {
    margin-bottom: 36px;
    color: var(--cwModalTxt2);
}
.reg_prof__element_row {
    margin-bottom: 16px;
}
.reg__row_title label {
    margin-bottom: 6px;
    color: var(--cwModalTxt2);
    display: inline-block;
}
.reg__gender_row .col3 {
    width: 50%;
}
.phone_number_reg select {
    min-width: 95px;
}

.input_validation_fail .tl_sel_popup_reg:not(.input-validation-error) + .reg_err_mess{
    display: none;
}
.tl_input_popup_reg {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loginFromReg {
    color: var(--cwModalTxt2);
    font-size: 14px;
    line-height: 20px;
}
.login_from_reg {
    color: var(--cwButtonSecondaryTxt);
    font-weight: 600;
    text-decoration-line: underline;
}
/*login*/
#loginButton {
    margin-top: 10px;
}
.platformRightLoginPanel .platformLoginButton {
    margin: 0;
}

@media screen and (max-width: 390px) {
    hrml[lang="ro"] .header_button {
        font-size: 12px;
    }
}

.r_login__row {
    flex-direction: column;
}

#staticLoginForm .D_logo {
    margin: 40px auto;
}

.regHeading .reg_close {
    position: relative;
    top: 0px;
    right: 0px;
    width: 36px;
    text-align: center;
}

.regHeading > div {
    padding: 0 5px;
}

.forgot_smth_buttons {
    margin: 30px 0;
}

/*chat*/
.multi-view_content.full-screen.one-grid .multi-view_content-inner {
    width: 30%;
}

@media only screen and (min-width: 1500px) {
    .multi-view_content.full-screen.one-grid .multi-view_content-inner {
        width: calc(100vw - 350px);
    }
}

.platformLoginButton, .platformForgPass {
    text-align: initial;
    display: block;
}

/*Dynamic header Logo*/
.LogoMobilePlatform {
    width: 49px;
    height: 16px;
}

@media screen and (min-width: 520px) {
    .LogoMobilePlatform {
        width: 156px;
        height: 19px;
    }
}

/*Header deposit button changes/06.12.23*/
.topheader_user_deposit,
.card__button-wrapper .card__button:not(.card__button--transparent) {
    background-color: #17A210;
}

/*Right Menu Color changes*/
.right-menu .card__button.card__button--transparent {
    border-color: #979797;
    color: #979797;
}

/*Changing arrow color*/

.card__info-wrapper .card__balance__more {
    color: var(--text-level-high);
}

/*login,forgotpass, forgotusername optimization*/

.D_logo {
    width: 100%;
    height: 62px;
    background-size: auto 34px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto 15px;
}

.regHeading, .regHeading.bg-secondary, .change_pass_heading {
    justify-content: space-between;
    display: flex;
    padding: 8px 15px;
    height: auto;
    box-shadow: 0px 3px 6px #00000033;
    position: relative;
    text-align: initial;
}

.change_pass_heading .reg_close {
    position: relative;
    top: 3px;
    right: 15px;
    padding: 0 5px;
}

.reg_close {
    cursor: pointer;
    flex-shrink: 0;
}

.errSucCont .reg_close:after, .regHeading .reg_close:after, .change_pass_heading .reg_close:after {
    font-family: 'iconsDinamicMenu';
    content: "\E368";
    font-size: 30px;
    display: inline-block;
    line-height: 1;
}

.forgot_pass__row button{
    margin-top: 0;
}

.top_winners__text .top_winners__value {
    color: var(--text-level-high);
}

.lb_card_preview_footer .lb_card_button.play_btn i, .lb_card_preview_footer .lb_card_button.play_btn, .lobbyFilter_popup_footer .lobbyFilter_popup_result_btn {
    color: var(--cwButtonTxt);
}

.lobbyFilter_clear_main_btn .dynamic_icon {
    color: var(--cwBodyTxt);
}

.license_text a {
    text-decoration: underline;
}

/*Start Top Jackpots Value space updates*/
.component_jackpot_slider > .comp_jack_padding {
    padding-left: 5.4px;
}

@media only screen and (max-width: 375px) {
    .component_jackpot_slider > .comp_jack_padding {
        padding-left: 4.8px;
    }
}

@media only screen and (max-width: 360px) {
    .component_jackpot_slider > .comp_jack_padding {
        padding-left: 4.2px;
    }
}
/*End Top Jackpots Value space updates*/

/*Start profile bonus color change*/
.event-list--all .see-all a {
    background-color: #F9521B;
    color: #1A1A1A;
}
/*End profile bonus color change*/