/* Casino Mobile page */


:root {
    --cwBodyG: #1B2C3D;
    --cwBodyBg: #1B2C3D;
    --cwBodyBg2: #2c4864;
    --cwBodyBg3: #395c80;
    --cwBodyBgHover: #23394f;
    --cwBodyBg2Hover: #345576;
    --cwBodyBg3Hover: #416992;
    --cwBodyTxt: rgba(255, 255, 255, 0.9);
    --cwBodyTxt2: #bbc0c5;
    --cwBodyTxt3: #8d969e;
    --cwBodyAccent: #C3AD4F;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyRGBA: rgba(27, 44, 61, 0.7);
    --cwBodyRGBA2: rgba(27, 44, 61, 0.5);
    --cwBodyRGBA3: rgba(27, 44, 61, 0.3);
    --cwBodyShadow: rgba(16, 26, 37, 0.7);
    --cwBodyShadowFade: rgba(16, 26, 37, 0);
    --cwBodyRadius: 0px;
    --cwBodyBorder: #162433;
    --cwAccentG: #C3AD4F;
    --cwAccentBg: #C3AD4F;
    --cwAccentBg2: #d1c079;
    --cwAccentBg3: #dccf97;
    --cwAccentBgHover: #c9b662;
    --cwAccentBg2Hover: #d8c98c;
    --cwAccentBg3Hover: #e2d8aa;
    --cwAccentTxt: #1A1400;
    --cwAccentTxt2: #4d4218;
    --cwAccentTxt3: #6f6128;
    --cwAccentAccent: #C3AD4F;
    --cwAccentAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentRGBA: rgba(195, 173, 79, 0.7);
    --cwAccentRGBA2: rgba(195, 173, 79, 0.5);
    --cwAccentRGBA3: rgba(195, 173, 79, 0.3);
    --cwAccentShadow: rgba(117, 104, 47, 0.7);
    --cwAccentShadowFade: rgba(117, 104, 47, 0);
    --cwAccentRadius: 0px;
    --cwAccentBorder: #c9b662;
    --cwDominantG: #223447;
    --cwDominantBg: #223447;
    --cwDominantBg2: #34506d;
    --cwDominantBg3: #416488;
    --cwDominantBgHover: #2a4158;
    --cwDominantBg2Hover: #3c5d7e;
    --cwDominantBg3Hover: #497199;
    --cwDominantTxt: rgba(255, 255, 255, 0.9);
    --cwDominantTxt2: #bdc2c8;
    --cwDominantTxt3: #919aa3;
    --cwDominantAccent: #C3AD4F;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantRGBA: rgba(34, 52, 71, 0.7);
    --cwDominantRGBA2: rgba(34, 52, 71, 0.5);
    --cwDominantRGBA3: rgba(34, 52, 71, 0.3);
    --cwDominantShadow: rgba(20, 31, 43, 0.7);
    --cwDominantShadowFade: rgba(20, 31, 43, 0);
    --cwDominantRadius: 0px;
    --cwDominantBorder: #2a4158;
    --cwCardG: #102031;
    --cwCardBg: #102031;
    --cwCardBg2: #1e3c5b;
    --cwCardBg3: #28507a;
    --cwCardBgHover: #162d44;
    --cwCardBg2Hover: #24496e;
    --cwCardBg3Hover: #2e5d8d;
    --cwCardTxt: rgba(255, 255, 255, 0.9);
    --cwCardTxt2: #b7bcc1;
    --cwCardTxt3: #889098;
    --cwCardAccent: #C3AD4F;
    --cwCardAccentTxt: rgba(0, 0, 0, 0.9);
    --cwCardRGBA: rgba(16, 32, 49, 0.7);
    --cwCardRGBA2: rgba(16, 32, 49, 0.5);
    --cwCardRGBA3: rgba(16, 32, 49, 0.3);
    --cwCardShadow: rgba(10, 19, 29, 0.7);
    --cwCardShadowFade: rgba(10, 19, 29, 0);
    --cwCardRadius: 16px;
    --cwCardBorder: #102031;
    --cwGameG: #23394f;
    --cwGameBg: #23394f;
    --cwGameBg2: #345576;
    --cwGameBg3: #416992;
    --cwGameBgHover: #2b4661;
    --cwGameBg2Hover: #3c6288;
    --cwGameBg3Hover: #4976a4;
    --cwGameTxt: rgba(255, 255, 255, 0.9);
    --cwGameTxt2: #bdc4ca;
    --cwGameTxt3: #919ca7;
    --cwGameAccent: #C3AD4F;
    --cwGameAccentTxt: rgba(0, 0, 0, 0.9);
    --cwGameRGBA: rgba(35, 57, 79, 0.7);
    --cwGameRGBA2: rgba(35, 57, 79, 0.5);
    --cwGameRGBA3: rgba(35, 57, 79, 0.3);
    --cwGameShadow: rgba(21, 34, 47, 0.7);
    --cwGameShadowFade: rgba(21, 34, 47, 0);
    --cwGameRadius: 0px;
    --cwGameBorder: #162433;
    --cwJackpotG: #23394f;
    --cwJackpotBg: #23394f;
    --cwJackpotBg2: #345576;
    --cwJackpotBg3: #416992;
    --cwJackpotBgHover: #2b4661;
    --cwJackpotBg2Hover: #3c6288;
    --cwJackpotBg3Hover: #4976a4;
    --cwJackpotTxt: rgba(255, 255, 255, 0.9);
    --cwJackpotTxt2: #bdc4ca;
    --cwJackpotTxt3: #919ca7;
    --cwJackpotAccent: #C3AD4F;
    --cwJackpotAccentTxt: rgba(0, 0, 0, 0.9);
    --cwJackpotRGBA: rgba(35, 57, 79, 0.7);
    --cwJackpotRGBA2: rgba(35, 57, 79, 0.5);
    --cwJackpotRGBA3: rgba(35, 57, 79, 0.3);
    --cwJackpotShadow: rgba(21, 34, 47, 0.7);
    --cwJackpotShadowFade: rgba(21, 34, 47, 0);
    --cwJackpotRadius: 0px;
    --cwJackpotBorder: #162433;
    --cwButtonG: #FFE69C;
    --cwButtonBg: #FFE69C;
    --cwButtonBg2: #fff4d4;
    --cwButtonBg3: #fffefd;
    --cwButtonBgHover: #ffecb5;
    --cwButtonBg2Hover: #fffbed;
    --cwButtonBg3Hover: #ffffff;
    --cwButtonTxt: #19140B;
    --cwButtonTxt2: #5e5337;
    --cwButtonTxt3: #8c7d54;
    --cwButtonAccent: #C3AD4F;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonRGBA: rgba(255, 230, 156, 0.7);
    --cwButtonRGBA2: rgba(255, 230, 156, 0.5);
    --cwButtonRGBA3: rgba(255, 230, 156, 0.3);
    --cwButtonShadow: rgba(153, 138, 94, 0.7);
    --cwButtonShadowFade: rgba(153, 138, 94, 0);
    --cwButtonRadius: 8px;
    --cwButtonBorder: #162433;
    --cwButtonSecondaryG: #253D57;
    --cwButtonSecondaryBg: #253D57;
    --cwButtonSecondaryBg2: #36597e;
    --cwButtonSecondaryBg3: #426d9b;
    --cwButtonSecondaryBgHover: #2d4a69;
    --cwButtonSecondaryBg2Hover: #3e6690;
    --cwButtonSecondaryBg3Hover: #4a7aad;
    --cwButtonSecondaryTxt: rgba(255, 255, 255, 0.9);
    --cwButtonSecondaryTxt2: #bec5cd;
    --cwButtonSecondaryTxt3: #929eab;
    --cwButtonSecondaryAccent: #C3AD4F;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryRGBA: rgba(37, 61, 87, 0.7);
    --cwButtonSecondaryRGBA2: rgba(37, 61, 87, 0.5);
    --cwButtonSecondaryRGBA3: rgba(37, 61, 87, 0.3);
    --cwButtonSecondaryShadow: rgba(22, 37, 52, 0.7);
    --cwButtonSecondaryShadowFade: rgba(22, 37, 52, 0);
    --cwButtonSecondaryRadius: 8px;
    --cwButtonSecondaryBorder: #162433;
    --cwNavbarG: #34506d;
    --cwNavbarBg: #34506d;
    --cwNavbarBg2: #466c93;
    --cwNavbarBg3: #5480ae;
    --cwNavbarBgHover: #3c5d7e;
    --cwNavbarBg2Hover: #4e79a4;
    --cwNavbarBg3Hover: #658db6;
    --cwNavbarTxt: rgba(255, 255, 255, 0.9);
    --cwNavbarTxt2: #c2cbd3;
    --cwNavbarTxt3: #9aa8b6;
    --cwNavbarAccent: #C3AD4F;
    --cwNavbarAccentTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarRGBA: rgba(52, 80, 109, 0.7);
    --cwNavbarRGBA2: rgba(52, 80, 109, 0.5);
    --cwNavbarRGBA3: rgba(52, 80, 109, 0.3);
    --cwNavbarShadow: rgba(31, 48, 65, 0.7);
    --cwNavbarShadowFade: rgba(31, 48, 65, 0);
    --cwNavbarRadius: 0px;
    --cwNavbarBorder: #3c5d7e;
    --cwSliderG: #23394f;
    --cwSliderBg: #23394f;
    --cwSliderBg2: #345576;
    --cwSliderBg3: #416992;
    --cwSliderBgHover: #2b4661;
    --cwSliderBg2Hover: #3c6288;
    --cwSliderBg3Hover: #4976a4;
    --cwSliderTxt: rgba(255, 255, 255, 0.9);
    --cwSliderTxt2: #bdc4ca;
    --cwSliderTxt3: #919ca7;
    --cwSliderAccent: #C3AD4F;
    --cwSliderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSliderRGBA: rgba(35, 57, 79, 0.7);
    --cwSliderRGBA2: rgba(35, 57, 79, 0.5);
    --cwSliderRGBA3: rgba(35, 57, 79, 0.3);
    --cwSliderShadow: rgba(21, 34, 47, 0.7);
    --cwSliderShadowFade: rgba(21, 34, 47, 0);
    --cwSliderRadius: 0px;
    --cwSliderBorder: #162433;
    --cwHeaderG: #101A26;
    --cwHeaderBg: #101A26;
    --cwHeaderBg2: #21354d;
    --cwHeaderBg3: #2d496a;
    --cwHeaderBgHover: #182638;
    --cwHeaderBg2Hover: #29415f;
    --cwHeaderBg3Hover: #35557c;
    --cwHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderTxt2: #b7babe;
    --cwHeaderTxt3: #888d93;
    --cwHeaderAccent: #C3AD4F;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderRGBA: rgba(16, 26, 38, 0.7);
    --cwHeaderRGBA2: rgba(16, 26, 38, 0.5);
    --cwHeaderRGBA3: rgba(16, 26, 38, 0.3);
    --cwHeaderShadow: rgba(10, 16, 23, 0.7);
    --cwHeaderShadowFade: rgba(10, 16, 23, 0);
    --cwHeaderRadius: 0px;
    --cwHeaderBorder: #162433;
    --cwHeaderSecondaryG: #253D57;
    --cwHeaderSecondaryBg: #253D57;
    --cwHeaderSecondaryBg2: #36597e;
    --cwHeaderSecondaryBg3: #426d9b;
    --cwHeaderSecondaryBgHover: #2d4a69;
    --cwHeaderSecondaryBg2Hover: #3e6690;
    --cwHeaderSecondaryBg3Hover: #4a7aad;
    --cwHeaderSecondaryTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderSecondaryTxt2: #bec5cd;
    --cwHeaderSecondaryTxt3: #929eab;
    --cwHeaderSecondaryAccent: #C3AD4F;
    --cwHeaderSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderSecondaryRGBA: rgba(37, 61, 87, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(37, 61, 87, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(37, 61, 87, 0.3);
    --cwHeaderSecondaryShadow: rgba(22, 37, 52, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(22, 37, 52, 0);
    --cwHeaderSecondaryRadius: 0px;
    --cwHeaderSecondaryBorder: #2d4a69;
    --cwFooterG: #121C2A;
    --cwFooterBg: #121C2A;
    --cwFooterBg2: #233651;
    --cwFooterBg3: #2f496e;
    --cwFooterBgHover: #1a283c;
    --cwFooterBg2Hover: #2b4263;
    --cwFooterBg3Hover: #375580;
    --cwFooterTxt: rgba(255, 255, 255, 0.9);
    --cwFooterTxt2: #b8bbbf;
    --cwFooterTxt3: #898e95;
    --cwFooterAccent: #C3AD4F;
    --cwFooterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFooterRGBA: rgba(18, 28, 42, 0.7);
    --cwFooterRGBA2: rgba(18, 28, 42, 0.5);
    --cwFooterRGBA3: rgba(18, 28, 42, 0.3);
    --cwFooterShadow: rgba(11, 17, 25, 0.7);
    --cwFooterShadowFade: rgba(11, 17, 25, 0);
    --cwFooterRadius: 0px;
    --cwFooterBorder: #1a283c;
    --cwSubHeaderG: #15212E;
    --cwSubHeaderBg: #15212E;
    --cwSubHeaderBg2: #273d54;
    --cwSubHeaderBg3: #335171;
    --cwSubHeaderBgHover: #1d2e3f;
    --cwSubHeaderBg2Hover: #2f4a65;
    --cwSubHeaderBg3Hover: #3b5e83;
    --cwSubHeaderTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderTxt2: #b9bcc0;
    --cwSubHeaderTxt3: #8a9097;
    --cwSubHeaderAccent: #C3AD4F;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderRGBA: rgba(21, 33, 46, 0.7);
    --cwSubHeaderRGBA2: rgba(21, 33, 46, 0.5);
    --cwSubHeaderRGBA3: rgba(21, 33, 46, 0.3);
    --cwSubHeaderShadow: rgba(13, 20, 28, 0.7);
    --cwSubHeaderShadowFade: rgba(13, 20, 28, 0);
    --cwSubHeaderRadius: 0px;
    --cwSubHeaderBorder: #162433;
    --cwTabG: #223447;
    --cwTabBg: #223447;
    --cwTabBg2: #34506d;
    --cwTabBg3: #416488;
    --cwTabBgHover: #2a4158;
    --cwTabBg2Hover: #3c5d7e;
    --cwTabBg3Hover: #497199;
    --cwTabTxt: rgba(255, 255, 255, 0.9);
    --cwTabTxt2: #bdc2c8;
    --cwTabTxt3: #919aa3;
    --cwTabAccent: #C3AD4F;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabRGBA: rgba(34, 52, 71, 0.7);
    --cwTabRGBA2: rgba(34, 52, 71, 0.5);
    --cwTabRGBA3: rgba(34, 52, 71, 0.3);
    --cwTabShadow: rgba(20, 31, 43, 0.7);
    --cwTabShadowFade: rgba(20, 31, 43, 0);
    --cwTabRadius: 0px;
    --cwTabBorder: #162433;
    --cwTabActiveG: #101A26;
    --cwTabActiveBg: #101A26;
    --cwTabActiveBg2: #21354d;
    --cwTabActiveBg3: #2d496a;
    --cwTabActiveBgHover: #182638;
    --cwTabActiveBg2Hover: #29415f;
    --cwTabActiveBg3Hover: #35557c;
    --cwTabActiveTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveTxt2: #b7babe;
    --cwTabActiveTxt3: #888d93;
    --cwTabActiveAccent: #C3AD4F;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveRGBA: rgba(16, 26, 38, 0.7);
    --cwTabActiveRGBA2: rgba(16, 26, 38, 0.5);
    --cwTabActiveRGBA3: rgba(16, 26, 38, 0.3);
    --cwTabActiveShadow: rgba(10, 16, 23, 0.7);
    --cwTabActiveShadowFade: rgba(10, 16, 23, 0);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #162433;
    --cwInputG: #334d69;
    --cwInputBg: #334d69;
    --cwInputBg2: #45698f;
    --cwInputBg3: #537daa;
    --cwInputBgHover: #3b5a7a;
    --cwInputBg2Hover: #4d76a0;
    --cwInputBg3Hover: #638ab3;
    --cwInputTxt: rgba(255, 255, 255, 0.9);
    --cwInputTxt2: #c2cad2;
    --cwInputTxt3: #99a6b4;
    --cwInputAccent: #C3AD4F;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputRGBA: rgba(51, 77, 105, 0.7);
    --cwInputRGBA2: rgba(51, 77, 105, 0.5);
    --cwInputRGBA3: rgba(51, 77, 105, 0.3);
    --cwInputShadow: rgba(31, 46, 63, 0.7);
    --cwInputShadowFade: rgba(31, 46, 63, 0);
    --cwInputRadius: 0px;
    --cwInputBorder: #162433;
    --cwInputSecondaryG: #344D69;
    --cwInputSecondaryBg: #344D69;
    --cwInputSecondaryBg2: #47698e;
    --cwInputSecondaryBg3: #547daa;
    --cwInputSecondaryBgHover: #3c597a;
    --cwInputSecondaryBg2Hover: #4f769f;
    --cwInputSecondaryBg3Hover: #658ab3;
    --cwInputSecondaryTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryTxt2: #c2cad2;
    --cwInputSecondaryTxt3: #9aa6b4;
    --cwInputSecondaryAccent: #C3AD4F;
    --cwInputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryRGBA: rgba(52, 77, 105, 0.7);
    --cwInputSecondaryRGBA2: rgba(52, 77, 105, 0.5);
    --cwInputSecondaryRGBA3: rgba(52, 77, 105, 0.3);
    --cwInputSecondaryShadow: rgba(31, 46, 63, 0.7);
    --cwInputSecondaryShadowFade: rgba(31, 46, 63, 0);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #162433;
    --cwFilterG: #223547;
    --cwFilterBg: #223547;
    --cwFilterBg2: #34516d;
    --cwFilterBg3: #416688;
    --cwFilterBgHover: #2a4258;
    --cwFilterBg2Hover: #3c5e7e;
    --cwFilterBg3Hover: #497399;
    --cwFilterTxt: rgba(255, 255, 255, 0.9);
    --cwFilterTxt2: #bdc2c8;
    --cwFilterTxt3: #919aa3;
    --cwFilterAccent: #C3AD4F;
    --cwFilterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFilterRGBA: rgba(34, 53, 71, 0.7);
    --cwFilterRGBA2: rgba(34, 53, 71, 0.5);
    --cwFilterRGBA3: rgba(34, 53, 71, 0.3);
    --cwFilterShadow: rgba(20, 32, 43, 0.7);
    --cwFilterShadowFade: rgba(20, 32, 43, 0);
    --cwFilterRadius: 0px;
    --cwFilterBorder: #2a4258;
    --cwTooltipG: #334d69;
    --cwTooltipBg: #334d69;
    --cwTooltipBg2: #45698f;
    --cwTooltipBg3: #537daa;
    --cwTooltipBgHover: #3b5a7a;
    --cwTooltipBg2Hover: #4d76a0;
    --cwTooltipBg3Hover: #638ab3;
    --cwTooltipTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipTxt2: #c2cad2;
    --cwTooltipTxt3: #99a6b4;
    --cwTooltipAccent: #C3AD4F;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipRGBA: rgba(51, 77, 105, 0.7);
    --cwTooltipRGBA2: rgba(51, 77, 105, 0.5);
    --cwTooltipRGBA3: rgba(51, 77, 105, 0.3);
    --cwTooltipShadow: rgba(31, 46, 63, 0.7);
    --cwTooltipShadowFade: rgba(31, 46, 63, 0);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #162433;
    --cwModalG: #344D69;
    --cwModalBg: #344D69;
    --cwModalBg2: #47698e;
    --cwModalBg3: #547daa;
    --cwModalBgHover: #3c597a;
    --cwModalBg2Hover: #4f769f;
    --cwModalBg3Hover: #658ab3;
    --cwModalTxt: rgba(255, 255, 255, 0.9);
    --cwModalTxt2: #c2cad2;
    --cwModalTxt3: #9aa6b4;
    --cwModalAccent: #C3AD4F;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalRGBA: rgba(52, 77, 105, 0.7);
    --cwModalRGBA2: rgba(52, 77, 105, 0.5);
    --cwModalRGBA3: rgba(52, 77, 105, 0.3);
    --cwModalShadow: rgba(31, 46, 63, 0.7);
    --cwModalShadowFade: rgba(31, 46, 63, 0);
    --cwModalRadius: 0px;
    --cwModalBorder: #162433;
    --cwLoginG: #223547;
    --cwLoginBg: #223547;
    --cwLoginBg2: #34516d;
    --cwLoginBg3: #416688;
    --cwLoginBgHover: #2a4258;
    --cwLoginBg2Hover: #3c5e7e;
    --cwLoginBg3Hover: #497399;
    --cwLoginTxt: rgba(255, 255, 255, 0.9);
    --cwLoginTxt2: #bdc2c8;
    --cwLoginTxt3: #919aa3;
    --cwLoginAccent: #C3AD4F;
    --cwLoginAccentTxt: rgba(0, 0, 0, 0.9);
    --cwLoginRGBA: rgba(34, 53, 71, 0.7);
    --cwLoginRGBA2: rgba(34, 53, 71, 0.5);
    --cwLoginRGBA3: rgba(34, 53, 71, 0.3);
    --cwLoginShadow: rgba(20, 32, 43, 0.7);
    --cwLoginShadowFade: rgba(20, 32, 43, 0);
    --cwLoginRadius: 0px;
    --cwLoginBorder: #162433;
    --cwRegisterG: #162433;
    --cwRegisterBg: #162433;
    --cwRegisterBg2: #27405a;
    --cwRegisterBg3: #335477;
    --cwRegisterBgHover: #1e3145;
    --cwRegisterBg2Hover: #2f4d6c;
    --cwRegisterBg3Hover: #3b6189;
    --cwRegisterTxt: rgba(255, 255, 255, 0.9);
    --cwRegisterTxt2: #b9bdc2;
    --cwRegisterTxt3: #8b9299;
    --cwRegisterAccent: #C3AD4F;
    --cwRegisterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwRegisterRGBA: rgba(22, 36, 51, 0.7);
    --cwRegisterRGBA2: rgba(22, 36, 51, 0.5);
    --cwRegisterRGBA3: rgba(22, 36, 51, 0.3);
    --cwRegisterShadow: rgba(13, 22, 31, 0.7);
    --cwRegisterShadowFade: rgba(13, 22, 31, 0);
    --cwRegisterRadius: 0px;
    --cwRegisterBorder: #162433;
}
/*Header updates*/

.bonus_talep img {
    width: 40px;
}

.bonus_talep a,
.whell_t a {
    line-height: 0;
}

.whell_t {
    margin-inline-start: auto;
    margin-right: 6px;
}

/*------*/

/*Start Login section mobile*/
.login_sidebar .login__banner-img{
    height: 450px;
}
/*End Login section mobile*/