/* Casino Mobile page */

        :root{
            --cwBodyG: #141E3C;
    --cwBodyBg: #141E3C;
    --cwBodyBg2: #223366;
    --cwBodyBg3: #2c4285;
    --cwBodyBgHover: #1a284f;
    --cwBodyBg2Hover: #283d79;
    --cwBodyBg3Hover: #324b98;
    --cwBodyTxt: #E8E9EC;
    --cwBodyTxt2: #a8acb7;
    --cwBodyTxt3: #7e8494;
    --cwBodyAccent: #FF6D75;
    --cwBodyAccentTxt: rgba(255, 255, 255, 0.9);
    --cwBodyRGBA: rgba(20, 30, 60, 0.7);
    --cwBodyRGBA2: rgba(20, 30, 60, 0.5);
    --cwBodyRGBA3: rgba(20, 30, 60, 0.3);
    --cwBodyShadow: rgba(12, 18, 36, 0.7);
    --cwBodyShadowFade: rgba(12, 18, 36, 0);
    --cwBodyRadius: 0px;
    --cwBodyBorder: #1a284f;

    --cwAccentG: #FF6D75;
    --cwAccentBg: #FF6D75;
    --cwAccentBg2: #ffa5aa;
    --cwAccentBg3: #ffced1;
    --cwAccentBgHover: #ff868d;
    --cwAccentBg2Hover: #ffbec2;
    --cwAccentBg3Hover: #ffe7e9;
    --cwAccentTxt: #FFF0F1;
    --cwAccentTxt2: #ffc9cc;
    --cwAccentTxt3: #ffafb3;
    --cwAccentAccent: #FF6D75;
    --cwAccentAccentTxt: rgba(255, 255, 255, 0.9);
    --cwAccentRGBA: rgba(255, 109, 117, 0.7);
    --cwAccentRGBA2: rgba(255, 109, 117, 0.5);
    --cwAccentRGBA3: rgba(255, 109, 117, 0.3);
    --cwAccentShadow: rgba(153, 65, 70, 0.7);
    --cwAccentShadowFade: rgba(153, 65, 70, 0);
    --cwAccentRadius: 0px;
    --cwAccentBorder: #ff868d;

    --cwDominantG: #182447;
    --cwDominantBg: #182447;
    --cwDominantBg2: #263971;
    --cwDominantBg3: #30498f;
    --cwDominantBgHover: #1e2e5a;
    --cwDominantBg2Hover: #2c4384;
    --cwDominantBg3Hover: #3653a2;
    --cwDominantTxt: #E8E9ED;
    --cwDominantTxt2: #aaaebb;
    --cwDominantTxt3: #80879a;
    --cwDominantAccent: #FF6D75;
    --cwDominantAccentTxt: rgba(255, 255, 255, 0.9);
    --cwDominantRGBA: rgba(24, 36, 71, 0.7);
    --cwDominantRGBA2: rgba(24, 36, 71, 0.5);
    --cwDominantRGBA3: rgba(24, 36, 71, 0.3);
    --cwDominantShadow: rgba(14, 22, 43, 0.7);
    --cwDominantShadowFade: rgba(14, 22, 43, 0);
    --cwDominantRadius: 0px;
    --cwDominantBorder: #1a284f;

    --cwCardG: #1a284f;
    --cwCardBg: #1a284f;
    --cwCardBg2: #283d79;
    --cwCardBg3: #324d98;
    --cwCardBgHover: #203262;
    --cwCardBg2Hover: #2e478c;
    --cwCardBg3Hover: #3857ab;
    --cwCardTxt: #E8E9EC;
    --cwCardTxt2: #aaafbd;
    --cwCardTxt3: #81899e;
    --cwCardAccent: #FF6D75;
    --cwCardAccentTxt: rgba(255, 255, 255, 0.9);
    --cwCardRGBA: rgba(26, 40, 79, 0.7);
    --cwCardRGBA2: rgba(26, 40, 79, 0.5);
    --cwCardRGBA3: rgba(26, 40, 79, 0.3);
    --cwCardShadow: rgba(16, 24, 47, 0.7);
    --cwCardShadowFade: rgba(16, 24, 47, 0);
    --cwCardRadius: 0px;
    --cwCardBorder: #1a284f;

    --cwGameG: #1a284f;
    --cwGameBg: #1a284f;
    --cwGameBg2: #283d79;
    --cwGameBg3: #324d98;
    --cwGameBgHover: #203262;
    --cwGameBg2Hover: #2e478c;
    --cwGameBg3Hover: #3857ab;
    --cwGameTxt: #E8E9EC;
    --cwGameTxt2: #aaafbd;
    --cwGameTxt3: #81899e;
    --cwGameAccent: #FF6D75;
    --cwGameAccentTxt: rgba(255, 255, 255, 0.9);
    --cwGameRGBA: rgba(26, 40, 79, 0.7);
    --cwGameRGBA2: rgba(26, 40, 79, 0.5);
    --cwGameRGBA3: rgba(26, 40, 79, 0.3);
    --cwGameShadow: rgba(16, 24, 47, 0.7);
    --cwGameShadowFade: rgba(16, 24, 47, 0);
    --cwGameRadius: 0px;
    --cwGameBorder: #1a284f;

    --cwJackpotG: #1a284f;
    --cwJackpotBg: #1a284f;
    --cwJackpotBg2: #283d79;
    --cwJackpotBg3: #324d98;
    --cwJackpotBgHover: #203262;
    --cwJackpotBg2Hover: #2e478c;
    --cwJackpotBg3Hover: #3857ab;
    --cwJackpotTxt: #E8E9EC;
    --cwJackpotTxt2: #aaafbd;
    --cwJackpotTxt3: #81899e;
    --cwJackpotAccent: #FF6D75;
    --cwJackpotAccentTxt: rgba(255, 255, 255, 0.9);
    --cwJackpotRGBA: rgba(26, 40, 79, 0.7);
    --cwJackpotRGBA2: rgba(26, 40, 79, 0.5);
    --cwJackpotRGBA3: rgba(26, 40, 79, 0.3);
    --cwJackpotShadow: rgba(16, 24, 47, 0.7);
    --cwJackpotShadowFade: rgba(16, 24, 47, 0);
    --cwJackpotRadius: 0px;
    --cwJackpotBorder: #1a284f;

    --cwButtonG: #FF6D75;
    --cwButtonBg: #FF6D75;
    --cwButtonBg2: #ffa5aa;
    --cwButtonBg3: #ffced1;
    --cwButtonBgHover: #ff868d;
    --cwButtonBg2Hover: #ffbec2;
    --cwButtonBg3Hover: #ffe7e9;
    --cwButtonTxt: #FFF0F1;
    --cwButtonTxt2: #ffc9cc;
    --cwButtonTxt3: #ffafb3;
    --cwButtonAccent: #FF6D75;
    --cwButtonAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonRGBA: rgba(255, 109, 117, 0.7);
    --cwButtonRGBA2: rgba(255, 109, 117, 0.5);
    --cwButtonRGBA3: rgba(255, 109, 117, 0.3);
    --cwButtonShadow: rgba(153, 65, 70, 0.7);
    --cwButtonShadowFade: rgba(153, 65, 70, 0);
    --cwButtonRadius: 6px;
    --cwButtonBorder: #FF6D75;

    --cwButtonSecondaryG: #33A8FF;
    --cwButtonSecondaryBg: #33A8FF;
    --cwButtonSecondaryBg2: #6bc0ff;
    --cwButtonSecondaryBg3: #94d1ff;
    --cwButtonSecondaryBgHover: #4db3ff;
    --cwButtonSecondaryBg2Hover: #84cbff;
    --cwButtonSecondaryBg3Hover: #addcff;
    --cwButtonSecondaryTxt: #EBF6FF;
    --cwButtonSecondaryTxt2: #b4dfff;
    --cwButtonSecondaryTxt3: #8fcfff;
    --cwButtonSecondaryAccent: #FF6D75;
    --cwButtonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonSecondaryRGBA: rgba(51, 168, 255, 0.7);
    --cwButtonSecondaryRGBA2: rgba(51, 168, 255, 0.5);
    --cwButtonSecondaryRGBA3: rgba(51, 168, 255, 0.3);
    --cwButtonSecondaryShadow: rgba(31, 101, 153, 0.7);
    --cwButtonSecondaryShadowFade: rgba(31, 101, 153, 0);
    --cwButtonSecondaryRadius: 6px;
    --cwButtonSecondaryBorder: #5793FE;

    --cwNavbarG: #263971;
    --cwNavbarBg: #263971;
    --cwNavbarBg2: #344e9b;
    --cwNavbarBg3: #3e5eb9;
    --cwNavbarBgHover: #2c4384;
    --cwNavbarBg2Hover: #3a58ae;
    --cwNavbarBg3Hover: #4d6cc3;
    --cwNavbarTxt: #E8E9ED;
    --cwNavbarTxt2: #aeb4c8;
    --cwNavbarTxt3: #8791af;
    --cwNavbarAccent: #FF6D75;
    --cwNavbarAccentTxt: rgba(255, 255, 255, 0.9);
    --cwNavbarRGBA: rgba(38, 57, 113, 0.7);
    --cwNavbarRGBA2: rgba(38, 57, 113, 0.5);
    --cwNavbarRGBA3: rgba(38, 57, 113, 0.3);
    --cwNavbarShadow: rgba(23, 34, 68, 0.7);
    --cwNavbarShadowFade: rgba(23, 34, 68, 0);
    --cwNavbarRadius: 0px;
    --cwNavbarBorder: #1a284f;

    --cwSliderG: #1a284f;
    --cwSliderBg: #1a284f;
    --cwSliderBg2: #283d79;
    --cwSliderBg3: #324d98;
    --cwSliderBgHover: #203262;
    --cwSliderBg2Hover: #2e478c;
    --cwSliderBg3Hover: #3857ab;
    --cwSliderTxt: #E8E9EC;
    --cwSliderTxt2: #aaafbd;
    --cwSliderTxt3: #81899e;
    --cwSliderAccent: #FF6D75;
    --cwSliderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSliderRGBA: rgba(26, 40, 79, 0.7);
    --cwSliderRGBA2: rgba(26, 40, 79, 0.5);
    --cwSliderRGBA3: rgba(26, 40, 79, 0.3);
    --cwSliderShadow: rgba(16, 24, 47, 0.7);
    --cwSliderShadowFade: rgba(16, 24, 47, 0);
    --cwSliderRadius: 0px;
    --cwSliderBorder: #1a284f;

    --cwHeaderG: #0F1739;
    --cwHeaderBg: #0F1739;
    --cwHeaderBg2: #1b2965;
    --cwHeaderBg3: #233686;
    --cwHeaderBgHover: #141f4d;
    --cwHeaderBg2Hover: #203179;
    --cwHeaderBg3Hover: #283e9a;
    --cwHeaderTxt: #E7E8EB;
    --cwHeaderTxt2: #a6a9b6;
    --cwHeaderTxt3: #7b8092;
    --cwHeaderAccent: #FF6D75;
    --cwHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderRGBA: rgba(15, 23, 57, 0.7);
    --cwHeaderRGBA2: rgba(15, 23, 57, 0.5);
    --cwHeaderRGBA3: rgba(15, 23, 57, 0.3);
    --cwHeaderShadow: rgba(9, 14, 34, 0.7);
    --cwHeaderShadowFade: rgba(9, 14, 34, 0);
    --cwHeaderRadius: 0px;
    --cwHeaderBorder: #141E3C;

    --cwHeaderSecondaryG: #121C45;
    --cwHeaderSecondaryBg: #121C45;
    --cwHeaderSecondaryBg2: #1e2e71;
    --cwHeaderSecondaryBg3: #263b92;
    --cwHeaderSecondaryBgHover: #172459;
    --cwHeaderSecondaryBg2Hover: #233685;
    --cwHeaderSecondaryBg3Hover: #2b43a6;
    --cwHeaderSecondaryTxt: #E8E9ED;
    --cwHeaderSecondaryTxt2: #a8acbb;
    --cwHeaderSecondaryTxt3: #7d8399;
    --cwHeaderSecondaryAccent: #FF6D75;
    --cwHeaderSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderSecondaryRGBA: rgba(18, 28, 69, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(18, 28, 69, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(18, 28, 69, 0.3);
    --cwHeaderSecondaryShadow: rgba(11, 17, 41, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(11, 17, 41, 0);
    --cwHeaderSecondaryRadius: 0px;
    --cwHeaderSecondaryBorder: #1a284f;

    --cwFooterG: #0F1739;
    --cwFooterBg: #0F1739;
    --cwFooterBg2: #1b2965;
    --cwFooterBg3: #233686;
    --cwFooterBgHover: #141f4d;
    --cwFooterBg2Hover: #203179;
    --cwFooterBg3Hover: #283e9a;
    --cwFooterTxt: #E8E9ED;
    --cwFooterTxt2: #a7aab7;
    --cwFooterTxt3: #7c8093;
    --cwFooterAccent: #FF6D75;
    --cwFooterAccentTxt: rgba(255, 255, 255, 0.9);
    --cwFooterRGBA: rgba(15, 23, 57, 0.7);
    --cwFooterRGBA2: rgba(15, 23, 57, 0.5);
    --cwFooterRGBA3: rgba(15, 23, 57, 0.3);
    --cwFooterShadow: rgba(9, 14, 34, 0.7);
    --cwFooterShadowFade: rgba(9, 14, 34, 0);
    --cwFooterRadius: 0px;
    --cwFooterBorder: #1a284f;

    --cwSubHeaderG: #3a58ae;
    --cwSubHeaderBg: #3a58ae;
    --cwSubHeaderBg2: #5975c8;
    --cwSubHeaderBg3: #778fd2;
    --cwSubHeaderBgHover: #4262c0;
    --cwSubHeaderBg2Hover: #6c85ce;
    --cwSubHeaderBg3Hover: #8a9fd8;
    --cwSubHeaderTxt: #E7E8EB;
    --cwSubHeaderTxt2: #b3bdd9;
    --cwSubHeaderTxt3: #91a0cd;
    --cwSubHeaderAccent: #FF6D75;
    --cwSubHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderRGBA: rgba(58, 88, 174, 0.7);
    --cwSubHeaderRGBA2: rgba(58, 88, 174, 0.5);
    --cwSubHeaderRGBA3: rgba(58, 88, 174, 0.3);
    --cwSubHeaderShadow: rgba(35, 53, 104, 0.7);
    --cwSubHeaderShadowFade: rgba(35, 53, 104, 0);
    --cwSubHeaderRadius: 0px;
    --cwSubHeaderBorder: #141E3C;

    --cwTabG: #101830;
    --cwTabBg: #101830;
    --cwTabBg2: #1e2d5a;
    --cwTabBg3: #283c79;
    --cwTabBgHover: #162243;
    --cwTabBg2Hover: #24376d;
    --cwTabBg3Hover: #2e458c;
    --cwTabTxt: #E7E8EA;
    --cwTabTxt2: #a7aab2;
    --cwTabTxt3: #7c808d;
    --cwTabAccent: #FF6D75;
    --cwTabAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabRGBA: rgba(16, 24, 48, 0.7);
    --cwTabRGBA2: rgba(16, 24, 48, 0.5);
    --cwTabRGBA3: rgba(16, 24, 48, 0.3);
    --cwTabShadow: rgba(10, 14, 29, 0.7);
    --cwTabShadowFade: rgba(10, 14, 29, 0);
    --cwTabRadius: 0px;
    --cwTabBorder: #141E3C;

    --cwTabActiveG: #24376d;
    --cwTabActiveBg: #24376d;
    --cwTabActiveBg2: #324c97;
    --cwTabActiveBg3: #3c5cb6;
    --cwTabActiveBgHover: #2a4180;
    --cwTabActiveBg2Hover: #3856aa;
    --cwTabActiveBg3Hover: #4969c3;
    --cwTabActiveTxt: #E7E8EA;
    --cwTabActiveTxt2: #adb3c5;
    --cwTabActiveTxt3: #8690ac;
    --cwTabActiveAccent: #FF6D75;
    --cwTabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveRGBA: rgba(36, 55, 109, 0.7);
    --cwTabActiveRGBA2: rgba(36, 55, 109, 0.5);
    --cwTabActiveRGBA3: rgba(36, 55, 109, 0.3);
    --cwTabActiveShadow: rgba(22, 33, 65, 0.7);
    --cwTabActiveShadowFade: rgba(22, 33, 65, 0);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #141E3C;

    --cwInputG: #101830;
    --cwInputBg: #101830;
    --cwInputBg2: #1e2d5a;
    --cwInputBg3: #283c79;
    --cwInputBgHover: #162243;
    --cwInputBg2Hover: #24376d;
    --cwInputBg3Hover: #2e458c;
    --cwInputTxt: #E7E8EA;
    --cwInputTxt2: #a7aab2;
    --cwInputTxt3: #7c808d;
    --cwInputAccent: #FF6D75;
    --cwInputAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputRGBA: rgba(16, 24, 48, 0.7);
    --cwInputRGBA2: rgba(16, 24, 48, 0.5);
    --cwInputRGBA3: rgba(16, 24, 48, 0.3);
    --cwInputShadow: rgba(10, 14, 29, 0.7);
    --cwInputShadowFade: rgba(10, 14, 29, 0);
    --cwInputRadius: 0px;
    --cwInputBorder: #141E3C;

    --cwInputSecondaryG: #101830;
    --cwInputSecondaryBg: #101830;
    --cwInputSecondaryBg2: #1e2d5a;
    --cwInputSecondaryBg3: #283c79;
    --cwInputSecondaryBgHover: #162243;
    --cwInputSecondaryBg2Hover: #24376d;
    --cwInputSecondaryBg3Hover: #2e458c;
    --cwInputSecondaryTxt: #E7E7E9;
    --cwInputSecondaryTxt2: #a7a9b2;
    --cwInputSecondaryTxt3: #7c808d;
    --cwInputSecondaryAccent: #FF6D75;
    --cwInputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryRGBA: rgba(16, 24, 48, 0.7);
    --cwInputSecondaryRGBA2: rgba(16, 24, 48, 0.5);
    --cwInputSecondaryRGBA3: rgba(16, 24, 48, 0.3);
    --cwInputSecondaryShadow: rgba(10, 14, 29, 0.7);
    --cwInputSecondaryShadowFade: rgba(10, 14, 29, 0);
    --cwInputSecondaryRadius: 0px;
    --cwInputSecondaryBorder: #141E3C;

    --cwFilterG: #192447;
    --cwFilterBg: #192447;
    --cwFilterBg2: #283970;
    --cwFilterBg3: #32488f;
    --cwFilterBgHover: #202e5a;
    --cwFilterBg2Hover: #2f4383;
    --cwFilterBg3Hover: #3952a2;
    --cwFilterTxt: #E8E9ED;
    --cwFilterTxt2: #aaaebb;
    --cwFilterTxt3: #81879a;
    --cwFilterAccent: #FF6D75;
    --cwFilterAccentTxt: rgba(255, 255, 255, 0.9);
    --cwFilterRGBA: rgba(25, 36, 71, 0.7);
    --cwFilterRGBA2: rgba(25, 36, 71, 0.5);
    --cwFilterRGBA3: rgba(25, 36, 71, 0.3);
    --cwFilterShadow: rgba(15, 22, 43, 0.7);
    --cwFilterShadowFade: rgba(15, 22, 43, 0);
    --cwFilterRadius: 0px;
    --cwFilterBorder: #1a284f;

    --cwTooltipG: #101830;
    --cwTooltipBg: #101830;
    --cwTooltipBg2: #1e2d5a;
    --cwTooltipBg3: #283c79;
    --cwTooltipBgHover: #162243;
    --cwTooltipBg2Hover: #24376d;
    --cwTooltipBg3Hover: #2e458c;
    --cwTooltipTxt: #E7E8EA;
    --cwTooltipTxt2: #a7aab2;
    --cwTooltipTxt3: #7c808d;
    --cwTooltipAccent: #FF6D75;
    --cwTooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipRGBA: rgba(16, 24, 48, 0.7);
    --cwTooltipRGBA2: rgba(16, 24, 48, 0.5);
    --cwTooltipRGBA3: rgba(16, 24, 48, 0.3);
    --cwTooltipShadow: rgba(10, 14, 29, 0.7);
    --cwTooltipShadowFade: rgba(10, 14, 29, 0);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #1a284f;

    --cwModalG: #101830;
    --cwModalBg: #101830;
    --cwModalBg2: #1e2d5a;
    --cwModalBg3: #283c79;
    --cwModalBgHover: #162243;
    --cwModalBg2Hover: #24376d;
    --cwModalBg3Hover: #2e458c;
    --cwModalTxt: #E7E8EA;
    --cwModalTxt2: #a7aab2;
    --cwModalTxt3: #7c808d;
    --cwModalAccent: #141E3C;
    --cwModalAccentTxt: rgba(255, 255, 255, 0.9);
    --cwModalRGBA: rgba(16, 24, 48, 0.7);
    --cwModalRGBA2: rgba(16, 24, 48, 0.5);
    --cwModalRGBA3: rgba(16, 24, 48, 0.3);
    --cwModalShadow: rgba(10, 14, 29, 0.7);
    --cwModalShadowFade: rgba(10, 14, 29, 0);
    --cwModalRadius: 0px;
    --cwModalBorder: #1a284f;

    --cwLoginG: #192447;
    --cwLoginBg: #192447;
    --cwLoginBg2: #283970;
    --cwLoginBg3: #32488f;
    --cwLoginBgHover: #202e5a;
    --cwLoginBg2Hover: #2f4383;
    --cwLoginBg3Hover: #3952a2;
    --cwLoginTxt: #E7E8EA;
    --cwLoginTxt2: #a9adb9;
    --cwLoginTxt3: #808699;
    --cwLoginAccent: #141E3C;
    --cwLoginAccentTxt: rgba(255, 255, 255, 0.9);
    --cwLoginRGBA: rgba(25, 36, 71, 0.7);
    --cwLoginRGBA2: rgba(25, 36, 71, 0.5);
    --cwLoginRGBA3: rgba(25, 36, 71, 0.3);
    --cwLoginShadow: rgba(15, 22, 43, 0.7);
    --cwLoginShadowFade: rgba(15, 22, 43, 0);
    --cwLoginRadius: 0px;
    --cwLoginBorder: #1a284f;

    --cwRegisterG: #141E3C;
    --cwRegisterBg: #141E3C;
    --cwRegisterBg2: #223366;
    --cwRegisterBg3: #2c4285;
    --cwRegisterBgHover: #1a284f;
    --cwRegisterBg2Hover: #283d79;
    --cwRegisterBg3Hover: #324b98;
    --cwRegisterTxt: #E7E8EA;
    --cwRegisterTxt2: #a8abb6;
    --cwRegisterTxt3: #7e8393;
    --cwRegisterAccent: #FF6D75;
    --cwRegisterAccentTxt: rgba(255, 255, 255, 0.9);
    --cwRegisterRGBA: rgba(20, 30, 60, 0.7);
    --cwRegisterRGBA2: rgba(20, 30, 60, 0.5);
    --cwRegisterRGBA3: rgba(20, 30, 60, 0.3);
    --cwRegisterShadow: rgba(12, 18, 36, 0.7);
    --cwRegisterShadowFade: rgba(12, 18, 36, 0);
    --cwRegisterRadius: 0px;
    --cwRegisterBorder: #1a284f;
        }
/*Footer start*/
.ceg-text {
    line-height: 20px;
    font-size: 14px;
}
.ceg-text a {
    text-decoration: underline;
    font-weight: 700;
}
.footer_link {
    display: block;
    padding: 0px 0px 13px 0px;
    text-align: center;
    position: relative;
}
.footer_link:last-child {
    padding-bottom: 25px;
}
.gcb_img , .ceg_img {
    padding-bottom: 32px;
}
/*Footer end*/
