/* Casino Mobile page */
:root {
    --cwBodyG: #1A1E32;
    --cwBodyBg: #1A1E32;
    --cwBodyBg2: #2d3457;
    --cwBodyBg3: #3b4472;
    --cwBodyBgHover: #232843;
    --cwBodyBg2Hover: #363e68;
    --cwBodyBg3Hover: #444e83;
    --cwBodyTxt: #fff;
    --cwBodyTxt2: #babcc2;
    --cwBodyTxt3: #8d8f99;
    --cwBodyAccent: #38E829;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyRGBA: rgba(26, 30, 50, 0.7);
    --cwBodyRGBA2: rgba(26, 30, 50, 0.5);
    --cwBodyRGBA3: rgba(26, 30, 50, 0.3);
    --cwBodyShadow: rgba(16, 18, 30, 0.7);
    --cwBodyShadowFade: rgba(16, 18, 30, 0);
    --cwBodyRadius: 2px;
    --cwBodyBorder: #1A1E32;
    --cwAccentG: #38E829;
    --cwAccentBg: #38E829;
    --cwAccentBg2: #67ed5c;
    --cwAccentBg3: #89f180;
    --cwAccentBgHover: #4dea40;
    --cwAccentBg2Hover: #7cf073;
    --cwAccentBg3Hover: #9ef497;
    --cwAccentTxt: #000;
    --cwAccentTxt2: #11460c;
    --cwAccentTxt3: #1c7415;
    --cwAccentAccent: #38E829;
    --cwAccentAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentRGBA: rgba(56, 232, 41, 0.7);
    --cwAccentRGBA2: rgba(56, 232, 41, 0.5);
    --cwAccentRGBA3: rgba(56, 232, 41, 0.3);
    --cwAccentShadow: rgba(34, 139, 25, 0.7);
    --cwAccentShadowFade: rgba(34, 139, 25, 0);
    --cwAccentRadius: 2px;
    --cwAccentBorder: #1A1E32;
    --cwDominantG: #232843;
    --cwDominantBg: #232843;
    --cwDominantBg2: #363e68;
    --cwDominantBg3: #444e83;
    --cwDominantBgHover: #2c3254;
    --cwDominantBg2Hover: #3f4879;
    --cwDominantBg3Hover: #4d5894;
    --cwDominantTxt: #fff;
    --cwDominantTxt2: #bdbfc7;
    --cwDominantTxt3: #9194a1;
    --cwDominantAccent: #38E829;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantRGBA: rgba(35, 40, 67, 0.7);
    --cwDominantRGBA2: rgba(35, 40, 67, 0.5);
    --cwDominantRGBA3: rgba(35, 40, 67, 0.3);
    --cwDominantShadow: rgba(21, 24, 40, 0.7);
    --cwDominantShadowFade: rgba(21, 24, 40, 0);
    --cwDominantRadius: 2px;
    --cwDominantBorder: #1A1E32;
    --cwCardG: #232843;
    --cwCardBg: #232843;
    --cwCardBg2: #363e68;
    --cwCardBg3: #444e83;
    --cwCardBgHover: #2c3254;
    --cwCardBg2Hover: #3f4879;
    --cwCardBg3Hover: #4d5894;
    --cwCardTxt: #fff;
    --cwCardTxt2: #bdbfc7;
    --cwCardTxt3: #9194a1;
    --cwCardAccent: #38E829;
    --cwCardAccentTxt: rgba(0, 0, 0, 0.9);
    --cwCardRGBA: rgba(35, 40, 67, 0.7);
    --cwCardRGBA2: rgba(35, 40, 67, 0.5);
    --cwCardRGBA3: rgba(35, 40, 67, 0.3);
    --cwCardShadow: rgba(21, 24, 40, 0.7);
    --cwCardShadowFade: rgba(21, 24, 40, 0);
    --cwCardRadius: 2px;
    --cwCardBorder: #1A1E32;
    --cwGameG: #232843;
    --cwGameBg: #232843;
    --cwGameBg2: #363e68;
    --cwGameBg3: #444e83;
    --cwGameBgHover: #2c3254;
    --cwGameBg2Hover: #3f4879;
    --cwGameBg3Hover: #4d5894;
    --cwGameTxt: #fff;
    --cwGameTxt2: #bdbfc7;
    --cwGameTxt3: #9194a1;
    --cwGameAccent: #38E829;
    --cwGameAccentTxt: rgba(0, 0, 0, 0.9);
    --cwGameRGBA: rgba(35, 40, 67, 0.7);
    --cwGameRGBA2: rgba(35, 40, 67, 0.5);
    --cwGameRGBA3: rgba(35, 40, 67, 0.3);
    --cwGameShadow: rgba(21, 24, 40, 0.7);
    --cwGameShadowFade: rgba(21, 24, 40, 0);
    --cwGameRadius: 2px;
    --cwGameBorder: #1A1E32;
    --cwJackpotG: #232843;
    --cwJackpotBg: #232843;
    --cwJackpotBg2: #363e68;
    --cwJackpotBg3: #444e83;
    --cwJackpotBgHover: #2c3254;
    --cwJackpotBg2Hover: #3f4879;
    --cwJackpotBg3Hover: #4d5894;
    --cwJackpotTxt: #fff;
    --cwJackpotTxt2: #bdbfc7;
    --cwJackpotTxt3: #9194a1;
    --cwJackpotAccent: #38E829;
    --cwJackpotAccentTxt: rgba(0, 0, 0, 0.9);
    --cwJackpotRGBA: rgba(35, 40, 67, 0.7);
    --cwJackpotRGBA2: rgba(35, 40, 67, 0.5);
    --cwJackpotRGBA3: rgba(35, 40, 67, 0.3);
    --cwJackpotShadow: rgba(21, 24, 40, 0.7);
    --cwJackpotShadowFade: rgba(21, 24, 40, 0);
    --cwJackpotRadius: 2px;
    --cwJackpotBorder: #1A1E32;
    --cwButtonG: #45E937;
    --cwButtonBg: #45E937;
    --cwButtonBg2: #74ef6a;
    --cwButtonBg3: #96f38e;
    --cwButtonBgHover: #5aec4e;
    --cwButtonBg2Hover: #89f181;
    --cwButtonBg3Hover: #abf5a5;
    --cwButtonTxt: #000;
    --cwButtonTxt2: #154611;
    --cwButtonTxt3: #23751c;
    --cwButtonAccent: #38E829;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonRGBA: rgba(69, 233, 55, 0.7);
    --cwButtonRGBA2: rgba(69, 233, 55, 0.5);
    --cwButtonRGBA3: rgba(69, 233, 55, 0.3);
    --cwButtonShadow: rgba(41, 140, 33, 0.7);
    --cwButtonShadowFade: rgba(41, 140, 33, 0);
    --cwButtonRadius: 4px;
    --cwButtonBorder: #45E937;
    --cwButtonSecondaryG: #FFFFFF;
    --cwButtonSecondaryBg: #FFFFFF;
    --cwButtonSecondaryBg2: #ffffff;
    --cwButtonSecondaryBg3: #ffffff;
    --cwButtonSecondaryBgHover: #ffffff;
    --cwButtonSecondaryBg2Hover: #ffffff;
    --cwButtonSecondaryBg3Hover: #ffffff;
    --cwButtonSecondaryTxt: #000;
    --cwButtonSecondaryTxt2: #4d4d4d;
    --cwButtonSecondaryTxt3: #808080;
    --cwButtonSecondaryAccent: #38E829;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryRGBA: rgba(255, 255, 255, 0.7);
    --cwButtonSecondaryRGBA2: rgba(255, 255, 255, 0.5);
    --cwButtonSecondaryRGBA3: rgba(255, 255, 255, 0.3);
    --cwButtonSecondaryShadow: rgba(153, 153, 153, 0.7);
    --cwButtonSecondaryShadowFade: rgba(153, 153, 153, 0);
    --cwButtonSecondaryRadius: 4px;
    --cwButtonSecondaryBorder: #FFFFFF;
    --cwNavbarG: #2d3457;
    --cwNavbarBg: #2d3457;
    --cwNavbarBg2: #404a7c;
    --cwNavbarBg3: #4e5a97;
    --cwNavbarBgHover: #363e68;
    --cwNavbarBg2Hover: #49548d;
    --cwNavbarBg3Hover: #5764a8;
    --cwNavbarTxt: #fff;
    --cwNavbarTxt2: #c0c2cd;
    --cwNavbarTxt3: #969aab;
    --cwNavbarAccent: #38E829;
    --cwNavbarAccentTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarRGBA: rgba(45, 52, 87, 0.7);
    --cwNavbarRGBA2: rgba(45, 52, 87, 0.5);
    --cwNavbarRGBA3: rgba(45, 52, 87, 0.3);
    --cwNavbarShadow: rgba(27, 31, 52, 0.7);
    --cwNavbarShadowFade: rgba(27, 31, 52, 0);
    --cwNavbarRadius: 2px;
    --cwNavbarBorder: #1A1E32;
    --cwSliderG: #232843;
    --cwSliderBg: #232843;
    --cwSliderBg2: #363e68;
    --cwSliderBg3: #444e83;
    --cwSliderBgHover: #2c3254;
    --cwSliderBg2Hover: #3f4879;
    --cwSliderBg3Hover: #4d5894;
    --cwSliderTxt: #fff;
    --cwSliderTxt2: #bdbfc7;
    --cwSliderTxt3: #9194a1;
    --cwSliderAccent: #38E829;
    --cwSliderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSliderRGBA: rgba(35, 40, 67, 0.7);
    --cwSliderRGBA2: rgba(35, 40, 67, 0.5);
    --cwSliderRGBA3: rgba(35, 40, 67, 0.3);
    --cwSliderShadow: rgba(21, 24, 40, 0.7);
    --cwSliderShadowFade: rgba(21, 24, 40, 0);
    --cwSliderRadius: 2px;
    --cwSliderBorder: #1A1E32;
    --cwHeaderG: #006466;
    --cwHeaderBg: #006466;
    --cwHeaderBg2: #004647;
    --cwHeaderBg3: #001e1f;
    --cwHeaderBgHover: #005052;
    --cwHeaderBg2Hover: #003233;
    --cwHeaderBg3Hover: #000a0b;
    --cwHeaderTxt: #fff;
    --cwHeaderTxt2: #b3d1d1;
    --cwHeaderTxt3: #80b2b3;
    --cwHeaderAccent: #FFFFFF;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderRGBA: rgba(0, 100, 102, 0.7);
    --cwHeaderRGBA2: rgba(0, 100, 102, 0.5);
    --cwHeaderRGBA3: rgba(0, 100, 102, 0.3);
    --cwHeaderShadow: rgba(102, 162, 163, 0.7);
    --cwHeaderShadowFade: rgba(102, 162, 163, 0);
    --cwHeaderRadius: 2px;
    --cwHeaderBorder: #1A1E32;
    --cwHeaderSecondaryG: #005557;
    --cwHeaderSecondaryBg: #005557;
    --cwHeaderSecondaryBg2: #008c8f;
    --cwHeaderSecondaryBg3: #00b4b8;
    --cwHeaderSecondaryBgHover: #006e70;
    --cwHeaderSecondaryBg2Hover: #00a5a8;
    --cwHeaderSecondaryBg3Hover: #00cdd1;
    --cwHeaderSecondaryTxt: #fff;
    --cwHeaderSecondaryTxt2: #b3cccd;
    --cwHeaderSecondaryTxt3: #80aaab;
    --cwHeaderSecondaryAccent: #38E829;
    --cwHeaderSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderSecondaryRGBA: rgba(0, 85, 87, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(0, 85, 87, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(0, 85, 87, 0.3);
    --cwHeaderSecondaryShadow: rgba(0, 51, 52, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(0, 51, 52, 0);
    --cwHeaderSecondaryRadius: 2px;
    --cwHeaderSecondaryBorder: #1A1E32;
    --cwFooterG: #006466;
    --cwFooterBg: #006466;
    --cwFooterBg2: #009b9e;
    --cwFooterBg3: #00c3c7;
    --cwFooterBgHover: #007d80;
    --cwFooterBg2Hover: #00b4b7;
    --cwFooterBg3Hover: #00dce0;
    --cwFooterTxt: #fff;
    --cwFooterTxt2: #b3d1d1;
    --cwFooterTxt3: #80b2b3;
    --cwFooterAccent: #F8F9F7;
    --cwFooterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFooterRGBA: rgba(0, 100, 102, 0.7);
    --cwFooterRGBA2: rgba(0, 100, 102, 0.5);
    --cwFooterRGBA3: rgba(0, 100, 102, 0.3);
    --cwFooterShadow: rgba(0, 60, 61, 0.7);
    --cwFooterShadowFade: rgba(0, 60, 61, 0);
    --cwFooterRadius: 2px;
    --cwFooterBorder: #1A1E32;
    --cwSubHeaderG: #003233;
    --cwSubHeaderBg: #003233;
    --cwSubHeaderBg2: #00696b;
    --cwSubHeaderBg3: #009194;
    --cwSubHeaderBgHover: #004b4d;
    --cwSubHeaderBg2Hover: #008284;
    --cwSubHeaderBg3Hover: #00aaad;
    --cwSubHeaderTxt: #fff;
    --cwSubHeaderTxt2: #b3c2c2;
    --cwSubHeaderTxt3: #809999;
    --cwSubHeaderAccent: #FFFFFF;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderRGBA: rgba(0, 50, 51, 0.7);
    --cwSubHeaderRGBA2: rgba(0, 50, 51, 0.5);
    --cwSubHeaderRGBA3: rgba(0, 50, 51, 0.3);
    --cwSubHeaderShadow: rgba(0, 30, 31, 0.7);
    --cwSubHeaderShadowFade: rgba(0, 30, 31, 0);
    --cwSubHeaderRadius: 2px;
    --cwSubHeaderBorder: #1A1E32;
    --cwTabG: #2d3457;
    --cwTabBg: #2d3457;
    --cwTabBg2: #404a7c;
    --cwTabBg3: #4e5a97;
    --cwTabBgHover: #363e68;
    --cwTabBg2Hover: #49548d;
    --cwTabBg3Hover: #5764a8;
    --cwTabTxt: #fff;
    --cwTabTxt2: #c0c2cd;
    --cwTabTxt3: #969aab;
    --cwTabAccent: #38E829;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabRGBA: rgba(45, 52, 87, 0.7);
    --cwTabRGBA2: rgba(45, 52, 87, 0.5);
    --cwTabRGBA3: rgba(45, 52, 87, 0.3);
    --cwTabShadow: rgba(27, 31, 52, 0.7);
    --cwTabShadowFade: rgba(27, 31, 52, 0);
    --cwTabRadius: 2px;
    --cwTabBorder: #1A1E32;
    --cwTabActiveG: #363e68;
    --cwTabActiveBg: #363e68;
    --cwTabActiveBg2: #49548d;
    --cwTabActiveBg3: #5764a8;
    --cwTabActiveBgHover: #3f4879;
    --cwTabActiveBg2Hover: #525e9e;
    --cwTabActiveBg3Hover: #6874b1;
    --cwTabActiveTxt: #fff;
    --cwTabActiveTxt2: #c3c5d2;
    --cwTabActiveTxt3: #9b9fb4;
    --cwTabActiveAccent: #38E829;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveRGBA: rgba(54, 62, 104, 0.7);
    --cwTabActiveRGBA2: rgba(54, 62, 104, 0.5);
    --cwTabActiveRGBA3: rgba(54, 62, 104, 0.3);
    --cwTabActiveShadow: rgba(32, 37, 62, 0.7);
    --cwTabActiveShadowFade: rgba(32, 37, 62, 0);
    --cwTabActiveRadius: 2px;
    --cwTabActiveBorder: #1A1E32;
    --cwInputG: #2d3457;
    --cwInputBg: #2d3457;
    --cwInputBg2: #404a7c;
    --cwInputBg3: #4e5a97;
    --cwInputBgHover: #363e68;
    --cwInputBg2Hover: #49548d;
    --cwInputBg3Hover: #5764a8;
    --cwInputTxt: #fff;
    --cwInputTxt2: #c0c2cd;
    --cwInputTxt3: #969aab;
    --cwInputAccent: #38E829;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputRGBA: rgba(45, 52, 87, 0.7);
    --cwInputRGBA2: rgba(45, 52, 87, 0.5);
    --cwInputRGBA3: rgba(45, 52, 87, 0.3);
    --cwInputShadow: rgba(27, 31, 52, 0.7);
    --cwInputShadowFade: rgba(27, 31, 52, 0);
    --cwInputRadius: 2px;
    --cwInputBorder: #1A1E32;
    --cwInputSecondaryG: #363e68;
    --cwInputSecondaryBg: #363e68;
    --cwInputSecondaryBg2: #49548d;
    --cwInputSecondaryBg3: #5764a8;
    --cwInputSecondaryBgHover: #3f4879;
    --cwInputSecondaryBg2Hover: #525e9e;
    --cwInputSecondaryBg3Hover: #6874b1;
    --cwInputSecondaryTxt: #fff;
    --cwInputSecondaryTxt2: #c3c5d2;
    --cwInputSecondaryTxt3: #9b9fb4;
    --cwInputSecondaryAccent: #38E829;
    --cwInputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryRGBA: rgba(54, 62, 104, 0.7);
    --cwInputSecondaryRGBA2: rgba(54, 62, 104, 0.5);
    --cwInputSecondaryRGBA3: rgba(54, 62, 104, 0.3);
    --cwInputSecondaryShadow: rgba(32, 37, 62, 0.7);
    --cwInputSecondaryShadowFade: rgba(32, 37, 62, 0);
    --cwInputSecondaryRadius: 2px;
    --cwInputSecondaryBorder: #1A1E32;
    --cwFilterG: #1F243C;
    --cwFilterBg: #1F243C;
    --cwFilterBg2: #323a61;
    --cwFilterBg3: #404a7c;
    --cwFilterBgHover: #282e4d;
    --cwFilterBg2Hover: #3b4472;
    --cwFilterBg3Hover: #49548d;
    --cwFilterTxt: #fff;
    --cwFilterTxt2: #bcbdc5;
    --cwFilterTxt3: #8f929e;
    --cwFilterAccent: #38E829;
    --cwFilterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFilterRGBA: rgba(31, 36, 60, 0.7);
    --cwFilterRGBA2: rgba(31, 36, 60, 0.5);
    --cwFilterRGBA3: rgba(31, 36, 60, 0.3);
    --cwFilterShadow: rgba(19, 22, 36, 0.7);
    --cwFilterShadowFade: rgba(19, 22, 36, 0);
    --cwFilterRadius: 2px;
    --cwFilterBorder: #1A1E32;
    --cwTooltipG: #2d3457;
    --cwTooltipBg: #2d3457;
    --cwTooltipBg2: #404a7c;
    --cwTooltipBg3: #4e5a97;
    --cwTooltipBgHover: #363e68;
    --cwTooltipBg2Hover: #49548d;
    --cwTooltipBg3Hover: #5764a8;
    --cwTooltipTxt: #fff;
    --cwTooltipTxt2: #c0c2cd;
    --cwTooltipTxt3: #969aab;
    --cwTooltipAccent: #38E829;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipRGBA: rgba(45, 52, 87, 0.7);
    --cwTooltipRGBA2: rgba(45, 52, 87, 0.5);
    --cwTooltipRGBA3: rgba(45, 52, 87, 0.3);
    --cwTooltipShadow: rgba(27, 31, 52, 0.7);
    --cwTooltipShadowFade: rgba(27, 31, 52, 0);
    --cwTooltipRadius: 2px;
    --cwTooltipBorder: #1A1E32;
    --cwModalG: #232843;
    --cwModalBg: #232843;
    --cwModalBg2: #363e68;
    --cwModalBg3: #444e83;
    --cwModalBgHover: #2c3254;
    --cwModalBg2Hover: #3f4879;
    --cwModalBg3Hover: #4d5894;
    --cwModalTxt: #fff;
    --cwModalTxt2: #bdbfc7;
    --cwModalTxt3: #9194a1;
    --cwModalAccent: #38E829;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalRGBA: rgba(35, 40, 67, 0.7);
    --cwModalRGBA2: rgba(35, 40, 67, 0.5);
    --cwModalRGBA3: rgba(35, 40, 67, 0.3);
    --cwModalShadow: rgba(21, 24, 40, 0.7);
    --cwModalShadowFade: rgba(21, 24, 40, 0);
    --cwModalRadius: 8px;
    --cwModalBorder: #1A1E32;
    --cwLoginG: #232843;
    --cwLoginBg: #232843;
    --cwLoginBg2: #363e68;
    --cwLoginBg3: #444e83;
    --cwLoginBgHover: #2c3254;
    --cwLoginBg2Hover: #3f4879;
    --cwLoginBg3Hover: #4d5894;
    --cwLoginTxt: #fff;
    --cwLoginTxt2: #bdbfc7;
    --cwLoginTxt3: #9194a1;
    --cwLoginAccent: #38E829;
    --cwLoginAccentTxt: rgba(0, 0, 0, 0.9);
    --cwLoginRGBA: rgba(35, 40, 67, 0.7);
    --cwLoginRGBA2: rgba(35, 40, 67, 0.5);
    --cwLoginRGBA3: rgba(35, 40, 67, 0.3);
    --cwLoginShadow: rgba(21, 24, 40, 0.7);
    --cwLoginShadowFade: rgba(21, 24, 40, 0);
    --cwLoginRadius: 8px;
    --cwLoginBorder: #1A1E32;
    --cwRegisterG: #31385E;
    --cwRegisterBg: #31385E;
    --cwRegisterBg2: #444e83;
    --cwRegisterBg3: #525e9e;
    --cwRegisterBgHover: #3a426f;
    --cwRegisterBg2Hover: #4d5894;
    --cwRegisterBg3Hover: #5e6aab;
    --cwRegisterTxt: #fff;
    --cwRegisterTxt2: #c1c3cf;
    --cwRegisterTxt3: #989caf;
    --cwRegisterAccent: #38E829;
    --cwRegisterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwRegisterRGBA: rgba(49, 56, 94, 0.7);
    --cwRegisterRGBA2: rgba(49, 56, 94, 0.5);
    --cwRegisterRGBA3: rgba(49, 56, 94, 0.3);
    --cwRegisterShadow: rgba(29, 34, 56, 0.7);
    --cwRegisterShadowFade: rgba(29, 34, 56, 0);
    --cwRegisterRadius: 2px;
    --cwRegisterBorder: #1A1E32;
}
/*header logo*/

.LogoMobilePlatform {
    background-image: var(--cdn-logo_png);
}

/*footer*/

.footer_social-item,
.accordionPanel_footer {
    --cwFooterBg2: #004647;
}

.footer_social-list {
    margin-block: 25px 28px;
}

.footer_ministerioLogo_item  img {
    height: 47px;
    display: block;
    margin-inline: auto;
}
.footer_ministerioLogo_bgColor {
    background-color: var(--cwFooterTxt);
}
.footer_ministerioLogo_border {
    border: 1px solid var(--cwFooterTxt)
}


.info-txt{
    line-height: 20px;
}

/*accordion tab footer end*/

.platformForgPass {
    margin-top: 15px;
}



/*start registration*/

.static_login_content .register_in_login {
    width: 100%;
    height: 36px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cwButtonSecondaryG);
    color: var(--cwButtonSecondaryTxt);
    border: 1px solid var(--cwButtonSecondaryBorder);
    border-radius: var(--cwButtonSecondaryRadius);
}

/*end registration*/

.cw_mob_root iframe {
    height: 695px;
}