/* Casino Mobile page */
:root {
    --cwBodyBg: #090909;
    --cwBodyBg2: #222222;
    --cwBodyBg3: #2f2f2f;
    --cwBodyBgHover: #111111;
    --cwBodyBg2Hover: #2a2a2a;
    --cwBodyBg3Hover: #373737;
    --cwBodyRGBA: rgba(9, 9, 9, 0.7);
    --cwBodyRGBA2: rgba(9, 9, 9, 0.5);
    --cwBodyRGBA3: rgba(9, 9, 9, 0.3);
    --cwBodyTxt: #e6e6e6;
    --cwBodyTxt2: #b5b5b5;
    --cwBodyTxt3: #848484;
    --cwBodyAccent: #DF1F27;
    --cwBodyAccentTxt: rgba(255, 255, 255, 0.9);
    --cwBodyBorder: #090909;
    --cwBodyRadius: 0px;
    --cwDominantG: #111111;
    --cwDominantRGBA: rgba(17, 17, 17, 0.7);
    --cwDominantRGBA2: rgba(17, 17, 17, 0.5);
    --cwDominantRGBA3: rgba(17, 17, 17, 0.3);
    --cwDominantBg: #111111;
    --cwDominantBg2: #2a2a2a;
    --cwDominantBg3: #373737;
    --cwDominantBgHover: #191919;
    --cwDominantBg2Hover: #323232;
    --cwDominantBg3Hover: #3f3f3f;
    --cwDominantTxt: #e7e7e7;
    --cwDominantTxt2: #b8b8b8;
    --cwDominantTxt3: #888888;
    --cwDominantAccent: #DF1F27;
    --cwDominantAccentTxt: rgba(255, 255, 255, 0.9);
    --cwDominantTxtInverse: #262626;
    --cwDominantRadius: 0px;
    --cwAccentBg: #DF1F27;
    --cwAccentBg2: #e64b51;
    --cwAccentBg3: #e96167;
    --cwAccentBgHover: #e22c33;
    --cwAccentBg2Hover: #e8585e;
    --cwAccentBg3Hover: #eb6e74;
    --cwAccentG: #DF1F27;
    --cwAccentTxt: #fce9e9;
    --cwAccentTxt2: #f5bcbe;
    --cwAccentTxt3: #ef8f93;
    --cwButtonG: #E22C33;
    --cwButtonBg: #E22C33;
    --cwButtonBg2: #e8595e;
    --cwButtonBg3: #eb6f74;
    --cwButtonBgHover: #e43940;
    --cwButtonBg2Hover: #ea666b;
    --cwButtonBg3Hover: #ed7c81;
    --cwButtonTxt: #fceaeb;
    --cwButtonTxt2: #f6c0c2;
    --cwButtonTxt3: #f19699;
    --cwButtonAccent: #DF1F27;
    --cwButtonAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonBorder: #E22C33;
    --cwButtonRadius: 4px;
    --cwButtonSecondaryG: #222222;
    --cwButtonSecondaryBg: #222222;
    --cwButtonSecondaryBg2: #3b3b3b;
    --cwButtonSecondaryBg3: #484848;
    --cwButtonSecondaryBgHover: #2a2a2a;
    --cwButtonSecondaryBg2Hover: #434343;
    --cwButtonSecondaryBg3Hover: #505050;
    --cwButtonSecondaryTxt: #e9e9e9;
    --cwButtonSecondaryTxt2: #bdbdbd;
    --cwButtonSecondaryTxt3: #919191;
    --cwButtonSecondaryAccent: #DF1F27;
    --cwButtonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwButtonSecondaryBorder: #222222;
    --cwButtonSecondaryRadius: 4px;
    --cwInputG: #2A2A2A;
    --cwInputBg: #2A2A2A;
    --cwInputBg2: #434343;
    --cwInputBg3: #505050;
    --cwInputBgHover: #323232;
    --cwInputBg2Hover: #4b4b4b;
    --cwInputBg3Hover: #585858;
    --cwInputTxt: #eaeaea;
    --cwInputTxt2: #bfbfbf;
    --cwInputTxt3: #959595;
    --cwInputAccent: #DF1F27;
    --cwInputAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputRadius: 4px;
    --cwInputBorder: #2A2A2A;
    --cwInputSecondaryG: #4b4b4b;
    --cwInputSecondaryBg: #4b4b4b;
    --cwInputSecondaryBg2: #646464;
    --cwInputSecondaryBg3: #717171;
    --cwInputSecondaryBgHover: #535353;
    --cwInputSecondaryBg2Hover: #6c6c6c;
    --cwInputSecondaryBg3Hover: #797979;
    --cwInputSecondaryTxt: #ededed;
    --cwInputSecondaryTxt2: #c9c9c9;
    --cwInputSecondaryTxt3: #a5a5a5;
    --cwInputSecondaryAccent: #DF1F27;
    --cwInputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --cwInputSecondaryRadius: 4px;
    --cwInputSecondaryBorder: #2A2A2A;
    --cwHeaderG: #373737;
    --cwHeaderBg: #373737;
    --cwHeaderBg2: #505050;
    --cwHeaderBg3: #5d5d5d;
    --cwHeaderBgHover: #3f3f3f;
    --cwHeaderBg2Hover: #585858;
    --cwHeaderBg3Hover: #656565;
    --cwHeaderTxt: #ebebeb;
    --cwHeaderTxt2: #c3c3c3;
    --cwHeaderTxt3: #9b9b9b;
    --cwHeaderAccent: #DF1F27;
    --cwHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwHeaderBorder: #090909;
    --cwHeaderRadius: 0px;
    --cwSubHeaderG: #585858;
    --cwSubHeaderBg: #585858;
    --cwSubHeaderBg2: #717171;
    --cwSubHeaderBg3: #7e7e7e;
    --cwSubHeaderBgHover: #606060;
    --cwSubHeaderBg2Hover: #797979;
    --cwSubHeaderBg3Hover: #868686;
    --cwSubHeaderTxt: #eeeeee;
    --cwSubHeaderTxt2: #cdcdcd;
    --cwSubHeaderTxt3: #acacac;
    --cwSubHeaderAccent: #DF1F27;
    --cwSubHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --cwSubHeaderBorder: #090909;
    --cwSubHeaderRadius: 0px;
    --cwModalG: #252525;
    --cwModalBg: #252525;
    --cwModalBg2: #3e3e3e;
    --cwModalBg3: #4b4b4b;
    --cwModalBgHover: #2d2d2d;
    --cwModalBg2Hover: #464646;
    --cwModalBg3Hover: #535353;
    --cwModalTxt: #e9e9e9;
    --cwModalTxt2: #bebebe;
    --cwModalTxt3: #929292;
    --cwModalAccent: #DF1F27;
    --cwModalAccentTxt: rgba(255, 255, 255, 0.9);
    --cwModalRadius: 0px;
    --cwModalBorder: #090909;
    --cwTabG: #2a2a2a;
    --cwTabBg: #2a2a2a;
    --cwTabBg2: #434343;
    --cwTabBg3: #505050;
    --cwTabBgHover: #323232;
    --cwTabBg2Hover: #4b4b4b;
    --cwTabBg3Hover: #585858;
    --cwTabTxt: #eaeaea;
    --cwTabTxt2: #bfbfbf;
    --cwTabTxt3: #959595;
    --cwTabAccent: #DF1F27;
    --cwTabAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabRadius: 0px;
    --cwTabBorder: #090909;
    --cwTabActiveG: #323232;
    --cwTabActiveBg: #323232;
    --cwTabActiveBg2: #4b4b4b;
    --cwTabActiveBg3: #585858;
    --cwTabActiveBgHover: #3a3a3a;
    --cwTabActiveBg2Hover: #535353;
    --cwTabActiveBg3Hover: #606060;
    --cwTabActiveTxt: #ebebeb;
    --cwTabActiveTxt2: #c2c2c2;
    --cwTabActiveTxt3: #999999;
    --cwTabActiveAccent: #DF1F27;
    --cwTabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTabActiveRadius: 0px;
    --cwTabActiveBorder: #090909;
    --cwTooltipG: #2a2a2a;
    --cwTooltipBg: #2a2a2a;
    --cwTooltipBg2: #434343;
    --cwTooltipBg3: #505050;
    --cwTooltipBgHover: #323232;
    --cwTooltipBg2Hover: #4b4b4b;
    --cwTooltipBg3Hover: #585858;
    --cwTooltipTxt: #eaeaea;
    --cwTooltipTxt2: #bfbfbf;
    --cwTooltipTxt3: #959595;
    --cwTooltipAccent: #DF1F27;
    --cwTooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --cwTooltipRadius: 0px;
    --cwTooltipBorder: #090909;
}

/*Header logo*/
.LogoMobilePlatform {
    background-image: var(--cdn-logo-mob_png);
}

/*Start Footer*/
.footer_social-list {
    margin-bottom: 40px;
}
/*End Footer*/

/*Start Registration*/
.phone_number_reg{
    min-width: 80px;
    margin-inline-end: 6px;
}
/*End Registration*/