:root {
    --cwBodyG: #1E2020;
    --cwBodyBg: #1E2020;
    --cwBodyBg2: #393d3d;
    --cwBodyBg3: #4d5252;
    --cwBodyBgHover: #2a2d2d;
    --cwBodyBg2Hover: #454a4a;
    --cwBodyBg3Hover: #595f5f;
    --cwBodyTxt: #fff;
    --cwBodyTxt2: #bcbcbc;
    --cwBodyTxt3: #8f9090;
    --cwBodyAccent: #54CFE6;
    --cwBodyAccentTxt: rgba(0, 0, 0, 0.9);
    --cwBodyRGBA: rgba(30, 32, 32, 0.7);
    --cwBodyRGBA2: rgba(30, 32, 32, 0.5);
    --cwBodyRGBA3: rgba(30, 32, 32, 0.3);
    --cwBodyShadow: rgba(18, 19, 19, 0.7);
    --cwBodyShadowFade: rgba(18, 19, 19, 0);
    --cwBodyRadius: 8px;
    --cwBodyBorder: #1E2020;

    --cwAccentG: #54CFE6;
    --cwAccentBg: #54CFE6;
    --cwAccentBg2: #85dded;
    --cwAccentBg3: #a9e7f2;
    --cwAccentBgHover: #6ad5e9;
    --cwAccentBg2Hover: #9be3f0;
    --cwAccentBg3Hover: #bfedf5;
    --cwAccentTxt: #000;
    --cwAccentTxt2: #193e45;
    --cwAccentTxt3: #2a6873;
    --cwAccentAccent: #54CFE6;
    --cwAccentAccentTxt: rgba(0, 0, 0, 0.9);
    --cwAccentRGBA: rgba(84, 207, 230, 0.7);
    --cwAccentRGBA2: rgba(84, 207, 230, 0.5);
    --cwAccentRGBA3: rgba(84, 207, 230, 0.3);
    --cwAccentShadow: rgba(50, 124, 138, 0.7);
    --cwAccentShadowFade: rgba(50, 124, 138, 0);
    --cwAccentRadius: 8px;
    --cwAccentBorder: #1E2020;

    --cwDominantG: #2a2d2d;
    --cwDominantBg: #2a2d2d;
    --cwDominantBg2: #454a4a;
    --cwDominantBg3: #595f5f;
    --cwDominantBgHover: #363a3a;
    --cwDominantBg2Hover: #515757;
    --cwDominantBg3Hover: #656c6c;
    --cwDominantTxt: #fff;
    --cwDominantTxt2: #bfc0c0;
    --cwDominantTxt3: #959696;
    --cwDominantAccent: #54CFE6;
    --cwDominantAccentTxt: rgba(0, 0, 0, 0.9);
    --cwDominantRGBA: rgba(42, 45, 45, 0.7);
    --cwDominantRGBA2: rgba(42, 45, 45, 0.5);
    --cwDominantRGBA3: rgba(42, 45, 45, 0.3);
    --cwDominantShadow: rgba(25, 27, 27, 0.7);
    --cwDominantShadowFade: rgba(25, 27, 27, 0);
    --cwDominantRadius: 8px;
    --cwDominantBorder: #1E2020;

    --cwCardG: #2a2d2d;
    --cwCardBg: #2a2d2d;
    --cwCardBg2: #454a4a;
    --cwCardBg3: #595f5f;
    --cwCardBgHover: #363a3a;
    --cwCardBg2Hover: #515757;
    --cwCardBg3Hover: #656c6c;
    --cwCardTxt: #fff;
    --cwCardTxt2: #bfc0c0;
    --cwCardTxt3: #959696;
    --cwCardAccent: #54CFE6;
    --cwCardAccentTxt: rgba(0, 0, 0, 0.9);
    --cwCardRGBA: rgba(42, 45, 45, 0.7);
    --cwCardRGBA2: rgba(42, 45, 45, 0.5);
    --cwCardRGBA3: rgba(42, 45, 45, 0.3);
    --cwCardShadow: rgba(25, 27, 27, 0.7);
    --cwCardShadowFade: rgba(25, 27, 27, 0);
    --cwCardRadius: 8px;
    --cwCardBorder: #1E2020;

    --cwGameG: #2a2d2d;
    --cwGameBg: #2a2d2d;
    --cwGameBg2: #454a4a;
    --cwGameBg3: #595f5f;
    --cwGameBgHover: #363a3a;
    --cwGameBg2Hover: #515757;
    --cwGameBg3Hover: #656c6c;
    --cwGameTxt: #fff;
    --cwGameTxt2: #bfc0c0;
    --cwGameTxt3: #959696;
    --cwGameAccent: #54CFE6;
    --cwGameAccentTxt: rgba(0, 0, 0, 0.9);
    --cwGameRGBA: rgba(42, 45, 45, 0.7);
    --cwGameRGBA2: rgba(42, 45, 45, 0.5);
    --cwGameRGBA3: rgba(42, 45, 45, 0.3);
    --cwGameShadow: rgba(25, 27, 27, 0.7);
    --cwGameShadowFade: rgba(25, 27, 27, 0);
    --cwGameRadius: 8px;
    --cwGameBorder: #1E2020;

    --cwJackpotG: #2a2d2d;
    --cwJackpotBg: #2a2d2d;
    --cwJackpotBg2: #454a4a;
    --cwJackpotBg3: #595f5f;
    --cwJackpotBgHover: #363a3a;
    --cwJackpotBg2Hover: #515757;
    --cwJackpotBg3Hover: #656c6c;
    --cwJackpotTxt: #fff;
    --cwJackpotTxt2: #bfc0c0;
    --cwJackpotTxt3: #959696;
    --cwJackpotAccent: #54CFE6;
    --cwJackpotAccentTxt: rgba(0, 0, 0, 0.9);
    --cwJackpotRGBA: rgba(42, 45, 45, 0.7);
    --cwJackpotRGBA2: rgba(42, 45, 45, 0.5);
    --cwJackpotRGBA3: rgba(42, 45, 45, 0.3);
    --cwJackpotShadow: rgba(25, 27, 27, 0.7);
    --cwJackpotShadowFade: rgba(25, 27, 27, 0);
    --cwJackpotRadius: 8px;
    --cwJackpotBorder: #1E2020;

    --cwButtonG: #6ad5e9;
    --cwButtonBg: #6ad5e9;
    --cwButtonBg2: #9be3f0;
    --cwButtonBg3: #beedf5;
    --cwButtonBgHover: #80dbec;
    --cwButtonBg2Hover: #b1e9f3;
    --cwButtonBg3Hover: #d4f3f8;
    --cwButtonTxt: #000;
    --cwButtonTxt2: #204046;
    --cwButtonTxt3: #356b75;
    --cwButtonAccent: #54CFE6;
    --cwButtonAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonRGBA: rgba(106, 213, 233, 0.7);
    --cwButtonRGBA2: rgba(106, 213, 233, 0.5);
    --cwButtonRGBA3: rgba(106, 213, 233, 0.3);
    --cwButtonShadow: rgba(64, 128, 140, 0.7);
    --cwButtonShadowFade: rgba(64, 128, 140, 0);
    --cwButtonRadius: 8px;
    --cwButtonBorder: #1E2020;

    --cwButtonSecondaryG: #333636;
    --cwButtonSecondaryBg: #333636;
    --cwButtonSecondaryBg2: #4e5353;
    --cwButtonSecondaryBg3: #626868;
    --cwButtonSecondaryBgHover: #3f4343;
    --cwButtonSecondaryBg2Hover: #5a6060;
    --cwButtonSecondaryBg3Hover: #6e7575;
    --cwButtonSecondaryTxt: #fff;
    --cwButtonSecondaryTxt2: #c2c3c3;
    --cwButtonSecondaryTxt3: #999b9b;
    --cwButtonSecondaryAccent: #54CFE6;
    --cwButtonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwButtonSecondaryRGBA: rgba(51, 54, 54, 0.7);
    --cwButtonSecondaryRGBA2: rgba(51, 54, 54, 0.5);
    --cwButtonSecondaryRGBA3: rgba(51, 54, 54, 0.3);
    --cwButtonSecondaryShadow: rgba(31, 32, 32, 0.7);
    --cwButtonSecondaryShadowFade: rgba(31, 32, 32, 0);
    --cwButtonSecondaryRadius: 8px;
    --cwButtonSecondaryBorder: #1E2020;

    --cwNavbarG: #393d3d;
    --cwNavbarBg: #393d3d;
    --cwNavbarBg2: #545a5a;
    --cwNavbarBg3: #686f6f;
    --cwNavbarBgHover: #454a4a;
    --cwNavbarBg2Hover: #606767;
    --cwNavbarBg3Hover: #747c7c;
    --cwNavbarTxt: #fff;
    --cwNavbarTxt2: #c4c5c5;
    --cwNavbarTxt3: #9c9e9e;
    --cwNavbarAccent: #54CFE6;
    --cwNavbarAccentTxt: rgba(0, 0, 0, 0.9);
    --cwNavbarRGBA: rgba(57, 61, 61, 0.7);
    --cwNavbarRGBA2: rgba(57, 61, 61, 0.5);
    --cwNavbarRGBA3: rgba(57, 61, 61, 0.3);
    --cwNavbarShadow: rgba(34, 37, 37, 0.7);
    --cwNavbarShadowFade: rgba(34, 37, 37, 0);
    --cwNavbarRadius: 8px;
    --cwNavbarBorder: #1E2020;

    --cwSliderG: #2a2d2d;
    --cwSliderBg: #2a2d2d;
    --cwSliderBg2: #454a4a;
    --cwSliderBg3: #595f5f;
    --cwSliderBgHover: #363a3a;
    --cwSliderBg2Hover: #515757;
    --cwSliderBg3Hover: #656c6c;
    --cwSliderTxt: #fff;
    --cwSliderTxt2: #bfc0c0;
    --cwSliderTxt3: #959696;
    --cwSliderAccent: #54CFE6;
    --cwSliderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSliderRGBA: rgba(42, 45, 45, 0.7);
    --cwSliderRGBA2: rgba(42, 45, 45, 0.5);
    --cwSliderRGBA3: rgba(42, 45, 45, 0.3);
    --cwSliderShadow: rgba(25, 27, 27, 0.7);
    --cwSliderShadowFade: rgba(25, 27, 27, 0);
    --cwSliderRadius: 8px;
    --cwSliderBorder: #1E2020;

    --cwHeaderG: linear-gradient(181deg, #272A2A 0%, #676C6C 100%);
    --cwHeaderBg: #676C6C;
    --cwHeaderBg2: #585c5c;
    --cwHeaderBg3: #444747;
    --cwHeaderBgHover: #5d6262;
    --cwHeaderBg2Hover: #4e5252;
    --cwHeaderBg3Hover: #3a3d3d;
    --cwHeaderTxt: #fff;
    --cwHeaderTxt2: #d1d3d3;
    --cwHeaderTxt3: #b3b6b6;
    --cwHeaderAccent: #54CFE6;
    --cwHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderRGBA: rgba(103, 108, 108, 0.7);
    --cwHeaderRGBA2: rgba(103, 108, 108, 0.5);
    --cwHeaderRGBA3: rgba(103, 108, 108, 0.3);
    --cwHeaderShadow: rgba(164, 167, 167, 0.7);
    --cwHeaderShadowFade: rgba(164, 167, 167, 0);
    --cwHeaderRadius: 8px;
    --cwHeaderBorder: #1E2020;

    --cwHeaderSecondaryG: #DEDEDE;
    --cwHeaderSecondaryBg: #DEDEDE;
    --cwHeaderSecondaryBg2: #cfcfcf;
    --cwHeaderSecondaryBg3: #bababa;
    --cwHeaderSecondaryBgHover: #d4d4d4;
    --cwHeaderSecondaryBg2Hover: #c5c5c5;
    --cwHeaderSecondaryBg3Hover: #b0b0b0;
    --cwHeaderSecondaryTxt: #343F42;
    --cwHeaderSecondaryTxt2: #676f71;
    --cwHeaderSecondaryTxt3: #898f90;
    --cwHeaderSecondaryAccent: #54CFE6;
    --cwHeaderSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwHeaderSecondaryRGBA: rgba(222, 222, 222, 0.7);
    --cwHeaderSecondaryRGBA2: rgba(222, 222, 222, 0.5);
    --cwHeaderSecondaryRGBA3: rgba(222, 222, 222, 0.3);
    --cwHeaderSecondaryShadow: rgba(235, 235, 235, 0.7);
    --cwHeaderSecondaryShadowFade: rgba(235, 235, 235, 0);
    --cwHeaderSecondaryRadius: 8px;
    --cwHeaderSecondaryBorder: #1E2020;

    --cwFooterG: linear-gradient(180deg, #222526 0%, #494F50 100%);
    --cwFooterBg: #494F50;
    --cwFooterBg2: #3a3f40;
    --cwFooterBg3: #272a2b;
    --cwFooterBgHover: #3f4445;
    --cwFooterBg2Hover: #303435;
    --cwFooterBg3Hover: #1d2020;
    --cwFooterTxt: #fff;
    --cwFooterTxt2: #c8cacb;
    --cwFooterTxt3: #a4a7a8;
    --cwFooterAccent: #54CFE6;
    --cwFooterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFooterRGBA: rgba(73, 79, 80, 0.7);
    --cwFooterRGBA2: rgba(73, 79, 80, 0.5);
    --cwFooterRGBA3: rgba(73, 79, 80, 0.3);
    --cwFooterShadow: rgba(146, 149, 150, 0.7);
    --cwFooterShadowFade: rgba(146, 149, 150, 0);
    --cwFooterRadius: 8px;
    --cwFooterBorder: #1E2020;

    --cwSubHeaderG: linear-gradient(181deg, #272A2A 0%, #4e5252 100%);
    --cwSubHeaderBg: #4e5252;
    --cwSubHeaderBg2: #3f4242;
    --cwSubHeaderBg3: #2b2d2d;
    --cwSubHeaderBgHover: #444848;
    --cwSubHeaderBg2Hover: #353838;
    --cwSubHeaderBg3Hover: #212323;
    --cwSubHeaderTxt: #fff;
    --cwSubHeaderTxt2: #cacbcb;
    --cwSubHeaderTxt3: #a7a9a9;
    --cwSubHeaderAccent: #54CFE6;
    --cwSubHeaderAccentTxt: rgba(0, 0, 0, 0.9);
    --cwSubHeaderRGBA: rgba(78, 82, 82, 0.7);
    --cwSubHeaderRGBA2: rgba(78, 82, 82, 0.5);
    --cwSubHeaderRGBA3: rgba(78, 82, 82, 0.3);
    --cwSubHeaderShadow: rgba(149, 151, 151, 0.7);
    --cwSubHeaderShadowFade: rgba(149, 151, 151, 0);
    --cwSubHeaderRadius: 8px;
    --cwSubHeaderBorder: #1E2020;

    --cwTabG: #393d3d;
    --cwTabBg: #393d3d;
    --cwTabBg2: #545a5a;
    --cwTabBg3: #686f6f;
    --cwTabBgHover: #454a4a;
    --cwTabBg2Hover: #606767;
    --cwTabBg3Hover: #747c7c;
    --cwTabTxt: #fff;
    --cwTabTxt2: #c4c5c5;
    --cwTabTxt3: #9c9e9e;
    --cwTabAccent: #54CFE6;
    --cwTabAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabRGBA: rgba(57, 61, 61, 0.7);
    --cwTabRGBA2: rgba(57, 61, 61, 0.5);
    --cwTabRGBA3: rgba(57, 61, 61, 0.3);
    --cwTabShadow: rgba(34, 37, 37, 0.7);
    --cwTabShadowFade: rgba(34, 37, 37, 0);
    --cwTabRadius: 8px;
    --cwTabBorder: #1E2020;

    --cwTabActiveG: #454a4a;
    --cwTabActiveBg: #454a4a;
    --cwTabActiveBg2: #606767;
    --cwTabActiveBg3: #747c7c;
    --cwTabActiveBgHover: #515757;
    --cwTabActiveBg2Hover: #6c7474;
    --cwTabActiveBg3Hover: #818989;
    --cwTabActiveTxt: #fff;
    --cwTabActiveTxt2: #c7c9c9;
    --cwTabActiveTxt3: #a2a5a5;
    --cwTabActiveAccent: #54CFE6;
    --cwTabActiveAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTabActiveRGBA: rgba(69, 74, 74, 0.7);
    --cwTabActiveRGBA2: rgba(69, 74, 74, 0.5);
    --cwTabActiveRGBA3: rgba(69, 74, 74, 0.3);
    --cwTabActiveShadow: rgba(41, 44, 44, 0.7);
    --cwTabActiveShadowFade: rgba(41, 44, 44, 0);
    --cwTabActiveRadius: 8px;
    --cwTabActiveBorder: #1E2020;

    --cwInputG: #393d3d;
    --cwInputBg: #393d3d;
    --cwInputBg2: #545a5a;
    --cwInputBg3: #686f6f;
    --cwInputBgHover: #454a4a;
    --cwInputBg2Hover: #606767;
    --cwInputBg3Hover: #747c7c;
    --cwInputTxt: #fff;
    --cwInputTxt2: #c4c5c5;
    --cwInputTxt3: #9c9e9e;
    --cwInputAccent: #54CFE6;
    --cwInputAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputRGBA: rgba(57, 61, 61, 0.7);
    --cwInputRGBA2: rgba(57, 61, 61, 0.5);
    --cwInputRGBA3: rgba(57, 61, 61, 0.3);
    --cwInputShadow: rgba(34, 37, 37, 0.7);
    --cwInputShadowFade: rgba(34, 37, 37, 0);
    --cwInputRadius: 8px;
    --cwInputBorder: #1E2020;

    --cwInputSecondaryG: #454a4a;
    --cwInputSecondaryBg: #454a4a;
    --cwInputSecondaryBg2: #606767;
    --cwInputSecondaryBg3: #747c7c;
    --cwInputSecondaryBgHover: #515757;
    --cwInputSecondaryBg2Hover: #6c7474;
    --cwInputSecondaryBg3Hover: #818989;
    --cwInputSecondaryTxt: #fff;
    --cwInputSecondaryTxt2: #c7c9c9;
    --cwInputSecondaryTxt3: #a2a5a5;
    --cwInputSecondaryAccent: #54CFE6;
    --cwInputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
    --cwInputSecondaryRGBA: rgba(69, 74, 74, 0.7);
    --cwInputSecondaryRGBA2: rgba(69, 74, 74, 0.5);
    --cwInputSecondaryRGBA3: rgba(69, 74, 74, 0.3);
    --cwInputSecondaryShadow: rgba(41, 44, 44, 0.7);
    --cwInputSecondaryShadowFade: rgba(41, 44, 44, 0);
    --cwInputSecondaryRadius: 8px;
    --cwInputSecondaryBorder: #1E2020;

    --cwFilterG: #393d3d;
    --cwFilterBg: #393d3d;
    --cwFilterBg2: #545a5a;
    --cwFilterBg3: #686f6f;
    --cwFilterBgHover: #454a4a;
    --cwFilterBg2Hover: #606767;
    --cwFilterBg3Hover: #747c7c;
    --cwFilterTxt: #fff;
    --cwFilterTxt2: #c4c5c5;
    --cwFilterTxt3: #9c9e9e;
    --cwFilterAccent: #54CFE6;
    --cwFilterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwFilterRGBA: rgba(57, 61, 61, 0.7);
    --cwFilterRGBA2: rgba(57, 61, 61, 0.5);
    --cwFilterRGBA3: rgba(57, 61, 61, 0.3);
    --cwFilterShadow: rgba(34, 37, 37, 0.7);
    --cwFilterShadowFade: rgba(34, 37, 37, 0);
    --cwFilterRadius: 8px;
    --cwFilterBorder: #1E2020;

    --cwTooltipG: #393d3d;
    --cwTooltipBg: #393d3d;
    --cwTooltipBg2: #545a5a;
    --cwTooltipBg3: #686f6f;
    --cwTooltipBgHover: #454a4a;
    --cwTooltipBg2Hover: #606767;
    --cwTooltipBg3Hover: #747c7c;
    --cwTooltipTxt: #fff;
    --cwTooltipTxt2: #c4c5c5;
    --cwTooltipTxt3: #9c9e9e;
    --cwTooltipAccent: #54CFE6;
    --cwTooltipAccentTxt: rgba(0, 0, 0, 0.9);
    --cwTooltipRGBA: rgba(57, 61, 61, 0.7);
    --cwTooltipRGBA2: rgba(57, 61, 61, 0.5);
    --cwTooltipRGBA3: rgba(57, 61, 61, 0.3);
    --cwTooltipShadow: rgba(34, 37, 37, 0.7);
    --cwTooltipShadowFade: rgba(34, 37, 37, 0);
    --cwTooltipRadius: 8px;
    --cwTooltipBorder: #1E2020;

    --cwModalG: #2a2d2d;
    --cwModalBg: #2a2d2d;
    --cwModalBg2: #454a4a;
    --cwModalBg3: #595f5f;
    --cwModalBgHover: #363a3a;
    --cwModalBg2Hover: #515757;
    --cwModalBg3Hover: #656c6c;
    --cwModalTxt: #fff;
    --cwModalTxt2: #bfc0c0;
    --cwModalTxt3: #959696;
    --cwModalAccent: #54CFE6;
    --cwModalAccentTxt: rgba(0, 0, 0, 0.9);
    --cwModalRGBA: rgba(42, 45, 45, 0.7);
    --cwModalRGBA2: rgba(42, 45, 45, 0.5);
    --cwModalRGBA3: rgba(42, 45, 45, 0.3);
    --cwModalShadow: rgba(25, 27, 27, 0.7);
    --cwModalShadowFade: rgba(25, 27, 27, 0);
    --cwModalRadius: 8px;
    --cwModalBorder: #1E2020;

    --cwLoginG: #393d3d;
    --cwLoginBg: #393d3d;
    --cwLoginBg2: #545a5a;
    --cwLoginBg3: #686f6f;
    --cwLoginBgHover: #454a4a;
    --cwLoginBg2Hover: #606767;
    --cwLoginBg3Hover: #747c7c;
    --cwLoginTxt: #fff;
    --cwLoginTxt2: #c4c5c5;
    --cwLoginTxt3: #9c9e9e;
    --cwLoginAccent: #54CFE6;
    --cwLoginAccentTxt: rgba(0, 0, 0, 0.9);
    --cwLoginRGBA: rgba(57, 61, 61, 0.7);
    --cwLoginRGBA2: rgba(57, 61, 61, 0.5);
    --cwLoginRGBA3: rgba(57, 61, 61, 0.3);
    --cwLoginShadow: rgba(34, 37, 37, 0.7);
    --cwLoginShadowFade: rgba(34, 37, 37, 0);
    --cwLoginRadius: 8px;
    --cwLoginBorder: #1E2020;

    --cwRegisterG: #393d3d;
    --cwRegisterBg: #393d3d;
    --cwRegisterBg2: #545a5a;
    --cwRegisterBg3: #686f6f;
    --cwRegisterBgHover: #454a4a;
    --cwRegisterBg2Hover: #606767;
    --cwRegisterBg3Hover: #747c7c;
    --cwRegisterTxt: #fff;
    --cwRegisterTxt2: #c4c5c5;
    --cwRegisterTxt3: #9c9e9e;
    --cwRegisterAccent: #54CFE6;
    --cwRegisterAccentTxt: rgba(0, 0, 0, 0.9);
    --cwRegisterRGBA: rgba(57, 61, 61, 0.7);
    --cwRegisterRGBA2: rgba(57, 61, 61, 0.5);
    --cwRegisterRGBA3: rgba(57, 61, 61, 0.3);
    --cwRegisterShadow: rgba(34, 37, 37, 0.7);
    --cwRegisterShadowFade: rgba(34, 37, 37, 0);
    --cwRegisterRadius: 8px;
    --cwRegisterBorder: #1E2020;
}
/*Start Footer*/
.footer_social-list {
    margin-bottom: 36px;
}
.textRga a {
    text-decoration: underline;
}
.licenses_block .footer_bottom_text {
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto;
    width: 100%;
    color:var(--cwFooterTxt);
    margin-bottom:42px;
}
.licenses_block a {
    text-decoration: underline;
}
/*End Footer*/


