#sport-simple-east {
  /*Background Colors*/

  --bodyBg: #242424;
  --headerBg: #242424;

  --bodyTxt: #ffffff;
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);

  /*Navbar tabs*/

  --tabActiveBg: #1d1d1d;
  --tabActiveTxt: #fff;

  /*Odd Colors*/

  --oddBg: #fdb510;
  --oddTxt: #ffffff;

  --oddActiveBg: #d7a94f;
  --oddActiveTxt: #000;

  --oddBg2: #d7a94f;
  --oddActiveBg2: #d7a94f;

  --headerTxt: #fff;

  --inputBg: #fff;
  --inputTxt: #000;

  --dominantBg: #0a0a0a;
  --dominantTxt: #fff;

  --accentBg: #fdb510;
  --accentTxt: #000;

  --bodyBg2: #3d3d3d;
  --bodyBg3: #4a4a4a;
  --bodyBgHover: #2c2c2c;
  --bodyBg2Hover: #454545;
  --bodyBg3Hover: #525252;
  --bodyRGBA: rgba(36, 36, 36, 0.7);
  --bodyRGBA2: rgba(36, 36, 36, 0.5);
  --bodyRGBA3: rgba(36, 36, 36, 0.3);
  --bodyAccent: #fdb510;
  --bodyAccentTxt: rgba(0, 0, 0, 0.9);
  --bodyBorder: #242424;
  --bodyRadius: 0px;

  --dominantRGBA: rgba(10, 10, 10, 0.7);
  --dominantRGBA2: rgba(10, 10, 10, 0.5);
  --dominantRGBA3: rgba(10, 10, 10, 0.3);
  --dominantBg2: #232323;
  --dominantBg3: #303030;
  --dominantBgHover: #121212;
  --dominantBg2Hover: #2b2b2b;
  --dominantBg3Hover: #383838;
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --accentBg2: #fdc543;
  --accentBg3: #fecc5c;
  --accentBgHover: #fdba1f;
  --accentBg2Hover: #fdca52;
  --accentBg3Hover: #fed16b;
  --accentTxt2: rgba(0, 0, 0, 0.6);
  --accentTxt3: rgba(0, 0, 0, 0.4);

  --buttonG: #fdba1f;
  --buttonBg: #fdba1f;
  --buttonBg2: #fdca52;
  --buttonBg3: #fed16b;
  --buttonBgHover: #fdbf2e;
  --buttonBg2Hover: #fdcf61;
  --buttonBg3Hover: #fed67a;
  --buttonTxt: rgba(0, 0, 0, 0.9);
  --buttonTxt2: rgba(0, 0, 0, 0.6);
  --buttonTxt3: rgba(0, 0, 0, 0.4);
  --buttonAccent: #fdb510;
  --buttonAccentTxt: rgba(0, 0, 0, 0.9);
  --buttonBorder: #242424;
  --buttonRadius: 0px;

  --buttonSecondaryG: #525252;
  --buttonSecondaryBg: #525252;
  --buttonSecondaryBg2: #6b6b6b;
  --buttonSecondaryBg3: #787878;
  --buttonSecondaryBgHover: #5a5a5a;
  --buttonSecondaryBg2Hover: #737373;
  --buttonSecondaryBg3Hover: #808080;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #fdb510;
  --buttonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --buttonSecondaryBorder: #242424;
  --buttonSecondaryRadius: 0px;

  --inputBg2: #ffffff;
  --inputBg3: #ffffff;
  --inputBgHover: #ffffff;
  --inputBg2Hover: #ffffff;
  --inputBg3Hover: #ffffff;
  --inputTxt2: rgba(0, 0, 0, 0.6);
  --inputTxt3: rgba(0, 0, 0, 0.4);
  --inputAccent: #fdb510;
  --inputAccentTxt: rgba(0, 0, 0, 0.9);
  --inputRadius: 0px;
  --inputBorder: #242424;

  --inputSecondaryG: #ffffff;
  --inputSecondaryBg: #ffffff;
  --inputSecondaryBg2: #ffffff;
  --inputSecondaryBg3: #ffffff;
  --inputSecondaryBgHover: #ffffff;
  --inputSecondaryBg2Hover: #ffffff;
  --inputSecondaryBg3Hover: #ffffff;
  --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
  --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
  --inputSecondaryAccent: #fdb510;
  --inputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #242424;

  --headerBg2: #3d3d3d;
  --headerBg3: #4a4a4a;
  --headerBgHover: #2c2c2c;
  --headerBg2Hover: #454545;
  --headerBg3Hover: #525252;
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #fdb510;
  --headerAccentTxt: rgba(0, 0, 0, 0.9);
  --headerBorder: #242424;
  --headerRadius: 0px;

  --subHeaderG: #454545;
  --subHeaderBg: #454545;
  --subHeaderBg2: #5e5e5e;
  --subHeaderBg3: #6b6b6b;
  --subHeaderBgHover: #4d4d4d;
  --subHeaderBg2Hover: #666666;
  --subHeaderBg3Hover: #737373;
  --subHeaderTxt: rgba(255, 255, 255, 0.9);
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #fdb510;
  --subHeaderAccentTxt: rgba(0, 0, 0, 0.9);
  --subHeaderBorder: #242424;
  --subHeaderRadius: 0px;

  --eventG: #232323;
  --eventBg: #232323;
  --eventBg2: #3c3c3c;
  --eventBg3: #494949;
  --eventBgHover: #2b2b2b;
  --eventBg2Hover: #444444;
  --eventBg3Hover: #515151;
  --eventTxt: rgba(255, 255, 255, 0.9);
  --eventTxt2: rgba(255, 255, 255, 0.6);
  --eventTxt3: rgba(255, 255, 255, 0.4);
  --eventAccent: #fdb510;
  --eventAccentTxt: rgba(0, 0, 0, 0.9);
  --eventBorder: #242424;
  --eventRadius: 0px;

  --modalG: #232323;
  --modalBg: #232323;
  --modalBg2: #3c3c3c;
  --modalBg3: #494949;
  --modalBgHover: #2b2b2b;
  --modalBg2Hover: #444444;
  --modalBg3Hover: #515151;
  --modalTxt: rgba(255, 255, 255, 0.9);
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #fdb510;
  --modalAccentTxt: rgba(0, 0, 0, 0.9);
  --modalRadius: 0px;
  --modalBorder: #242424;

  --oddBg3: #fecc5c;
  --oddBgHover: #fdba1f;
  --oddBg2Hover: #fdca52;
  --oddBg3Hover: #fed16b;
  --oddTxt2: rgba(0, 0, 0, 0.6);
  --oddTxt3: rgba(0, 0, 0, 0.4);
  --oddAccent: #fdb510;
  --oddAccentTxt: rgba(0, 0, 0, 0.9);
  --oddRadius: 0px;
  --oddBorder: #242424;

  --oddActiveBg3: #e5c78d;
  --oddActiveBgHover: #daaf5b;
  --oddActiveBg2Hover: #e3c385;
  --oddActiveBg3Hover: #e8cd99;
  --oddActiveTxt2: rgba(0, 0, 0, 0.6);
  --oddActiveTxt3: rgba(0, 0, 0, 0.4);
  --oddActiveAccent: #fdb510;
  --oddActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #242424;

  --showMoreG: #181818;
  --showMoreBg: #181818;
  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt: rgba(255, 255, 255, 0.9);
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccent: #fdb510;
  --showMoreAccentTxt: rgba(0, 0, 0, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #242424;

  --tabG: #232323;
  --tabBg: #232323;
  --tabBg2: #3c3c3c;
  --tabBg3: #494949;
  --tabBgHover: #2b2b2b;
  --tabBg2Hover: #444444;
  --tabBg3Hover: #515151;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #fdb510;
  --tabAccentTxt: rgba(0, 0, 0, 0.9);
  --tabRadius: 0px;
  --tabBorder: #242424;

  --tabActiveBg2: #363636;
  --tabActiveBg3: #434343;
  --tabActiveBgHover: #252525;
  --tabActiveBg2Hover: #3e3e3e;
  --tabActiveBg3Hover: #4b4b4b;
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #fdb510;
  --tabActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #242424;

  --tabSecondaryActiveG: #2b2b2b;
  --tabSecondaryActiveBg: #2b2b2b;
  --tabSecondaryActiveBg2: #444444;
  --tabSecondaryActiveBg3: #515151;
  --tabSecondaryActiveBgHover: #333333;
  --tabSecondaryActiveBg2Hover: #4c4c4c;
  --tabSecondaryActiveBg3Hover: #595959;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #fdb510;
  --tabSecondaryActiveAccentTxt: rgba(0, 0, 0, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #242424;

  --filterG: #ffffff;
  --filterBg: #ffffff;
  --filterBg2: #ffffff;
  --filterBg3: #ffffff;
  --filterBgHover: #ffffff;
  --filterBg2Hover: #ffffff;
  --filterBg3Hover: #ffffff;
  --filterTxt: rgba(0, 0, 0, 0.9);
  --filterTxt2: rgba(0, 0, 0, 0.6);
  --filterTxt3: rgba(0, 0, 0, 0.4);
  --filterAccent: #fdb510;
  --filterAccentTxt: rgba(0, 0, 0, 0.9);
  --filterRadius: 0px;
  --filterBorder: #242424;

  --menu_1G: #232323;
  --menu_1Bg: #232323;
  --menu_1Bg2: #3c3c3c;
  --menu_1Bg3: #494949;
  --menu_1BgHover: #2b2b2b;
  --menu_1Bg2Hover: #444444;
  --menu_1Bg3Hover: #515151;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #fdb510;
  --menu_1AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #242424;

  --menu_2G: #2b2b2b;
  --menu_2Bg: #2b2b2b;
  --menu_2Bg2: #444444;
  --menu_2Bg3: #515151;
  --menu_2BgHover: #333333;
  --menu_2Bg2Hover: #4c4c4c;
  --menu_2Bg3Hover: #595959;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #fdb510;
  --menu_2AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #242424;

  --menu_3G: #303030;
  --menu_3Bg: #303030;
  --menu_3Bg2: #494949;
  --menu_3Bg3: #565656;
  --menu_3BgHover: #383838;
  --menu_3Bg2Hover: #515151;
  --menu_3Bg3Hover: #5e5e5e;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #fdb510;
  --menu_3AccentTxt: rgba(0, 0, 0, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #242424;

  --tooltipG: #232323;
  --tooltipBg: #232323;
  --tooltipBg2: #3c3c3c;
  --tooltipBg3: #494949;
  --tooltipBgHover: #2b2b2b;
  --tooltipBg2Hover: #444444;
  --tooltipBg3Hover: #515151;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #fdb510;
  --tooltipAccentTxt: rgba(0, 0, 0, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #242424;

  /* Old betslip */
  --betSlipBg: #232323;
  --betSlipBg2: #3c3c3c;
  --betSlipBorder: #242424;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipTxt2: rgba(255, 255, 255, 0.6);

  --betSlipStakeG: #2b2b2b;
  --betSlipStakeBg: #2b2b2b;
  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);

  --betSlipInputG: #2b2b2b;
  --betSlipInputTxt: rgba(255, 255, 255, 0.9);

  --betSlipButtonG: #2b2b2b;
  --betSlipButtonBg2: #444444;
  --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
  --betSlipButtonRadius: 0px;

  --spritePositionX: 0px;
}
